USE [SendMnPro_Account]
GO
/****** Object:  Table [dbo].[TEMP111901147]    Script Date: 5/18/2021 5:20:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMP111901147](
	[TRAN_DATE] [date] NULL,
	[cumulative] [money] NULL
) ON [PRIMARY]
GO
