USE [SendMnPro_Account]
GO
/****** Object:  Table [dbo].[configTable]    Script Date: 5/18/2021 5:20:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[configTable](
	[id] [int] NULL,
	[cat] [varchar](50) NULL,
	[value] [varchar](50) NULL
) ON [PRIMARY]
GO
