USE [SendMnPro_Account]
GO
/****** Object:  Table [dbo].[LOCAL_PAID_DATA]    Script Date: 5/18/2021 5:20:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCAL_PAID_DATA](
	[Tranno] [float] NULL,
	[refno] [nvarchar](255) NULL,
	[agentid] [float] NULL,
	[agentname] [nvarchar](255) NULL,
	[district_code] [float] NULL,
	[district_name] [nvarchar](255) NULL,
	[CUstomerId] [nvarchar](255) NULL,
	[SenderName] [nvarchar](255) NULL,
	[SenderAddress] [nvarchar](255) NULL,
	[SenderPhoneno] [float] NULL,
	[SenderCity] [nvarchar](255) NULL,
	[SenderCountry] [nvarchar](255) NULL,
	[ReceiverPassport] [nvarchar](255) NULL,
	[ReceiverName] [nvarchar](255) NULL,
	[ReceiverAddress] [nvarchar](255) NULL,
	[ReceiverPhone] [float] NULL,
	[ReceiverCity] [nvarchar](255) NULL,
	[ReceiverCountry] [nvarchar](255) NULL,
	[DOT] [datetime] NULL,
	[DOtTime] [datetime] NULL,
	[paidAmt] [float] NULL,
	[paidCType] [nvarchar](255) NULL,
	[receiveAmt] [float] NULL,
	[receiveCType] [nvarchar](255) NULL,
	[ExchnageRate] [nvarchar](255) NULL,
	[Today_Dollar_rate] [nvarchar](255) NULL,
	[Dollar_Amt] [nvarchar](255) NULL,
	[Scharge] [float] NULL,
	[ReceiverMessage] [nvarchar](255) NULL,
	[paymentType] [nvarchar](255) NULL,
	[rBankId] [float] NULL,
	[rBankName] [nvarchar](255) NULL,
	[rBankBranch] [nvarchar](255) NULL,
	[otherCharge] [float] NULL,
	[TransStatus] [nvarchar](255) NULL,
	[status] [nvarchar](255) NULL,
	[SEmpID] [nvarchar](255) NULL,
	[TotalRoundAmt] [float] NULL,
	[paidBy] [nvarchar](255) NULL,
	[paidDate] [datetime] NULL,
	[paidTime] [datetime] NULL,
	[courierId] [nvarchar](255) NULL,
	[PODDate] [datetime] NULL,
	[senderCommission] [float] NULL,
	[receiverCommission] [float] NULL,
	[receiveAgentID] [float] NULL,
	[confirmDate] [datetime] NULL,
	[local_DOT] [datetime] NULL,
	[lock_status] [nvarchar](255) NULL,
	[lock_dot] [datetime] NULL,
	[lock_by] [nvarchar](255) NULL,
	[bank_id] [nvarchar](255) NULL,
	[bank_branch_name] [nvarchar](255) NULL,
	[bank_account_detail] [nvarchar](255) NULL,
	[approve_by] [nvarchar](255) NULL,
	[chk_cancel_charge] [nvarchar](255) NULL,
	[ext_commission] [float] NULL,
	[digital_id_sender] [nvarchar](255) NULL,
	[digital_id_payout] [nvarchar](255) NULL,
	[sms_activation_code] [nvarchar](255) NULL
) ON [PRIMARY]
GO
