USE [SendMnPro_Account]
GO
/****** Object:  Table [dbo].[TEMP_TRAN_UPLOAD]    Script Date: 5/18/2021 5:20:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMP_TRAN_UPLOAD](
	[ROW_ID] [int] IDENTITY(1,1) NOT NULL,
	[SESSION_ID] [varchar](50) NULL,
	[USER] [varchar](50) NULL,
	[ACC_NUM] [varchar](30) NULL,
	[AMOUNT] [money] NULL,
	[TRAN_DATE] [datetime] NULL,
	[TRAN_TYPE] [char](2) NULL,
	[NARRATION] [nvarchar](250) NULL,
	[CREATED_DATE] [datetime] NULL,
	[field2] [varchar](50) NULL,
	[voucher] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
