USE [SendMnPro_Remit]
GO
/****** Object:  StoredProcedure [dbo].[PROC_STATUS_CHANGE_AFTER_PAID_OR_CANCEL]    Script Date: 5/18/2021 5:17:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC [dbo].[PROC_STATUS_CHANGE_AFTER_PAID_OR_CANCEL]
		@FLAG    VARCHAR(20)  
		,@user					VARCHAR(50)  = NULL  
		,@pageSize				VARCHAR(50)  = NULL  
		,@pageNumber			VARCHAR(50)  = NULL  
		,@sortBy				VARCHAR(50)  = NULL  
		,@sortOrder				VARCHAR(50)  = NULL  
		,@CONTROLNO				VARCHAR(30)  = NULL
AS
SET NOCOUNT ON;
SET XACT_ABORT ON;
BEGIN
DECLARE  @table    VARCHAR(MAX)  
		,@select_field_list VARCHAR(MAX)  
		,@extra_field_list VARCHAR(MAX)  
		,@sql_filter  VARCHAR(MAX)  
	IF @FLAG = 'S'
	BEGIN
		
		SET @table = '(SELECT S.CONTROLNO, R.UPLOADLOGID, S.CANCELAPPROVEDDATE, S.PAIDDATE, S.TRANSTATUS, S.PAYSTATUS, OLD_TRAN_STATUS = R.TRANSTATUS, OLD_PAYSTATUS = R.PAYSTATUS
						FROM TXN_SYNC_STATUS S(NOLOCK)
						INNER JOIN REMITTRAN R(NOLOCK) ON R.CONTROLNO = S.CONTROLNO_ENC
						WHERE S.PAIDDATE IS NOT NULL 
						AND S.CANCELAPPROVEDDATE IS NOT NULL
						AND S.transtatus = ''cancel''
						and R.transtatus <> ''cancel''
		
						UNION ALL

						SELECT S.CONTROLNO, R.UPLOADLOGID, S.CANCELAPPROVEDDATE, S.PAIDDATE, S.TRANSTATUS, S.PAYSTATUS, OLD_TRAN_STATUS = R.TRANSTATUS, OLD_PAYSTATUS = R.PAYSTATUS
						FROM TXN_SYNC_STATUS S(NOLOCK)
						INNER JOIN REMITTRAN R(NOLOCK) ON R.CONTROLNO = S.CONTROLNO_ENC
						WHERE S.PAIDDATE IS NOT NULL 
						AND S.CANCELAPPROVEDDATE IS NOT NULL
						AND (S.transtatus = ''PAID'' OR S.PAYSTATUS = ''PAID'')
						and (R.transtatus <> ''PAID'' OR R.TRANSTATUS <> ''PAID'')'  
		SET @sql_filter = ''  
		SET @table = @table + ')x' 
		 
		IF @CONTROLNO IS NOT NULL
			SET @sql_filter = @sql_filter + ' AND CONTROLNO = '''+@CONTROLNO+''''
			
		SET @select_field_list  = 'CONTROLNO,UPLOADLOGID,CANCELAPPROVEDDATE,PAIDDATE,TRANSTATUS,PAYSTATUS,OLD_TRAN_STATUS,OLD_PAYSTATUS'  
		      
		EXEC dbo.proc_paging @table, @sql_filter, @select_field_list, @extra_field_list  
							, @sortBy, @sortOrder, @pageSize, @pageNumber  
	END
	ELSE IF @FLAG = 'SYNC'
	BEGIN
		DECLARE @CANCELAPPROVEDDATE VARCHAR(20), @PAIDDATE VARCHAR(20), @TRANSTATUS VARCHAR(30), @PAYSTATUS VARCHAR(30), @TRANID BIGINT
			, @ref_num VARCHAR(20), @cancelReason VARCHAR(200)

		SELECT @CANCELAPPROVEDDATE = S.CANCELAPPROVEDDATE, @PAIDDATE = S.PAIDDATE, @TRANSTATUS = S.TranStatus,
				@PAYSTATUS = S.PayStatus, @TRANID = R.ID
		FROM TXN_SYNC_STATUS S(NOLOCK) 
		INNER JOIN REMITTRAN R(NOLOCK) ON R.CONTROLNO = S.CONTROLNO_ENC
		WHERE S.CONTROLNO = @CONTROLNO

		IF @TRANSTATUS IN ('Paid') OR @PAYSTATUS IN ('Paid')
		BEGIN
			IF NOT EXISTS(SELECT 1 FROM SendMnPro_Account.dbo.TRAN_MASTER (NOLOCK) WHERE FIELD1 = @CONTROLNO AND FIELD2 = 'REMITTANCE VOUCHER' AND ACCT_TYPE_CODE = 'PAID')
			BEGIN
				EXEC SendMnPro_Account.dbo.PROC_TRANSACTION_PAID_VOUCHER_ENTRY @controlNo=@CONTROLNO,@tranDate=@PAIDDATE
			END

			UPDATE REMITTRAN SET PAIDBY='SYSTEM', PAIDDATE=@PAIDDATE, TRANSTATUS='Paid', PAYSTATUS = 'Paid'
			WHERE ID = @TRANID
		END
		ELSE IF @TRANSTATUS IN ('Cancel', 'CancelHOLD')
		BEGIN
			UPDATE REMITTRAN SET CANCELAPPROVEDBY='SYSTEM', CANCELAPPROVEDDATE=@CANCELAPPROVEDDATE, TRANSTATUS='Cancel', PAYSTATUS = 'Unpaid'
			WHERE ID = @TRANID

			EXEC PROC_CANCEL_TXN_CASH @TRAN_ID = @TRANID 

			IF NOT EXISTS(SELECT 1 FROM SendMnPro_Account.dbo.TRAN_MASTER (NOLOCK) WHERE FIELD1 = @CONTROLNO AND FIELD2 = 'REMITTANCE VOUCHER' AND ACCT_TYPE_CODE = 'REVERSE')
			BEGIN
				SELECT TOP 1  @ref_num = t.ref_num 
				FROM SendMnPro_Account.dbo.tran_master t(NOLOCK)
				WHERE field1 = @CONTROLNO AND t.tran_type = 'j' AND field2 = 'Remittance Voucher'
				AND ACCT_TYPE_CODE IS NULL

				IF @ref_num IS NOT NULL
				BEGIN
					set @cancelReason ='Cancellation and refund of '+@CONTROLNO

					EXEC SendMnPro_Account.dbo.proc_CancelTranVoucher @flag = 'REVERSE', @tranDate = @CANCELAPPROVEDDATE,@refNum=@ref_num,@vType='J',@refund='N',@USER='SYSTEM',@remarks=@cancelReason
				END
			END
		END
	END
END

GO
