USE [SendMnPro_Remit]
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_JP_DEPOSIT_TXN_LOG]    Script Date: 5/18/2021 5:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC PROC_INSERT_JP_DEPOSIT_TXN_LOG @FLAG = 'I', @TRANID = 10116507, @CUSTOMERID = 29849, @CAMT = 250000.00

CREATE PROC [dbo].[PROC_INSERT_JP_DEPOSIT_TXN_LOG]
(
	@FLAG			VARCHAR(30)
	,@TRANID		BIGINT
	,@CUSTOMERID	BIGINT
	,@CAMT			MONEY
)
AS;
SET NOCOUNT ON;
SET XACT_ABORT ON;
BEGIN
	IF @FLAG = 'I'
	BEGIN
		DECLARE @AMOUNT MONEY = 0, @LOGID BIGINT, @DEPOSITAMOUNT MONEY
		
		SELECT TOP 20 *
		INTO #DEPOSITS
		FROM CUSTOMER_DEPOSIT_LOGS (NOLOCK)
		WHERE CUSTOMERID = @CUSTOMERID
		--AND APPROVEDDATE IS NOT NULL
		ORDER BY TRANID DESC

		CREATE TABLE #TEMP_LOG_DATA(LOGID BIGINT, DEPOSITAMOUNT MONEY)

		WHILE EXISTS(SELECT * FROM #DEPOSITS) AND @AMOUNT < @CAMT
		BEGIN
			SELECT @DEPOSITAMOUNT = DEPOSITAMOUNT, @LOGID = TRANID
			FROM #DEPOSITS
			ORDER BY TRANID ASC

			SET @AMOUNT = @AMOUNT + @DEPOSITAMOUNT

			INSERT INTO #TEMP_LOG_DATA
			SELECT @LOGID, @DEPOSITAMOUNT

			DELETE FROM #DEPOSITS WHERE TRANID = @LOGID
		END

		INSERT INTO TBL_BANK_DEPOSIT_TXN_MAPPING
		SELECT @CUSTOMERID, LOGID, @TRANID
		FROM #TEMP_LOG_DATA
	END
END

GO
