USE [SendMnPro_Remit]
GO
/****** Object:  StoredProcedure [dbo].[PROC_JOB_SYNC_TXN_STATUS]    Script Date: 5/18/2021 5:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC [dbo].[PROC_JOB_SYNC_TXN_STATUS]
AS
SET NOCOUNT ON;
SET XACT_ABORT ON;
BEGIN TRY
	DECLARE @TRANID BIGINT = NULL, @COUNTROLNO VARCHAR(30), @tranDate VARCHAR(20), @ISCANCEL INT, @cancelReason VARCHAR(100),
	@ref_num VARCHAR(20), @CANCELAPPROVEDDATE VARCHAR(20), @NEWTRANID BIGINT, @TRANSTATUS VARCHAR(20), @CONTROLNO_ENC VARCHAR(30),
	@PAIDDATE VARCHAR(20), @PAYSTATUS VARCHAR(30);
	
	--CREATE TABLE TEMP (ERROR_CODE VARCHAR(20), MSG VARCHAR(250), ID VARCHAR(20))

	WHILE EXISTS(SELECT top 1 1 FROM TXN_SYNC_STATUS (NOLOCK) WHERE voucher_gen = 0 AND (CANCELAPPROVEDDATE IS NOT NULL OR PAIDDATE IS NOT NULL) AND ISNULL(NO_VOUCHER, 0) = 0)
	BEGIN
		SELECT TOP 1 @COUNTROLNO = CONTROLNO, @CANCELAPPROVEDDATE = CANCELAPPROVEDDATE, @PAIDDATE = PAIDDATE, @TRANSTATUS = TranStatus,
				@PAYSTATUS = PayStatus
		FROM TXN_SYNC_STATUS
		WHERE voucher_gen = 0
		AND (CANCELAPPROVEDDATE IS NOT NULL OR PAIDDATE IS NOT NULL)
		AND ISNULL(NO_VOUCHER, 0) = 0

		SELECT @TRANID = ID
		FROM REMITTRAN (NOLOCK)
		WHERE CONTROLNO = DBO.FNAENCRYPTSTRING(@COUNTROLNO)

		IF EXISTS(SELECT TOP 1 1 FROM SendMnPro_Account.dbo.TRAN_MASTER (NOLOCK) WHERE FIELD1 = @COUNTROLNO AND FIELD2 = 'REMITTANCE VOUCHER')
		BEGIN
			IF @TRANSTATUS IN ('Paid') OR @PAYSTATUS IN ('Paid')
			BEGIN
				UPDATE REMITTRAN SET PAIDBY='SYSTEM', PAIDDATE=@PAIDDATE, TRANSTATUS='Paid', PAYSTATUS = 'Paid'
				WHERE ID = @TRANID

				EXEC SendMnPro_Account.dbo.PROC_TRANSACTION_PAID_VOUCHER_ENTRY @controlNo=@COUNTROLNO,@tranDate=@PAIDDATE

				UPDATE TXN_SYNC_STATUS SET voucher_gen = 1 WHERE CONTROLNO = @COUNTROLNO
			END
			ELSE IF @TRANSTATUS IN ('Cancel', 'CancelHOLD')
			BEGIN
				UPDATE REMITTRAN SET CANCELAPPROVEDBY='SYSTEM', CANCELAPPROVEDDATE=@CANCELAPPROVEDDATE, TRANSTATUS='Cancel', PAYSTATUS = 'Unpaid'
				WHERE ID = @TRANID

				EXEC PROC_CANCEL_TXN_CASH @TRAN_ID = @TRANID 

				SELECT TOP 1  @ref_num = t.ref_num 
				FROM SendMnPro_Account.dbo.tran_master t(NOLOCK)
				WHERE field1 = @COUNTROLNO AND t.tran_type = 'j' AND field2 = 'Remittance Voucher'
				AND ACCT_TYPE_CODE IS NULL

				IF @ref_num IS NOT NULL
				BEGIN
					set @cancelReason ='Cancellation and refund of '+@COUNTROLNO

					EXEC SendMnPro_Account.dbo.proc_CancelTranVoucher @flag = 'REVERSE', @tranDate = @CANCELAPPROVEDDATE,@refNum=@ref_num,@vType='J',@refund='N',@USER='SYSTEM',@remarks=@cancelReason
				END

				UPDATE TXN_SYNC_STATUS SET voucher_gen = 1 WHERE CONTROLNO = @COUNTROLNO
			END
		END
		ELSE
		BEGIN
			UPDATE TXN_SYNC_STATUS SET NO_VOUCHER = 1 WHERE CONTROLNO = @COUNTROLNO
		END
	END
	--EXEC PROC_JOB_VAULT_TRANSFER_AND_EOD
END TRY
BEGIN CATCH
	IF @@TRANCOUNT<>0
		ROLLBACK TRANSACTION
	DECLARE @errorMessage VARCHAR(MAX)
	SET @errorMessage = ERROR_MESSAGE()

	INSERT INTO JOB_ERROR_LOGS
	SELECT @errorMessage, 'PROC_JOB_SYNC_TXN_STATUS', GETDATE()
END CATCH

GO
