USE [SendMnPro_Remit]
GO
/****** Object:  StoredProcedure [dbo].[PROC_JOB_RECALCULATE_AGENT_COMM_AGENTS]    Script Date: 5/18/2021 5:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC [dbo].[PROC_JOB_RECALCULATE_AGENT_COMM_AGENTS]
AS
SET NOCOUNT ON;
SET XACT_ABORT ON;
BEGIN
	DECLARE @COMMISSION_AMT MONEY = NULL
		,@T_AMT MONEY = NULL
		,@FX MONEY = NULL
		,@IS_NEW_CUSTOMER CHAR(1) = NULL
		,@REFERRAL_CODE VARCHAR(50) = NULL
		,@PAYOUT_PARTNER INT = NULL
		,@CUSTOMER_ID BIGINT = NULL
		,@TRAN_ID BIGINT = NULL
		,@S_AGENT INT = NULL
		,@USER VARCHAR(60) = NULL
		,@TRAN_DATE VARCHAR(25) = NULL
		,@COLL_MODE VARCHAR(30) = NULL
		,@CONTROLNO VARCHAR(30) = NULL
		,@TOTAL_COMM MONEY = NULL
		,@IS_CANCEL BIT = 0
		,@CANCEL_APPROVED_DATE VARCHAR(30)
		,@REF_NUM VARCHAR(20) = NULL
		,@pAgentComm MONEY
		,@DEDUCT_TAX_ON_SC BIT
		,@DEDUCT_P_COMM_ON_SC BIT

	DECLARE @FX_INCENTIVE MONEY, @COMM_INCENTIVE MONEY, @NEW_CUSTOMER_INCENTIVE MONEY, @FLAT_INCENTIVE MONEY, @marketingIncentivePayableAcc VARCHAR(30) = '9539277135'
	DECLARE @FX_PCNT DECIMAL(5,2), @COMM_PCNT DECIMAL(5,2), @REFERRAL_ID INT, @UPDATE_TRN CHAR(1) = 'N', @NEW_CUSTOMER_RATE MONEY, @FLAT_RATE MONEY, @marketPromotionAcc VARCHAR(30) = '910639248385'
	SELECT isFirstTran FROM TRANSENDERS
	--WHILE EXISTS(SELECT TOP 1 1 FROM COMM_RECLAC WHERE IS_GEN = 0)
	BEGIN
		SELECT @COMMISSION_AMT = RT.SERVICECHARGE, @T_AMT = RT.TAMT, @FX = RT.AGENTFXGAIN, @IS_NEW_CUSTOMER = ISNULL(S.isFirstTran, 'N'),
				@REFERRAL_CODE = RT.PROMOTIONCODE, @PAYOUT_PARTNER = RT.PSUPERAGENT, @CUSTOMER_ID = S.CUSTOMERID,
				@TRAN_ID = RT.ID, @S_AGENT = RT.SAGENT, @USER = 'SYSTEM', @TRAN_DATE = RT.CREATEDDATE,
				@COLL_MODE = RT.COLLMODE, @CONTROLNO = DBO.DECRYPTDB(RT.CONTROLNO), @IS_CANCEL = CASE WHEN RT.TRANSTATUS = 'CANCEL'  THEN 1 ELSE 0 END
				, @CANCEL_APPROVED_DATE = RT.CANCELAPPROVEDDATE
		FROM REMITTRAN RT(NOLOCK)
		INNER JOIN COMM_RECLAC C(NOLOCK) ON C.ID = RT.ID
		LEFT JOIN TRANSENDERS S(NOLOCK) ON S.TRANID = RT.ID
		--WHERE IS_GEN = 0

		SET @UPDATE_TRN = 'Y'
		
		SELECT @REFERRAL_ID = ROW_ID FROM REFERRAL_AGENT_WISE (NOLOCK) WHERE AGENT_ID = @S_AGENT 

		IF NOT EXISTS (SELECT 1 FROM INCENTIVE_SETUP_REFERRAL_WISE (NOLOCK) WHERE REFERRAL_ID = @REFERRAL_ID AND PARTNER_ID = @PAYOUT_PARTNER AND IS_ACTIVE = 1)
		BEGIN
			SELECT TOP 1 @FX_PCNT = FX_PCNT, 
					@COMM_PCNT = COMM_PCNT, 
					@FLAT_INCENTIVE = FLAT_TXN_WISE, 
					@NEW_CUSTOMER_RATE = NEW_CUSTOMER,
					@DEDUCT_TAX_ON_SC = DEDUCT_TAX_ON_SC,
					@DEDUCT_P_COMM_ON_SC = DEDUCT_P_COMM_ON_SC
			FROM INCENTIVE_SETUP_REFERRAL_WISE (NOLOCK) 
			WHERE REFERRAL_ID = 0
			AND IS_ACTIVE = 1
			AND PARTNER_ID = @PAYOUT_PARTNER
			AND EFFECTIVE_FROM <= @TRAN_DATE
			ORDER BY EFFECTIVE_FROM DESC
		END
		ELSE
		BEGIN
			SELECT TOP 1 @FX_PCNT = FX_PCNT, 
					@COMM_PCNT = COMM_PCNT, 
					@FLAT_INCENTIVE = FLAT_TXN_WISE, 
					@NEW_CUSTOMER_RATE = NEW_CUSTOMER,
					@DEDUCT_TAX_ON_SC = DEDUCT_TAX_ON_SC,
					@DEDUCT_P_COMM_ON_SC = DEDUCT_P_COMM_ON_SC 
			FROM INCENTIVE_SETUP_REFERRAL_WISE (NOLOCK) 
			WHERE REFERRAL_ID = @REFERRAL_ID
			AND IS_ACTIVE = 1
			AND PARTNER_ID = @PAYOUT_PARTNER
			AND EFFECTIVE_FROM <= @TRAN_DATE
			ORDER BY EFFECTIVE_FROM DESC
		END
		

		IF @PAYOUT_PARTNER = 393880
			SET @FX_INCENTIVE = (@FX_PCNT * @T_AMT) / 100
		ELSE 
			SET @FX_INCENTIVE = (@FX_PCNT * @FX) / 100

		IF ISNULL(@COMM_PCNT, 0) <> 0
		BEGIN
			IF ISNULL(@DEDUCT_TAX_ON_SC, 0) = 0
				SET @COMM_INCENTIVE = (@COMM_PCNT * @COMMISSION_AMT) / 100
			ELSE 
				SET @COMM_INCENTIVE = (@COMM_PCNT * (@COMMISSION_AMT / 1.1)) / 100
		END


		IF ISNULL(@IS_NEW_CUSTOMER, 'N') = 'N'
			SET @NEW_CUSTOMER_INCENTIVE = 0
		ELSE 
			SET @NEW_CUSTOMER_INCENTIVE = @NEW_CUSTOMER_RATE

		SET @TOTAL_COMM = ISNULL(@FX_INCENTIVE, 0) + ISNULL(@COMM_INCENTIVE, 0) + ISNULL(@NEW_CUSTOMER_INCENTIVE, 0) + ISNULL(@FLAT_INCENTIVE, 0)

		
		--SELECT ISNULL(@FX_INCENTIVE, 0), ISNULL(@COMM_INCENTIVE, 0), ISNULL(@NEW_CUSTOMER_INCENTIVE, 0), ISNULL(@FLAT_INCENTIVE, 0), @FX_PCNT
		--RETURN
		IF @UPDATE_TRN = 'Y'
		BEGIN
			DECLARE @agentCommPayableAcc VARCHAR(30), @sendingCommExpences VARCHAR(30) = '910139266612'

			SELECT @agentCommPayableAcc = ACCT_NUM
			FROM SendMnPro_Account.dbo.ac_master AC(NOLOCK)
			WHERE agent_id = @S_AGENT
			AND acct_rpt_code='ACP'
			

			UPDATE REMITTRAN SET SAGENTCOMM = ISNULL(@TOTAL_COMM, 0), SAGENTCOMMCURRENCY = 'JPY' WHERE ID = @TRAN_ID

			UPDATE SendMnPro_Account.dbo.TRAN_MASTER SET TRAN_AMT = ISNULL(@TOTAL_COMM, 0),
					USD_AMT = ISNULL(@TOTAL_COMM, 0)
			WHERE FIELD1 = @CONTROLNO AND ACC_NUM IN (@agentCommPayableAcc, @sendingCommExpences)
			AND FIELD2 = 'Remittance Voucher'
			
			IF NOT EXISTS(SELECT * FROM SendMnPro_Account.dbo.TRAN_MASTER(NOLOCK) WHERE FIELD1 = @CONTROLNO AND ACC_NUM IN (@agentCommPayableAcc, @sendingCommExpences) AND FIELD2 = 'Remittance Voucher')
			BEGIN
				UPDATE REFERRAL_COMM_UPDATE SET NO_ACC_VOUCHER = 1 WHERE TRAN_ID = @TRAN_ID
				
				--SELECT @REF_NUM = REF_NUM 
				--FROM SendMnPro_Account.dbo.tran_master
				--WHERE FIELD1 = @CONTROLNO
				--AND FIELD2 = 'Remittance Voucher'
				--AND ISNULL(ACCT_TYPE_CODE, '') = ''

				--insert into SendMnPro_Account.dbo.tran_master (acc_num, entry_user_id, gl_sub_head_code, part_tran_srl_num, part_tran_type, ref_num, tran_amt, tran_date
				--		, tran_type, created_date, company_id, runningbalance, usd_amt, usd_rate, field1, field2, fcy_curr, dept_id, branch_id, acct_type_code)
				--SELECT @sendingCommExpences, 'SYSTEM', 97, 11, 'dr', @REF_NUM, ISNULL(@TOTAL_COMM, 0), @TRAN_DATE
				--			, 'j', GETDATE(), 1, 0, ISNULL(@TOTAL_COMM, 0), 1, @CONTROLNO, 'Remittance Voucher', 'JPY', NULL, NULL, NULL	UNION ALL
				--SELECT @agentCommPayableAcc, 'SYSTEM', 65, 12, 'cr', @REF_NUM, ISNULL(@TOTAL_COMM, 0), @TRAN_DATE
				--			, 'j', GETDATE(), 1, 0, ISNULL(@TOTAL_COMM, 0), 1, @CONTROLNO, 'Remittance Voucher', 'JPY', NULL, NULL, NULL

				--IF @IS_CANCEL = 1 AND NOT EXISTS(SELECT * FROM SendMnPro_Account.dbo.TRAN_MASTER(NOLOCK) WHERE FIELD1 = @CONTROLNO AND ACC_NUM IN ('9539277135', '910639248385') AND FIELD2 = 'Remittance Voucher' AND ISNULL(ACCT_TYPE_CODE, '') = 'Reverse') 
				--BEGIN
				--	SELECT @REF_NUM = REF_NUM 
				--	FROM SendMnPro_Account.dbo.tran_master
				--	WHERE FIELD1 = @CONTROLNO
				--	AND FIELD2 = 'Remittance Voucher'
				--	AND ISNULL(ACCT_TYPE_CODE, '') = 'Reverse'

				--	insert into SendMnPro_Account.dbo.tran_master (acc_num, entry_user_id, gl_sub_head_code, part_tran_srl_num, part_tran_type, ref_num, tran_amt, tran_date
				--			, tran_type, created_date, company_id, runningbalance, usd_amt, usd_rate, field1, field2, fcy_curr, dept_id, branch_id, acct_type_code)
				--	SELECT @agentCommPayableAcc, 'SYSTEM', 97, 11, 'dr', @REF_NUM, ISNULL(@TOTAL_COMM, 0), @CANCEL_APPROVED_DATE
				--				, 'j', GETDATE(), 1, 0, ISNULL(@TOTAL_COMM, 0), 1, @CONTROLNO, 'Remittance Voucher', 'JPY', NULL, NULL, 'Reverse'	UNION ALL
				--	SELECT @sendingCommExpences, 'SYSTEM', 65, 12, 'cr', @REF_NUM, ISNULL(@TOTAL_COMM, 0), @CANCEL_APPROVED_DATE
				--				, 'j', GETDATE(), 1, 0, ISNULL(@TOTAL_COMM, 0), 1, @CONTROLNO, 'Remittance Voucher', 'JPY', NULL, NULL, 'Reverse'
				--END
			END
		END

		UPDATE REFERRAL_COMM_UPDATE SET IS_GEN = 1 WHERE TRAN_ID = @TRAN_ID
	END
END


GO
