USE [SendMnPro_Remit]
GO
/****** Object:  StoredProcedure [dbo].[PROC_JOB_CUSTOMER_DEPOSIT_MAPPING]    Script Date: 5/18/2021 5:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_JOB_CUSTOMER_DEPOSIT_MAPPING]
AS
SET NOCOUNT ON;
SET XACT_ABORT ON;
BEGIN
	DECLARE @tranId INT, @customerId INT
	WHILE EXISTS(SELECT TOP 1 1 FROM CUSTOMER_DEPOSIT_QUEUE WHERE IS_UPDATED IS NULL)
	BEGIN
		select @customerId = CUSTOMER, @tranId = tranid 
		FROM CUSTOMER_DEPOSIT_QUEUE 
		WHERE IS_UPDATED IS NULL
 
		EXEC PROC_CUSTOMER_DEPOSITS @flag = 'i', @user = 'system', @tranId = @tranId, @customerId = @customerId

		UPDATE CUSTOMER_DEPOSIT_QUEUE SET IS_UPDATED = 1 WHERE tranId = @tranId
	END
END

GO
