USE [SendMnPro_Remit]
GO
/****** Object:  StoredProcedure [dbo].[PROC_THIRDPARTY_TOKEN]    Script Date: 5/18/2021 5:17:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_THIRDPARTY_TOKEN]
(
	@FLAG VARCHAR(20)
	,@PARTNER_CODE VARCHAR(20) = NULL
	,@TOKEN VARCHAR(150) = NULL
)
AS;
SET NOCOUNT ON;
SET XACT_ABORT ON;
BEGIN
	DECLARE @MSG VARCHAR(150), @THRESHHOLD INT = 3
	IF @FLAG = 'GET'
	BEGIN
		IF NOT EXISTS(SELECT * FROM TBL_THIRDPARTY_TOKEN (NOLOCK) WHERE PARTNER_CODE = @PARTNER_CODE)
		BEGIN
			SET @MSG = 'No access-code settings not defined for this partner: ' + @PARTNER_CODE
			SELECT 1 ErrorCode, @MSG Msg, NULL ID;
			RETURN;
		END
		IF EXISTS(SELECT * FROM TBL_THIRDPARTY_TOKEN (NOLOCK) 
						WHERE PARTNER_CODE = @PARTNER_CODE 
						AND DATEDIFF(SECOND, LAST_UPDATED_DATE, GETDATE()) >= (EXPIRES_IN - @THRESHHOLD))
		BEGIN
			SELECT 2 ErrorCode, 'Expired' Msg, NULL ID;
			RETURN;
		END

		SELECT 0 ErrorCode, 'Success' Msg, TOKEN ID
		FROM TBL_THIRDPARTY_TOKEN (NOLOCK) 
		WHERE PARTNER_CODE = @PARTNER_CODE
		RETURN; 
	END
	IF @FLAG = 'UPDATE'
	BEGIN
		UPDATE TBL_THIRDPARTY_TOKEN 
				SET TOKEN = @TOKEN, 
					LAST_UPDATED_DATE = GETDATE() 
		WHERE PARTNER_CODE = @PARTNER_CODE

		SELECT 0 ErrorCode, 'Success' Msg, NULL ID;
	END
END


--CREATE TABLE TBL_THIRDPARTY_TOKEN
--(
--	ROW_ID INT IDENTITY(1, 1) PRIMARY KEY NOT NULL
--	,PARTNER_CODE VARCHAR(20) NOT NULL
--	,TOKEN VARCHAR(150) NOT NULL
--	,LAST_UPDATED_DATE DATETIME NOT NULL
--	,EXPIRES_IN INT NOT NULL
--)
--INSERT INTO TBL_THIRDPARTY_TOKEN (PARTNER_CODE, TOKEN, LAST_UPDATED_DATE, EXPIRES_IN)
--SELECT 'khan-bank', 'ENnreXlUsMZdMXlG53fUdhnBJBdM', GETDATE(), 1799

--SELECT DATEDIFF(SECOND, LAST_UPDATED_DATE, GETDATE()),* FROM TBL_THIRDPARTY_TOKEN

--update TBL_THIRDPARTY_TOKEN set  LAST_UPDATED_DATE = dateadd(second, -2000, getdate())

--EXEC PROC_THIRDPARTY_TOKEN @FLAG ='GET'
--, @PARTNER_CODE ='khan-bank'
--, @TOKEN ='khan-bank'
GO
