USE [SendMnPro_Remit]
GO
/****** Object:  StoredProcedure [dbo].[PROC_JOB_CHECK_CANCEL_TRANSACTION]    Script Date: 5/18/2021 5:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PROC_JOB_CHECK_CANCEL_TRANSACTION]
AS
SET NOCOUNT ON;
SET XACT_ABORT ON;
BEGIN TRY
	DECLARE @COUNTROLNO VARCHAR(30), @CANCELAPPROVEDDATE VARCHAR(20)
	
	IF OBJECT_ID('tempdb..#ALL_TRAN') IS NOT NULL
		DROP TABLE #ALL_TRAN
	IF OBJECT_ID('tempdb..#ALL_ACC') IS NOT NULL
		DROP TABLE #ALL_ACC
	IF OBJECT_ID('tempdb..#ALL_CANCEL') IS NOT NULL
		DROP TABLE #ALL_CANCEL
	IF OBJECT_ID('tempdb..#ALL_ACC_CANCEL') IS NOT NULL
		DROP TABLE #ALL_ACC_CANCEL


	SELECT DBO.DECRYPTDB(CONTROLNO) CONTROLNO, ID, 
			TRANSTATUS, PAYSTATUS, PROMOTIONCODE, REFERRAL_TYPE_CODE,
			CAST(CREATEDDATE AS DATE) CREATEDDATE, CAST(CANCELAPPROVEDDATE AS DATE) CANCELAPPROVEDDATE
	INTO #ALL_TRAN
	FROM REMITTRAN R(NOLOCK)
	LEFT JOIN REFERRAL_AGENT_WISE RR(NOLOCK) ON RR.REFERRAL_CODE = R.PROMOTIONCODE
	WHERE (CREATEDDATE >= '2019-01-01' OR CANCELAPPROVEDDATE >= '2019-01-01')
	AND R.ID NOT IN (100296300, 100159218, 100159049, 100307609, 100307650, 100307904, 100309995, 100348872, 100354570)

	SELECT DISTINCT FIELD1, REF_NUM, ISNULL(ACCT_TYPE_CODE, 'SEND') ACCT_TYPE_CODE
	INTO #ALL_ACC
	FROM SendMnPro_Account.dbo.TRAN_MASTER (NOLOCK)
	WHERE FIELD2 = 'REMITTANCE VOUCHER'
	AND ISNULL(ACCT_TYPE_CODE, '') <> 'PAID'

	SELECT * INTO #ALL_CANCEL 
	FROM #ALL_TRAN
	WHERE TRANSTATUS = 'CANCEL'

	SELECT * INTO #ALL_ACC_CANCEL
	FROM #ALL_ACC
	WHERE ACCT_TYPE_CODE = 'REVERSE'

	INSERT INTO CANCEL_TXN_MISSED (CONTROLNO, ID, TRANSTATUS, PAYSTATUS, PROMOTIONCODE, REFERRAL_TYPE_CODE, CREATEDDATE
			, CANCELAPPROVEDDATE, IS_VOUCHER_GEN)
	SELECT C.*, IS_VOUCHER_GEN = 0 
	FROM #ALL_CANCEL C
	LEFT JOIN #ALL_ACC_CANCEL A ON A.FIELD1 = C.CONTROLNO
	WHERE A.FIELD1 IS NULL
	
	WHILE EXISTS(SELECT TOP 1 1 FROM #CANCEL_TXN_MISSED (NOLOCK) WHERE IS_VOUCHER_GEN = 0)
	BEGIN
		SELECT TOP 1 @COUNTROLNO = s.CONTROLNO, @CANCELAPPROVEDDATE = s.CANCELAPPROVEDDATE 
		FROM #CANCEL_TXN_MISSED s (NOLOCK)
		WHERE IS_VOUCHER_GEN = 0
		
		EXEC PROC_MANUAL_CANCEL @USER='system', @CONTROLNO = @COUNTROLNO, @CANCELdATE = @CANCELAPPROVEDDATE

		UPDATE #CANCEL_TXN_MISSED SET IS_VOUCHER_GEN = 1 WHERE CONTROLNO = @COUNTROLNO
	END

	IF @@TRANCOUNT > 0
		COMMIT TRANSACTION
END TRY
BEGIN CATCH
	IF @@TRANCOUNT<>0
		ROLLBACK TRANSACTION
	DECLARE @errorMessage VARCHAR(MAX)
	SET @errorMessage = ERROR_MESSAGE()

	INSERT INTO JOB_ERROR_LOGS
	SELECT @errorMessage, 'PROC_JOB_CHECK_CANCEL_TRANSACTION', GETDATE()
END CATCH

--CREATE TABLE CANCEL_TXN_MISSED 
--	(
--		ROW_ID INT NOT NULL IDENTITY(1, 1) PRIMARY KEY
--		,CONTROLNO VARCHAR(30)
--		,ID BIGINT
--		,TRANSTATUS VARCHAR(80) 
--		,PAYSTATUS VARCHAR(80) 
--		,PROMOTIONCODE VARCHAR(50) 
--		,REFERRAL_TYPE_CODE VARCHAR(5) 
--		,CREATEDDATE VARCHAR(20) 
--		,CANCELAPPROVEDDATE VARCHAR(20) 
--		,IS_VOUCHER_GEN BIT
--	)


GO
