USE [SendMnPro_Remit]
GO
/****** Object:  StoredProcedure [dbo].[PROC_COMPLIANCE_QUESTION]    Script Date: 5/18/2021 5:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--New Update
--ALTER TABLE TBL_COMPLIANCE_QUESTION ADD QUESTION_TEXT_UNICODE_KR NVARCHAR(200)
--ALTER TABLE TBL_COMPLIANCE_QUESTION_OPTION ADD QUESTION_OPTION_TEXT_UNICODE_KR NVARCHAR(200), QUESTION_OPTION_VALUE_UNICODE_KR NVARCHAR(200)

--ALTER TABLE TBL_COMPLIANCE_QUESTION ADD QUESTION_TEXT_UNICODE NVARCHAR(200)
--ALTER TABLE TBL_COMPLIANCE_QUESTION_OPTION ADD QUESTION_OPTION_TEXT_UNICODE NVARCHAR(200), QUESTION_OPTION_VALUE_UNICODE NVARCHAR(200)
CREATE PROC [dbo].[PROC_COMPLIANCE_QUESTION]
(
	@FLAG			VARCHAR(20),
	@user			VARCHAR(200) = NULL,
	@USER_ID		VARCHAR(50) = NULL,
	@requestFrom	VARCHAR(100) = NULL,
	@lang			VARCHAR(10) = NULL
)
AS;
SET NOCOUNT ON;
SET XACT_ABORT ON;
BEGIN
	IF @requestFrom ='core' AND @FLAG = '0'
	BEGIN
		SELECT QUESTION_ID = T.ROW_ID,
				T.QUESTION_TEXT,
				T.QUESTION_TYPE,
				IS_REQUIRED=ISNULL(IS_REQUIRED,''),
				CORRECT_OPTION_ID= CASE WHEN T.ROW_ID=1 THEN 'YES' ELSE '' END                
		FROM TBL_COMPLIANCE_QUESTION T(NOLOCK)
		WHERE T.IS_ACTIVE = 1
		--AND T.QUESTION_FOR = @FLAG
		AND T.Row_ID in (1,4)
		
		SELECT QUESTION_ID = T.ROW_ID,
				OPTION_TEXT = O.QUESTION_OPTION_TEXT,
				OPTION_VALUE = O.QUESTION_OPTION_VALUE 
		FROM TBL_COMPLIANCE_QUESTION T(NOLOCK)
		INNER JOIN TBL_COMPLIANCE_QUESTION_OPTION O(NOLOCK) ON T.ROW_ID = O.QUESTION_ID
		WHERE T.IS_ACTIVE = 1 AND O.IS_ACTIVE = 1
		--AND QUESTION_FOR = @FLAG
		AND T.Row_ID in (1,4)

		RETURN
	END

	IF @FLAG IN ('0', '1')
	BEGIN
		SELECT QUESTION_ID = T.ROW_ID,
				QUESTION_TEXT = CASE WHEN @lang = 'en' THEN T.QUESTION_TEXT WHEN @lang = 'kr' THEN T.QUESTION_TEXT_UNICODE_KR ELSE T.QUESTION_TEXT_UNICODE END,
				T.QUESTION_TYPE,
				IS_REQUIRED=ISNULL(IS_REQUIRED,''),
				CORRECT_OPTION_ID= CASE WHEN T.ROW_ID=1 THEN 'YES' ELSE '' END
		FROM TBL_COMPLIANCE_QUESTION T(NOLOCK)
		WHERE T.IS_ACTIVE = 1
		AND T.QUESTION_FOR = @FLAG

		SELECT QUESTION_ID = T.ROW_ID,
				OPTION_TEXT = CASE WHEN @lang = 'en' THEN O.QUESTION_OPTION_TEXT WHEN @lang = 'kr' THEN O.QUESTION_OPTION_TEXT_UNICODE_KR ELSE O.QUESTION_OPTION_TEXT_UNICODE END,
				OPTION_VALUE = O.QUESTION_OPTION_VALUE 
		FROM TBL_COMPLIANCE_QUESTION T(NOLOCK)
		INNER JOIN TBL_COMPLIANCE_QUESTION_OPTION O(NOLOCK) ON T.ROW_ID = O.QUESTION_ID
		WHERE T.IS_ACTIVE = 1 AND O.IS_ACTIVE = 1
		AND QUESTION_FOR = @FLAG

		
		SELECT 0 ErrorCode,'Get PDF List Success About Agree infomation' Msg, NULL Id, rowId, PdfName, AgreePdfPath      
		FROM customerAgreeDocumentTbl(NOLOCK)       
		WHERE targetObj = 'STAGING'	 
	END
END
GO
