USE [SendMnPro_Remit]
GO
/****** Object:  UserDefinedFunction [dbo].[Cyrillic2Latin]    Script Date: 5/18/2021 6:38:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[Cyrillic2Latin] (@string nvarchar(max)) 
returns nvarchar(max) as
begin

set @string = replace (@string, N'а'        ,N'a')
set @string = replace (@string, N'б'        ,N'b')
set @string = replace (@string, N'в'        ,N'v')
set @string = replace (@string, N'г'        ,N'g')
set @string = replace (@string, N'д'        ,N'd')
set @string = replace (@string, N'е'        ,N'ye')
set @string = replace (@string, N'ё'        ,N'yo')
set @string = replace (@string, N'ж'        ,N'j')
set @string = replace (@string, N'з'        ,N'z')
set @string = replace (@string, N'и'        ,N'i')
set @string = replace (@string, N'й'        ,N'i')
set @string = replace (@string, N'к'        ,N'k')
set @string = replace (@string, N'л'        ,N'l')
set @string = replace (@string, N'м'        ,N'm')
set @string = replace (@string, N'н'        ,N'n')
set @string = replace (@string, N'о'        ,N'o')
set @string = replace (@string, N'ө'        ,N'u')
set @string = replace (@string, N'п'        ,N'p')
set @string = replace (@string, N'р'        ,N'r')
set @string = replace (@string, N'с'        ,N's')
set @string = replace (@string, N'т'        ,N't')
set @string = replace (@string, N'у'        ,N'u')
set @string = replace (@string, N'ү'        ,N'u')
set @string = replace (@string, N'ф'        ,N'f')
set @string = replace (@string, N'х'        ,N'kh')
set @string = replace (@string, N'ц'        ,N'ts')
set @string = replace (@string, N'ч'        ,N'ch')
set @string = replace (@string, N'ш'        ,N'sh')
set @string = replace (@string, N'щ'        ,N'sh')
set @string = replace (@string, N'ъ'        ,N'i')
set @string = replace (@string, N'ы'        ,N'y')
set @string = replace (@string, N'ь'        ,N'i')
set @string = replace (@string, N'э'        ,N'e')
set @string = replace (@string, N'ю'        ,N'yu')
set @string = replace (@string, N'я'        ,N'ya')
set @string = replace (@string, N'А'        ,N'A')
set @string = replace (@string, N'Б'        ,N'B')
set @string = replace (@string, N'В'        ,N'V')
set @string = replace (@string, N'Г'        ,N'G')
set @string = replace (@string, N'Д'        ,N'D')
set @string = replace (@string, N'Е'        ,N'YE')
set @string = replace (@string, N'Ё'        ,N'YO')
set @string = replace (@string, N'Ж'        ,N'J')
set @string = replace (@string, N'З'        ,N'Z')
set @string = replace (@string, N'И'        ,N'I')
set @string = replace (@string, N'Й'        ,N'Y')
set @string = replace (@string, N'К'        ,N'K')
set @string = replace (@string, N'Л'        ,N'L')
set @string = replace (@string, N'М'        ,N'M')
set @string = replace (@string, N'Н'        ,N'N')
set @string = replace (@string, N'О'        ,N'O')
set @string = replace (@string, N'Ө'        ,N'U')
set @string = replace (@string, N'П'        ,N'P')
set @string = replace (@string, N'Р'        ,N'R')
set @string = replace (@string, N'С'        ,N'S')
set @string = replace (@string, N'Т'        ,N'T')
set @string = replace (@string, N'У'        ,N'U')
set @string = replace (@string, N'Ү'        ,N'U')
set @string = replace (@string, N'Ф'        ,N'F')
set @string = replace (@string, N'Х'        ,N'KH')
set @string = replace (@string, N'Ц'        ,N'TS')
set @string = replace (@string, N'Ч'        ,N'CH')
set @string = replace (@string, N'Ш'        ,N'SH')
set @string = replace (@string, N'Щ'        ,N'SH')
set @string = replace (@string, N'Ъ'        ,N'I')
set @string = replace (@string, N'Ы'        ,N'Y')
set @string = replace (@string, N'Ь'        ,N'I')
set @string = replace (@string, N'Э'        ,N'E')
set @string = replace (@string, N'Ю'        ,N'YU')
set @string = replace (@string, N'Я'        ,N'YA')

return @String
end
GO
