<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="1048576" />
    <!--<httpRuntime requestValidationMode="2.0" />-->
    <sessionState timeout="20" />
    <compilation targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <authorization />
    <profile>
      <providers>
        <clear />
      </providers>
    </profile>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <appSettings>
    <add key="thirdparty_URL" value="http://localhost:65333/" />
    <add key="thirdparty_HeaderToken" value="KPb1ttRs3CJnORpVU8SmAKUs7a42vtvjzQ47gU0b4u0vxAEI0PgZref6puzkVhLTX2PRNMGCbnb2TglupsjV5AGhYvw8a8POTcUcFSrEdHmTkhkIGNvUvxSpKjUOXGFQWaGU1bxoqqUSaFOmNE5zGojVmwPoMy38CNLwnpQKjdsIuxCKGCApa2gWHJl9gebmIpUODv9jAZgmMEaXqyR4CLg4iSksfTyYNjdqxEE88P5THYt5GuNk8Ti6K2RxIKfPWY49hBOpiYnXcApgSDiKFYqQG9WuZ7cvDGJIWg5WgWKjGle8Y3OydhONXVkN5OMPXDA4VZkK4c5nM363Zkg4w4qdzWuwhsEoAwU4rej6sMRZue3L0BowBJja1OK0iPoTX70EexX8rviMLOZPUDwhxzkL3eODS69VEEbjHb8WSjhho5h3KnCE4tcqCWihwSZ8Yuyhw1rzIMNw2C8pN1GEJyXc6goIFkf7dmK9ynJSxu52D9GjOkKqoD7dFNFulOFVfgeCuhPDYG2A2c2RSvGHv24VDXvmGVaAMLiPtsTz5oD8f0na7fX1xGg0Qveh0KgQL5THnrMK6gm5Ky7O8nbecIxY" />
    <!-- Stagin DB Connection -->
    <add key="connectionString" value="server=172.20.22.13;Database=FastMoneyPro_Account;uid=gme;pwd=G#M3SQL!312?" />
    <add key="RemittanceString" value="server=172.20.22.13;Database=FastMoneyPro_Remit;uid=gme;pwd=G#M3SQL!312?" />
    <add key="tranNoName" value="Control No" />
    <add key="root" value="B:\Projects\MongoliaLocal\APP\Swift.web\" />
    <add key="urlRoot" value="http://localhost:55555" />
    <add key="filePath" value="B:\Projects\MongoliaLocal\APPAPP\Swift.web\doc\" />
    <add key="virtualDirName" value="" />
    <add key="gridWidth" value="700" />
    <add key="gridHeight" value="-1" />

    <add key="isMenuForLive" value="Y" />
    <add key="fileSize" value="2097152" />

    <!--<add key="reportPageSize" value="100" />-->
    <add key="defaultDocPath" value="B:\MongoImagFile\DefaultFile\" />
    <add key="customerDocPath" value="B:\MongoImagFile\CustomerFile\" />
    <add key="customerDocFileExtension" value=".jpeg,.png,.jpg" />
    <add key="IntlAPISuperAgentId" value="1038" />
    <add key="IntlSuperAgentId" value="394399" />
    <add key="domesticSuperAgentId" value="1009" />
    <add key="domesticCountryId" value="142" />
    <add key="hoAgentId" value="" />
    <add key="reportPageSize" value="100" />

    <add key="copyRightName" value="SendMN" />
    <add key="companyName" value="SENDMN NBFI LLC|Mongolia, Ulaanbaatar, Sukhbaatar district, 3rd khoroo, 5th khoroolol, 2a building - 65." />

    <add key="licenseName" value="SENDMN NBFI LLC" />
    <add key="licenseNo" value="6052363" />
    <add key="headName" value="Sendmn Money Transfer" />
    <add key="headFirst" value="Mongolia, Ulaanbaatar, Sukhbaatar district, 3rd khoroo, 5th khoroolol, 2a building - 65." />
    <add key="headTel" value="+976 7000-0909," />
    <add key="headFax" value="" />
    <add key="headEmail" value="info@send.mn" />

    <!--CSV maximu file Size 2MB -->
    <add key="csvFileSize" value="2097152" />
    <!--IMPORT OFAC Data-->
    <add key="OFAC_SDN" value="https://www.treasury.gov/ofac/downloads/consolidated/cons_prim.pip" />
    <add key="OFAC_ALT" value="https://www.treasury.gov/ofac/downloads/consolidated/cons_alt.pip" />
    <add key="OFAC_ADD" value="https://www.treasury.gov/ofac/downloads/consolidated/cons_add.pip" />
    <add key="OFAC_UNSCR" value="https://scsanctions.un.org/resources/xml/en/consolidated.xml" />
    <add key="SmtpPort" value="1" />
    <add key="SmtpServer" value="1" />
    <add key="SendEmailId" value="1" />
    <add key="SendEmailPwd" value="1" />
    <!--SMS API URL-->
    <add key="onewaysmsURL" value="http://gateway.onewaysms.jp:10001/api.aspx" />
    <add key="onewaysmsUserName" value="APIFLFSYFPUYF" />
    <add key="onewaysmsPassword" value="APIFLFSYFPUYFFLFSY" />
    <add key="onewaysmsSenderId" value="onewaysms" />
    <add key="onewaysmsLangType" value="1" />

    <add key="payTxnCount" value="10" />
    <add key="accountDbName" value="FastMoneyPro_Account" />
    <add key="remitDbName" value="FastMoneyPro_Remit" />

    <!--GME Pay API-->
    <add key="gmepartnerid" value="394446" />
    <add key="gmeAgentCode" value="GMKOR601414" />
    <add key="gmeusername" value="fsos_payapi " />
    <add key="gmepassword" value="admin@123" />
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="index.php" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.111.0" newVersion="1.0.111.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>