<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <!--
  For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

  The following attributes can be set on the <httpRuntime> tag.
  <system.Web>
  <httpRuntime targetFramework="4.5" />
  </system.Web>
  -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
  </configSections>
  <system.web>
    <httpRuntime maxRequestLength="1048576" />
    <!--<httpRuntime requestValidationMode="2.0" />-->
    <sessionState timeout="20" />
    <compilation targetFramework="4.6.1" debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <authorization />
    <profile>
      <providers>
        <clear />
      </providers>
    </profile>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <connectionStrings>
    <add name="LOGDB" connectionString="server=52.224.240.247,1678;Database=SendMnPro_LogDb;uid=sa;pwd=S3ndDBs@2023@#!" providerName="system.data.sqlclient" />
  </connectionStrings>
  <appSettings>
    <add key="thirdparty_URL" value="http://localhost:65333/" />
    <!--<add key="thirdparty_URL" value="http://192.168.1.103:45457/" />-->
    <add key="thirdparty_HeaderToken" value="KPb1ttRs3CJnORpVU8SmAKUs7a42vtvjzQ47gU0b4u0vxAEI0PgZref6puzkVhLTX2PRNMGCbnb2TglupsjV5AGhYvw8a8POTcUcFSrEdHmTkhkIGNvUvxSpKjUOXGFQWaGU1bxoqqUSaFOmNE5zGojVmwPoMy38CNLwnpQKjdsIuxCKGCApa2gWHJl9gebmIpUODv9jAZgmMEaXqyR4CLg4iSksfTyYNjdqxEE88P5THYt5GuNk8Ti6K2RxIKfPWY49hBOpiYnXcApgSDiKFYqQG9WuZ7cvDGJIWg5WgWKjGle8Y3OydhONXVkN5OMPXDA4VZkK4c5nM363Zkg4w4qdzWuwhsEoAwU4rej6sMRZue3L0BowBJja1OK0iPoTX70EexX8rviMLOZPUDwhxzkL3eODS69VEEbjHb8WSjhho5h3KnCE4tcqCWihwSZ8Yuyhw1rzIMNw2C8pN1GEJyXc6goIFkf7dmK9ynJSxu52D9GjOkKqoD7dFNFulOFVfgeCuhPDYG2A2c2RSvGHv24VDXvmGVaAMLiPtsTz5oD8f0na7fX1xGg0Qveh0KgQL5THnrMK6gm5Ky7O8nbecIxY" />
    <!--<add key="mobileapi_URL" value="http://localhost:58049/"/>-->
    <add key="mobileapi_URL" value="http://192.168.1.103:45455/" />
    <add key="mobile_token" value="Basic MTcyMDE3RjlFQzExMjIyRTgxMDcxNDI3MzM6UVJLMlVNMFE6YzEwNmVjYmIwOWRhOQ==" />
    <!--<add key="mobile_token" value="Basic MTcyMDE3RjlFQzExMjIyRTgxMDcxNDI3MzM6UVJLMlVNMFE6MQ=="/>-->
    <add key="maccess-token" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6ImRlbW8iLCJHdWlkIjoiMDBiMWU0M2UtOThlNy00YWRkLTk4MDMtOTI1NDlmMDA2OWYxIiwiQ3VzdG9tZXJObyI6IjIiLCJHbWVLZnRjQ2xpZW50SWQiOiJsN3h4ZmFkOGQyNzQ2ZDgyNGY0Y2JhM2M4NzJiMWFjMTNlZWQiLCJuYmYiOjE2NjA4Nzk2ODYsImV4cCI6MTY2MTQ3OTY4NiwiaWF0IjoxNjYwODc5Njg2LCJpc3MiOiJodHRwczovL21vYmlsZWFwaS5KTUVyZW1pdC5jb206ODAwMiIsImF1ZCI6Imh0dHBzOi8vbW9iaWxlYXBpLkpNRXJlbWl0LmNvbTo4MDAyIn0.QHHw24IJVWZjVbP-j9mbji4aJNGm5pTWq-vUZv0kp7k" />
    <!-- Stagin DB Connection -->
    <!--<add key="connectionString" value="server=localhost;Database=SendMnPro_Account;uid=sa;pwd=admin" />
    <add key="RemittanceString" value="server=localhost;Database=SendMnPro_Remit;uid=sa;pwd=admin" />-->
    <add key="connectionString" value="server=52.224.240.247,1678;Database=SendMnPro_Account;uid=sa;pwd=S3ndDBs@2023@#!" />
    <add key="RemittanceString" value="server=52.224.240.247,1678;Database=SendMnPro_Remit;uid=sa;pwd=S3ndDBs@2023@#!" />

    <!-- Dynamic Db Fetching-->
    <add key="accountDbName" value="SendMnPro_Account" />
    <add key="remitDbName" value="SendMnPro_Remit" />

    <add key="tranNoName" value="Control No" />
    <add key="root" value="F:\WEB_Services\ADMIN\" />
    <add key="urlRoot" value="https://admin.sendmoney.mn/" />
    <add key="filePath" value="F:\WEB_Services\ADMIN\doc\" />
    <add key="virtualDirName" value="" />
    <add key="gridWidth" value="700" />
    <add key="gridHeight" value="-1" />

    <add key="isMenuForLive" value="Y" />
    <add key="fileSize" value="2097152" />
    <!--<add key="reportPageSize" value="100" />-->
    <add key="defaultDocPath" value="E:\MONGO_IMAGE_FILE\DefaultFile\" />
    <add key="customerDocPath" value="E:\MONGO_IMAGE_FILE\CustomerFile\" />
    <add key="customerRegistrationPath" value="E:\\customerIds\\" />
    <add key="customerIdsDocPath" value="E:\\customerIds\\" />
    <add key="customerDocFileExtension" value=".jpeg,.png,.jpg" />
    <add key="IntlAPISuperAgentId" value="1038" />
    <add key="IntlSuperAgentId" value="394679" />
    <add key="domesticSuperAgentId" value="1009" />
    <add key="domesticCountryId" value="142" />
    <add key="hoAgentId" value="" />
    <add key="reportPageSize" value="100" />

    <add key="copyRightName" value="SendMN" />
    <add key="companyName" value="SENDMN NBFI LLC|Mongolia, Ulaanbaatar, Sukhbaatar district, 3rd khoroo, 5th khoroolol, 2a building - 65." />
    <add key="licenseName" value="SENDMN NBFI LLC" />
    <add key="licenseNo" value="6052363" />
    <add key="headName" value="Sendmn Money Transfer" />
    <add key="headFirst" value="Mongolia, Ulaanbaatar, Sukhbaatar district, 3rd khoroo, 5th khoroolol, 2a building - 65." />
    <add key="headTel" value="+976 7000-0909," />
    <add key="headFax" value="" />
    <add key="headEmail" value="info@sendmoney.mn" />

    <!--CSV maximu file Size 2MB -->
    <add key="csvFileSize" value="2097152" />
    <!--IMPORT OFAC Data-->
    <add key="OFAC_SDN" value="https://www.treasury.gov/ofac/downloads/consolidated/cons_prim.pip" />
    <add key="OFAC_ALT" value="https://www.treasury.gov/ofac/downloads/consolidated/cons_alt.pip" />
    <add key="OFAC_ADD" value="https://www.treasury.gov/ofac/downloads/consolidated/cons_add.pip" />
    <add key="OFAC_UNSCR" value="https://scsanctions.un.org/resources/xml/en/consolidated.xml" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpServer" value="smtp.yandex.ru" />
    <add key="SendEmailId" value="noreply@sendmoney.mn" />
    <add key="SendEmailPwd" value='ej4DuP"YPaC.j9GQ' />
    <!--SMS API URL-->
    <add key="onewaysmsURL" value="http://gateway.onewaysms.jp:10001/api.aspx" />
    <add key="onewaysmsUserName" value="APIFLFSYFPUYF" />
    <add key="onewaysmsPassword" value="APIFLFSYFPUYFFLFSY" />
    <add key="onewaysmsSenderId" value="onewaysms" />
    <add key="onewaysmsLangType" value="1" />

    <add key="gmepartnerid" value="394681" />
    <add key="gmeAgentCode" value="GMKOR798226" />
    <add key="gmeusername" value="aPiFsOs" />
    <add key="gmepassword" value="aPiFsOs@%@$dvja4953.0" />

    <!--RIA LIVE-->
    <add key="riapartnerid" value="394705" />
    <add key="ria_superAgentId" value="394705" />
    <add key="ria_commonPayUrl" value="https://rialinkgateway.riaenvia.net/PayOrders/Order" />
    <add key="ria_CallerCorrelationId" value="123456789" />
    <add key="ria_AgentId" value="63225811" />
    <add key="ria_SubscriptionKey" value="b2919c3e355d4427bbbdf745083ddc1cv" />
    <!-- SendMN API Key Generator -->
    <add key="apiKeyPassPhrase" value="Pas5pr@se" />
    <add key="apiKeySaltValue" value="s@1tValue" />
    <add key="apiKeyHashAlgorithm" value="MD5" />
    <add key="apiKeyInitVector" value="@1B2c3D4e5F6g7H8" />
    <add key="testCache" value="" />
    <add key="sacomSuperAgent" value="394724" />
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="index.php" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.111.0" newVersion="1.0.111.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <log4net>
    <appender name="ApplicationAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionStringName value="LOGDB" />
      <commandText value="INSERT INTO tblThirdParty_ApiDetailLog(Provider,[processId],[logBy],[date],[thread],[level],[logger],[message],[exception],[ClientIpAddress],[UserName],[ControlNo])VALUES (@Provider,@processId,@requestBy,@log_date, @thread, @log_level, @logger, @message, @exception,@client_ip_address,@user_name,@ControlNo)" />
      <parameter>
        <parameterName value="@Provider" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Provider}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@processId" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{processId}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@requestBy" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{requestBy}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="1070000000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="1070000000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{exception}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@client_ip_address" />
        <dbType value="String" />
        <size value="128" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{client_ip_address}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@user_name" />
        <dbType value="String" />
        <size value="128" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{user_name}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ControlNo" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ControlNo}" />
        </layout>
      </parameter>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="15" />
      <maximumFileSize value="30MB" />
      <datePattern value="'log_'yyyy-MM-dd" />
      <preserveLogFileNameExtension value="true" />
      <staticLogFileName value="false" />
      <file type="log4net.Util.PatternString" value="C:\inetpub\wwwroot\ThirdPartyApis\ConsoleLog\Logs\.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Date =[%date], Thread= [%thread], Level =[%-5level], Logger =[%logger], Message =[%message], Exception =[%property{exception}], Log By =[%property{requestBy}], Provider =[%property{Provider}], Ip Address =[%property{client_ip_address}], User Name =[%property{user_name}] ,ControlNo=[%property{ControlNo}] %newline" />
      </layout>
    </appender>
    <root>
      <level value="FATAL" />
      <appender-ref ref="ApplicationAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>
<!--ProjectGuid: {7C676B1C-3046-4EBB-8C9C-9AC1AC73E8A6}-->