<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GmeKoreaPayAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <GmeKoreaPayAPI.Properties.Settings>
      <setting name="GmeKoreaPayAPI_gmePayWebRef_GMEWebService" serializeAs="String">
        <value>https://payapi.gmeremit.com:8003/PayWSApi/GMEWebService.asmx</value>
      </setting>
    </GmeKoreaPayAPI.Properties.Settings>
  </applicationSettings>
</configuration>