USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[MISMATCH_VOUCHER_FOR_PAID]    Script Date: 5/18/2021 5:16:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MISMATCH_VOUCHER_FOR_PAID](
	[REF_NUM] [varchar](20) NULL,
	[CNT] [int] NULL
) ON [PRIMARY]
GO
