USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[TBL_JAPAN_ADDRESS_DETAIL]    Script Date: 5/18/2021 5:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_JAPAN_ADDRESS_DETAIL](
	[ROW_ID] [int] IDENTITY(1,1) NOT NULL,
	[STATE_ID] [int] NOT NULL,
	[ZIP_CODE] [varchar](20) NOT NULL,
	[CITY_NAME] [varchar](40) NOT NULL,
	[STREET_NAME] [varchar](250) NOT NULL,
	[STATE_JAPANESE] [nvarchar](80) NULL,
	[CITY_JAPANESE] [nvarchar](100) NULL,
	[STREET_JAPANESE] [nvarchar](100) NULL,
	[STATE_ENG] [varchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
