USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[temp]    Script Date: 5/18/2021 5:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp](
	[id] [varchar](3) NOT NULL,
	[Reason] [varchar](41) NOT NULL
) ON [PRIMARY]
GO
