USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[TBL_WALLET_WITHDRAW]    Script Date: 5/18/2021 5:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_WALLET_WITHDRAW](
	[ROW_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USERID] [varchar](150) NOT NULL,
	[CUSTOMER_ID] [bigint] NOT NULL,
	[CUSTOMER_BANK_ID] [int] NOT NULL,
	[CUSTOMER_ACCOUNT_NO] [varchar](50) NOT NULL,
	[CUSTOMER_BANK_NAME] [nvarchar](150) NOT NULL,
	[WITHDRAW_AMOUNT] [money] NOT NULL,
	[CHARGE_AMOUNT] [money] NOT NULL,
	[REQUESTED_DATE] [datetime] NOT NULL,
	[CONFIRMED_DATE] [datetime] NULL,
	[RESPONSE_CODE] [varchar](10) NULL,
	[RESPONSE_MSG] [nvarchar](250) NULL,
	[CURRENCY] [varchar](10) NULL,
	[CONTROL_NO] [varchar](30) NULL,
	[tranId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
