USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[TBL_OTP_FOR_AUTODEBIT]    Script Date: 5/18/2021 5:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_OTP_FOR_AUTODEBIT](
	[CUSTOMERID] [bigint] NOT NULL,
	[OTP_NUMBER] [varchar](20) NOT NULL,
	[INVALID_ATTEMPT] [int] NULL,
	[RESEND_COUNT] [int] NULL,
	[ASSIGNED_DATE] [datetime] NOT NULL
) ON [PRIMARY]
GO
