USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[BILL_BY_BILL]    Script Date: 5/18/2021 5:16:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL_BY_BILL](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TRN_DATE] [date] NULL,
	[TRN_REFNO] [varchar](20) NULL,
	[ACC_NUM] [varchar](50) NULL,
	[PART_TRN_TYPE] [varchar](5) NULL,
	[VOUCHER_TYPE] [varchar](1) NULL,
	[TRAN_AMT] [money] NULL,
	[REMAIN_AMT] [money] NULL,
	[BILL_REF] [varchar](200) NULL,
	[OPENING_BAL] [money] NULL,
	[msrepl_tran_version] [uniqueidentifier] NOT NULL,
 CONSTRAINT [pk_idx_BILL_BY_BILL_ROWID] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BILL_BY_BILL] ADD  CONSTRAINT [MSrepl_tran_version_default_4AEAA9A1_DBED_4A9B_BFCC_0A604B7352EF_2014630220]  DEFAULT (newid()) FOR [msrepl_tran_version]
GO
