USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[CustomerList]    Script Date: 5/18/2021 5:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerList](
	[Column 0] [varchar](200) NULL,
	[Column 1] [varchar](50) NULL,
	[Column 2] [varchar](50) NULL,
	[Column 3] [varchar](50) NULL,
	[Column 4] [varchar](50) NULL,
	[Column 5] [varchar](50) NULL,
	[Column 6] [varchar](50) NULL,
	[Column 7] [varchar](50) NULL,
	[Column 8] [varchar](50) NULL,
	[Column 9] [varchar](50) NULL,
	[Column 10] [varchar](50) NULL,
	[Column 11] [varchar](50) NULL,
	[Column 12] [varchar](50) NULL,
	[Column 13] [varchar](50) NULL,
	[Column 14] [varchar](50) NULL,
	[Column 15] [varchar](50) NULL,
	[Column 16] [varchar](50) NULL,
	[Column 17] [varchar](50) NULL,
	[Column 18] [varchar](50) NULL,
	[Column 19] [varchar](50) NULL,
	[Column 20] [varchar](50) NULL,
	[Column 21] [varchar](50) NULL,
	[Column 22] [varchar](50) NULL,
	[Column 23] [varchar](50) NULL,
	[Column 24] [varchar](50) NULL,
	[Column 25] [varchar](50) NULL,
	[Column 26] [varchar](50) NULL,
	[Column 27] [varchar](50) NULL,
	[Column 28] [varchar](50) NULL,
	[Column 29] [varchar](50) NULL,
	[Column 30] [varchar](50) NULL,
	[Column 31] [varchar](50) NULL,
	[Column 32] [varchar](50) NULL,
	[Column 33] [varchar](50) NULL,
	[Column 34] [varchar](50) NULL,
	[Column 35] [varchar](50) NULL,
	[Column 36] [varchar](50) NULL,
	[Column 37] [varchar](50) NULL,
	[Column 38] [varchar](50) NULL,
	[Column 39] [varchar](50) NULL,
	[Column 40] [varchar](50) NULL,
	[Column 41] [varchar](50) NULL,
	[Column 42] [varchar](50) NULL,
	[Column 43] [varchar](50) NULL,
	[Column 44] [varchar](50) NULL,
	[Column 45] [varchar](50) NULL
) ON [PRIMARY]
GO
