USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[TEMP_TRAN]    Script Date: 5/18/2021 5:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMP_TRAN](
	[RefNo] [varchar](20) NULL,
	[pCurrCostRate] [float] NULL,
	[PCurrMargin] [float] NULL,
	[custRate] [float] NULL,
	[SCharge] [money] NULL,
	[senderCommission] [varchar](20) NULL,
	[pAgentComm] [varchar](20) NULL,
	[pAgentCommCurr] [varchar](5) NULL,
	[AgentCode] [varchar](20) NULL,
	[Branch1] [varchar](150) NULL,
	[Branch_Code] [varchar](150) NULL,
	[Branch] [varchar](150) NULL,
	[ReceiverCountry] [varchar](50) NULL,
	[paymentType] [varchar](50) NULL,
	[ben_bank_id_BANK] [varchar](150) NULL,
	[ben_bank_name_BANK] [varchar](150) NULL,
	[ben_bank_id] [varchar](150) NULL,
	[ben_bank_name] [varchar](150) NULL,
	[rBankAcNo] [varchar](150) NULL,
	[collMode] [varchar](50) NULL,
	[paidAmt] [money] NULL,
	[receiveAmt] [money] NULL,
	[TotalRountAmt] [money] NULL,
	[receiveCType] [varchar](20) NULL,
	[ReceiverRelation] [varchar](150) NULL,
	[reason_for_remittance] [varchar](150) NULL,
	[source_of_income] [varchar](150) NULL,
	[TranStatus] [varchar](50) NULL,
	[PayStatus] [varchar](50) NULL,
	[sTime] [datetime] NULL,
	[sempid] [varchar](50) NULL,
	[approve_by] [varchar](50) NULL,
	[confirmdate] [datetime] NULL,
	[sendername] [varchar](250) NULL,
	[receivername] [varchar](250) NULL,
	[TranNo] [varchar](50) NULL,
	[firstName] [varchar](250) NULL,
	[fullName] [varchar](250) NULL,
	[senderstate] [varchar](150) NULL,
	[sendercity] [varchar](150) NULL,
	[senderAddress] [varchar](250) NULL,
	[SenderPhoneno] [varchar](50) NULL,
	[sender_mobile] [varchar](50) NULL,
	[senderNativeCountry] [varchar](50) NULL,
	[senderFax] [varchar](50) NULL,
	[senderPassport] [varchar](50) NULL,
	[ID_issue_Date] [datetime] NULL,
	[senderVisa] [varchar](50) NULL,
	[ip_address] [varchar](50) NULL,
	[dateofbirth] [datetime] NULL,
	[senderzipcode] [varchar](50) NULL,
	[customer_sno] [varchar](50) NULL,
	[senderemail] [varchar](50) NULL,
	[rfirstName] [varchar](250) NULL,
	[rFullName] [varchar](250) NULL,
	[rCountry] [varchar](50) NULL,
	[receiverAddress] [varchar](150) NULL,
	[receiver_mobile] [varchar](150) NULL,
	[ReceiverId] [varchar](150) NULL,
	[rRel] [varchar](150) NULL,
	[receiver_sno] [varchar](150) NULL,
	[pCurr] [varchar](5) NULL,
	[REFNO_ENC] [varchar](30) NULL,
	[rowid] [int] IDENTITY(1,1) NOT NULL,
	[PROMOTIONCODE] [varchar](30) NULL
) ON [PRIMARY]
GO
