USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[AGENT_BRANCH_RUNNING_BALANCE]    Script Date: 5/18/2021 5:16:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGENT_BRANCH_RUNNING_BALANCE](
	[ROW_ID] [int] IDENTITY(1,1) NOT NULL,
	[B_ID] [int] NOT NULL,
	[B_TYPE] [char](1) NULL,
	[B_NAME] [varchar](100) NOT NULL,
	[TODAY_SEND] [money] NULL,
	[TODAY_CANCEL] [money] NULL,
	[PREVIOUS_SEND] [money] NULL,
	[PREVIOUS_CANCEL] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
