USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[StaticDataDetail]    Script Date: 5/18/2021 5:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaticDataDetail](
	[ROWID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[STATIC_TYPE_ID] [int] NULL,
	[DETAIL_TITLE] [varchar](max) NULL,
	[DETAIL_DESC] [varchar](max) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [varchar](100) NULL,
	[MODIFY_DATE] [datetime] NULL,
	[MODIFY_BY] [varchar](100) NULL,
	[STATUS] [char](3) NULL,
 CONSTRAINT [pk_idx_StaticDataDetail_ROWID] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
