USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[riaRemitPayHistory]    Script Date: 5/18/2021 5:16:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[riaRemitPayHistory](
	[rowId] [bigint] IDENTITY(1,1) NOT NULL,
	[transRefID] [varchar](100) NULL,
	[orderFound] [char](5) NULL,
	[pin] [varchar](20) NULL,
	[orderNo] [varchar](20) NULL,
	[seqIDRA] [int] NULL,
	[orderDate] [datetime] NULL,
	[custNameFirst] [varchar](50) NULL,
	[custNameLast1] [varchar](50) NULL,
	[custNameLast2] [varchar](50) NULL,
	[custAddress] [varchar](255) NULL,
	[custCity] [varchar](50) NULL,
	[custState] [varchar](50) NULL,
	[custCountry] [varchar](50) NULL,
	[custZip] [varchar](20) NULL,
	[custTelNo] [varchar](20) NULL,
	[beneNameFirst] [varchar](50) NULL,
	[beneNameLast1] [varchar](50) NULL,
	[beneNameLast2] [varchar](50) NULL,
	[beneAddress] [varchar](255) NULL,
	[beneCity] [varchar](50) NULL,
	[beneState] [varchar](50) NULL,
	[beneCountry] [varchar](50) NULL,
	[beneZip] [varchar](20) NULL,
	[beneTelNo] [varchar](20) NULL,
	[beneCurrency] [varchar](6) NULL,
	[beneAmount] [money] NULL,
	[responseDateTimeUTC] [varchar](20) NULL,
	[confirmationNo] [varchar](100) NULL,
	[apiStatus] [varchar](50) NULL,
	[payResponseCode] [varchar](20) NULL,
	[payResponseMsg] [varchar](100) NULL,
	[recordStatus] [varchar](50) NULL,
	[tranPayProcess] [varchar](20) NULL,
	[createdDate] [datetime] NULL,
	[createdBy] [varchar](30) NULL,
	[paidDate] [datetime] NULL,
	[paidBy] [varchar](30) NULL,
	[rContactNo] [varchar](50) NULL,
	[nativeCountry] [varchar](100) NULL,
	[pBranch] [int] NULL,
	[rIdType] [varchar](30) NULL,
	[rIdNumber] [varchar](30) NULL,
	[rValidDate] [datetime] NULL,
	[rDob] [datetime] NULL,
	[rAddress] [varchar](100) NULL,
	[rCity] [varchar](100) NULL,
	[rOccupation] [varchar](100) NULL,
	[remarks] [varchar](500) NULL,
	[rIdPlaceOfIssue] [varchar](50) NULL,
	[relationType] [varchar](50) NULL,
	[relativeName] [varchar](100) NULL,
	[PCCommissionCurrency] [varchar](50) NULL,
	[PCCommissionAmount] [varchar](50) NULL,
	[SeqIDPA] [varchar](50) NULL,
	[sCountry] [varchar](100) NULL,
	[rBank] [varchar](50) NULL,
	[rBankBranch] [varchar](100) NULL,
	[rAccountNo] [varchar](50) NULL,
	[rChequeNo] [varchar](50) NULL,
	[customerId] [bigint] NULL,
	[membershipId] [varchar](50) NULL,
	[topupMobileNo] [varchar](20) NULL,
	[relWithSender] [varchar](50) NULL,
	[purposeOfRemit] [varchar](500) NULL,
	[rIssueDate] [datetime] NULL
) ON [PRIMARY]
GO
