USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[agentListRiskProfile]    Script Date: 5/18/2021 5:16:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agentListRiskProfile](
	[agentId] [int] NULL,
	[agentName] [varchar](150) NULL
) ON [PRIMARY]
GO
