USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[xPressTranHistory]    Script Date: 5/18/2021 5:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xPressTranHistory](
	[rowId] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[xmwsSessionID] [varchar](100) NULL,
	[xpin] [varchar](100) NULL,
	[customerFirstName] [varchar](100) NULL,
	[customerMiddleName] [varchar](100) NULL,
	[customerLastName] [varchar](100) NULL,
	[customerPOBox] [varchar](100) NULL,
	[customerAddress1] [varchar](100) NULL,
	[customerAddress2] [varchar](100) NULL,
	[customerAddressCity] [varchar](100) NULL,
	[customerAddressState] [varchar](100) NULL,
	[customerAddressCountry] [varchar](100) NULL,
	[customerAddressZip] [varchar](100) NULL,
	[customerPhone] [varchar](100) NULL,
	[customerMobile] [varchar](100) NULL,
	[customerFax] [varchar](100) NULL,
	[customerEmail] [varchar](100) NULL,
	[customerDescription] [varchar](100) NULL,
	[customerOtherInfo] [varchar](100) NULL,
	[beneficiaryFirstName] [varchar](100) NULL,
	[beneficiaryMiddleName] [varchar](100) NULL,
	[beneficiaryLastName] [varchar](100) NULL,
	[beneficiaryIDOtherType] [varchar](100) NULL,
	[beneficiaryID] [varchar](100) NULL,
	[beneficiaryPOBox] [varchar](100) NULL,
	[beneficiaryAddress1] [varchar](100) NULL,
	[beneficiaryAddress2] [varchar](100) NULL,
	[beneficiaryAddressCity] [varchar](100) NULL,
	[beneficiaryAddressState] [varchar](100) NULL,
	[beneficiaryAddressCountry] [varchar](100) NULL,
	[beneficiaryAddressZip] [varchar](100) NULL,
	[beneficiaryPhone] [varchar](100) NULL,
	[beneficiaryMobile] [varchar](100) NULL,
	[beneficiaryFax] [varchar](100) NULL,
	[beneficiaryEmail] [varchar](100) NULL,
	[beneficiaryTestQuestion] [varchar](100) NULL,
	[beneficiaryTestAnswer] [varchar](100) NULL,
	[messageToBeneficiary] [varchar](100) NULL,
	[beneficiaryDescription] [varchar](100) NULL,
	[beneficiaryOtherInfo] [varchar](100) NULL,
	[purposeOfTxn] [varchar](100) NULL,
	[sourceOfIncome] [varchar](100) NULL,
	[payoutAmount] [money] NULL,
	[payInAmount] [money] NULL,
	[commission] [money] NULL,
	[tax] [money] NULL,
	[agentXchgRate] [money] NULL,
	[payoutCcyCode] [varchar](100) NULL,
	[payInCcyCode] [varchar](100) NULL,
	[payoutDate] [datetime] NULL,
	[payinDate] [datetime] NULL,
	[sendingAgentCode] [varchar](100) NULL,
	[sendingAgentName] [varchar](100) NULL,
	[receivingAgentCode] [varchar](100) NULL,
	[receivingAgentName] [varchar](100) NULL,
	[sendingCountry] [varchar](100) NULL,
	[receiveCountry] [varchar](100) NULL,
	[transactionMode] [varchar](100) NULL,
	[accountName] [varchar](100) NULL,
	[accountNo] [varchar](100) NULL,
	[bankName] [varchar](100) NULL,
	[bankBranchName] [varchar](100) NULL,
	[returnCode] [varchar](30) NULL,
	[returnMsg] [varchar](100) NULL,
	[recordStatus] [varchar](50) NULL,
	[tranPayProcess] [varchar](50) NULL,
	[createdBy] [varchar](30) NULL,
	[createdDate] [datetime] NULL,
	[txnByHo] [char](1) NULL,
	[branchId] [int] NULL,
	[payResponseCode] [varchar](30) NULL,
	[payResponseMsg] [varchar](100) NULL,
	[rIdType] [varchar](50) NULL,
	[rIdNumber] [varchar](50) NULL,
	[rPlaceOfIssue] [varchar](50) NULL,
	[rRelationType] [varchar](50) NULL,
	[rRelativeName] [varchar](50) NULL,
	[rContactNo] [varchar](50) NULL,
	[rIssuedDate] [varchar](100) NULL,
	[rValidDate] [varchar](100) NULL,
	[membershipId] [varchar](50) NULL,
	[customerId] [int] NULL,
	[msrepl_tran_version] [uniqueidentifier] NOT NULL,
	[AgentID] [bigint] NULL,
	[rBank] [varchar](50) NULL,
	[rBankBranch] [varchar](100) NULL,
	[rAccountNo] [varchar](50) NULL,
	[rChequeNo] [varchar](50) NULL,
	[topupMobileNo] [varchar](20) NULL,
	[rDob] [datetime] NULL,
	[relWithSender] [varchar](50) NULL,
	[purposeOfRemit] [varchar](500) NULL,
	[rIssueDate] [datetime] NULL,
 CONSTRAINT [pk_idx_xPressTranHistory_rowId] PRIMARY KEY CLUSTERED 
(
	[rowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[xPressTranHistory] ADD  CONSTRAINT [MSrepl_tran_version_default_DDD1870A_DDA7_4E97_9699_7461630A6C53_1986470501]  DEFAULT (newid()) FOR [msrepl_tran_version]
GO
