USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[TBL_THIRDPARTY_TOKEN]    Script Date: 5/18/2021 5:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_THIRDPARTY_TOKEN](
	[ROW_ID] [int] IDENTITY(1,1) NOT NULL,
	[PARTNER_CODE] [varchar](20) NOT NULL,
	[TOKEN] [varchar](150) NOT NULL,
	[LAST_UPDATED_DATE] [datetime] NOT NULL,
	[EXPIRES_IN] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
