USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[TBL_KFTC_LOG]    Script Date: 5/18/2021 5:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_KFTC_LOG](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[METHODNAME] [varchar](50) NULL,
	[REQUESTXML] [nvarchar](max) NULL,
	[RESPONSEXML] [nvarchar](max) NULL,
	[REQUESTDT] [datetime] NULL,
	[RESPONSEDT] [datetime] NULL,
	[REQUESTEDBY] [bigint] NULL,
	[RESPONSECODE] [varchar](10) NULL,
	[RESPONSEMSG] [nvarchar](500) NULL,
	[PROCESSID] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
