USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[TBL_FUND_TRANSFER_SETTINGS]    Script Date: 5/18/2021 5:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FUND_TRANSFER_SETTINGS](
	[ROW_ID] [int] IDENTITY(1,1) NOT NULL,
	[CURRENCY] [varchar](5) NOT NULL,
	[FROM_ACC] [varchar](30) NOT NULL,
	[TO_ACC] [varchar](30) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
