USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[kyc]    Script Date: 5/18/2021 5:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kyc](
	[rowId] [bigint] IDENTITY(1,1) NOT NULL,
	[remitCardNo] [varchar](10) NULL,
	[branch] [varchar](100) NULL,
	[clientCode] [varchar](100) NULL,
	[accountNo] [varchar](100) NULL,
	[amlRefNo] [varchar](100) NULL,
	[currOfAccount] [varchar](5) NULL,
	[typeOfAccount] [varchar](10) NULL,
	[accountTypeOther] [varchar](100) NULL,
	[fullName] [varchar](150) NULL,
	[pAddress] [varchar](150) NULL,
	[tAddress] [varchar](150) NULL,
	[hNoP] [varchar](15) NULL,
	[hNoT] [varchar](15) NULL,
	[wardNoP] [varchar](2) NULL,
	[wardNoT] [varchar](2) NULL,
	[streetP] [varchar](100) NULL,
	[streetT] [varchar](100) NULL,
	[vdcMP] [varchar](100) NULL,
	[vdcMT] [varchar](100) NULL,
	[districtP] [varchar](100) NULL,
	[districtT] [varchar](100) NULL,
	[zoneP] [varchar](100) NULL,
	[zoneT] [varchar](100) NULL,
	[countryP] [varchar](50) NULL,
	[countryT] [varchar](50) NULL,
	[phoneNoP] [varchar](20) NULL,
	[phoneNoT] [varchar](20) NULL,
	[mobileP] [varchar](20) NULL,
	[mobileT] [varchar](20) NULL,
	[emailP] [varchar](150) NULL,
	[emailT] [varchar](150) NULL,
	[maritalStatus] [varchar](50) NULL,
	[maritalStatusOther] [varchar](50) NULL,
	[nationality] [varchar](100) NULL,
	[dobAd] [datetime] NULL,
	[dboBs] [varchar](50) NULL,
	[citizenshipNo] [varchar](50) NULL,
	[placeOfIssue] [varchar](100) NULL,
	[dateOfIssue] [varchar](50) NULL,
	[passportNo] [varchar](50) NULL,
	[pasportIssuePlace] [varchar](100) NULL,
	[pasportIssueDate] [datetime] NULL,
	[visaIssueDate] [datetime] NULL,
	[visValidity] [datetime] NULL,
	[idCardType] [varchar](50) NULL,
	[idCardNo] [varchar](50) NULL,
	[issuanceOffice] [varchar](150) NULL,
	[idCarcharIssueDate] [datetime] NULL,
	[mDateOfBirth] [datetime] NULL,
	[attMojorityDate] [datetime] NULL,
	[nameOfGrudian] [varchar](150) NULL,
	[relWithMinor] [varchar](150) NULL,
	[occupation] [varchar](100) NULL,
	[oocupationOther] [varchar](100) NULL,
	[natureOfBusiness] [varchar](100) NULL,
	[natureOfBusinessOther] [varchar](100) NULL,
	[isTaxassessed] [char](1) NULL,
	[panVatNo] [varchar](50) NULL,
	[purposeOfAccount] [varchar](100) NULL,
	[purposeAcOther] [varchar](100) NULL,
	[sourceOfFunds] [varchar](100) NULL,
	[sourceOther] [varchar](100) NULL,
	[spousesName] [varchar](150) NULL,
	[fathersName] [varchar](150) NULL,
	[mothersName] [varchar](150) NULL,
	[grandFathersName] [varchar](150) NULL,
	[grandMothersName] [varchar](150) NULL,
	[sonsName] [varchar](300) NULL,
	[daughtersName] [varchar](300) NULL,
	[daughterInLawsName] [varchar](300) NULL,
	[fatherInLaw] [varchar](150) NULL,
	[motherInLaw] [varchar](150) NULL,
	[nomineesName] [varchar](150) NULL,
	[nomineesRel] [varchar](150) NULL,
	[nomineesAge] [int] NULL,
	[nomineesFMName] [varchar](200) NULL,
	[nomineesFullAddress] [varchar](200) NULL,
	[nomineesPhoneNo] [varchar](20) NULL,
	[guardiansName] [varchar](200) NULL,
	[relWithGuardian] [varchar](150) NULL,
	[guardianAddress] [varchar](150) NULL,
	[isPolitician] [char](1) NULL,
	[beneficiaryOwner] [char](1) NULL,
	[benificiaryDetail] [varchar](150) NULL,
	[isNrn] [char](1) NULL,
	[aapy] [varchar](150) NULL,
	[anotpy] [varchar](150) NULL,
	[isAssociatedWithUsa] [char](1) NULL,
	[usAssociateType] [varchar](150) NULL,
	[createdBy] [varchar](30) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](30) NULL,
	[modifiedDate] [datetime] NULL,
	[isDeleted] [char](1) NULL,
	[approvedBy] [varchar](30) NULL,
	[approvedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[rowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
