USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 5/18/2021 5:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customerId] [bigint] IDENTITY(1,2) NOT NULL,
	[membershipId] [varchar](50) NULL,
	[firstName] [varchar](100) NULL,
	[middleName] [varchar](100) NULL,
	[lastName1] [varchar](100) NULL,
	[lastName2] [varchar](100) NULL,
	[country] [int] NULL,
	[address] [varchar](500) NULL,
	[state] [int] NULL,
	[zipCode] [varchar](50) NULL,
	[district] [int] NULL,
	[city] [varchar](100) NULL,
	[email] [varchar](150) NULL,
	[homePhone] [varchar](100) NULL,
	[workPhone] [varchar](100) NULL,
	[mobile] [varchar](100) NULL,
	[nativeCountry] [int] NULL,
	[dob] [datetime] NULL,
	[placeOfIssue] [varchar](100) NULL,
	[customerType] [int] NULL,
	[occupation] [int] NULL,
	[isBlackListed] [char](1) NULL,
	[createdBy] [varchar](30) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](30) NULL,
	[modifiedDate] [datetime] NULL,
	[approvedBy] [varchar](30) NULL,
	[approvedDate] [datetime] NULL,
	[isDeleted] [char](1) NULL,
	[lastTranId] [bigint] NULL,
	[relationId] [int] NULL,
	[relativeName] [varchar](500) NULL,
	[address2] [varchar](200) NULL,
	[fullName] [varchar](200) NULL,
	[postalCode] [varchar](500) NULL,
	[idExpiryDate] [datetime] NULL,
	[idType] [varchar](100) NULL,
	[idNumber] [varchar](50) NULL,
	[telNo] [int] NULL,
	[companyName] [varchar](100) NULL,
	[gender] [varchar](10) NULL,
	[salaryRange] [int] NULL,
	[bonusPointPending] [money] NULL,
	[Redeemed] [money] NULL,
	[bonusPoint] [money] NULL,
	[todaysSent] [money] NULL,
	[todaysNoOfTxn] [int] NULL,
	[agentId] [int] NULL,
	[branchId] [int] NULL,
	[memberIDissuedDate] [datetime] NULL,
	[memberIDissuedByUser] [varchar](50) NULL,
	[memberIDissuedAgentId] [varchar](50) NULL,
	[memberIDissuedBranchId] [varchar](50) NULL,
	[bonusTxnCount] [int] NULL,
	[bonusTxnAmount] [money] NULL,
	[employmentType] [int] NULL,
	[islocked] [varchar](1) NULL,
	[onlineUser] [char](1) NULL,
	[isActive] [char](1) NULL,
	[state2] [varchar](500) NULL,
	[ipAddress] [varchar](30) NULL,
	[idIssueDate] [datetime] NULL,
	[totalSent] [money] NULL,
	[lastTxnDate] [datetime] NULL,
	[customerRisk] [varchar](10) NULL,
	[GWLScanStatus] [int] NULL,
	[RBA] [money] NULL,
	[RBASTATUS] [varchar](20) NULL,
	[GWLUpdateScanStatus] [int] NULL,
	[GWLStatus] [varchar](15) NULL,
	[PEPScanStatus] [bigint] NULL,
	[PEPStatus] [char](1) NULL,
	[memberIDstatus] [char](1) NULL,
	[reviewedId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
