USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[tempCE]    Script Date: 5/18/2021 5:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tempCE](
	[rowId] [bigint] IDENTITY(1,1) NOT NULL,
	[agentId] [varchar](20) NULL,
	[agentRequestId] [varchar](100) NULL,
	[beneAddress] [varchar](200) NULL,
	[beneBankAccountNumber] [varchar](100) NULL,
	[beneBankBranchCode] [varchar](100) NULL,
	[beneBankBranchName] [varchar](100) NULL,
	[beneBankCode] [varchar](200) NULL,
	[beneBankName] [varchar](200) NULL,
	[beneIdNo] [varchar](50) NULL,
	[beneName] [varchar](100) NULL,
	[benePhone] [varchar](50) NULL,
	[custAddress] [varchar](200) NULL,
	[custIdDate] [varchar](20) NULL,
	[custIdNo] [varchar](20) NULL,
	[custIdType] [varchar](20) NULL,
	[custName] [varchar](100) NULL,
	[custNationality] [varchar](100) NULL,
	[custPhone] [varchar](100) NULL,
	[description] [varchar](300) NULL,
	[destinationAmount] [varchar](20) NULL,
	[destinationCurrency] [varchar](20) NULL,
	[gitNo] [varchar](20) NULL,
	[paymentMode] [varchar](20) NULL,
	[purpose] [varchar](50) NULL,
	[responseCode] [varchar](100) NULL,
	[settlementCurrency] [varchar](20) NULL,
	[apiStatus] [varchar](50) NULL,
	[payResponseCode] [varchar](20) NULL,
	[payResponseMsg] [varchar](100) NULL,
	[recordStatus] [varchar](50) NULL,
	[tranPayProcess] [varchar](20) NULL,
	[createdDate] [datetime] NULL,
	[createdBy] [varchar](30) NULL,
	[paidDate] [datetime] NULL,
	[paidBy] [varchar](30) NULL,
	[rContactNo] [varchar](50) NULL,
	[nativeCountry] [varchar](100) NULL,
	[pBranch] [int] NULL,
	[rIdType] [varchar](30) NULL,
	[rIdNumber] [varchar](30) NULL,
	[rIdPlaceOfIssue] [varchar](50) NULL,
	[rValidDate] [datetime] NULL,
	[rDob] [datetime] NULL,
	[rAddress] [varchar](100) NULL,
	[rCity] [varchar](100) NULL,
	[rOccupation] [varchar](100) NULL,
	[relationType] [varchar](50) NULL,
	[relativeName] [varchar](100) NULL,
	[remarks] [varchar](500) NULL
) ON [PRIMARY]
GO
