USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[MyTable]    Script Date: 5/18/2021 5:16:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyTable](
	[MyPK] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[MyColumn] [nvarchar](1000) NULL,
 CONSTRAINT [pk_idx_MyTable_MyPK] PRIMARY KEY CLUSTERED 
(
	[MyPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
