USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[TBL_SMS_SEND_LOGS]    Script Date: 5/18/2021 5:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SMS_SEND_LOGS](
	[ROW_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MOBILE_NUMBER] [varchar](20) NULL,
	[CONTROL_NO] [varchar](30) NULL,
	[PROCESS_ID] [varchar](50) NULL,
	[MSG_BODY] [nvarchar](700) NULL,
	[CREATED_BY] [varchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[IS_SEND_SUCCESS] [bit] NULL,
	[STATUS] [varchar](20) NULL,
	[STATUS_DETAIL] [varchar](100) NULL,
	[MT_ID] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
