USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[CustomerMasterTemp]    Script Date: 5/18/2021 5:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerMasterTemp](
	[customerId] [bigint] IDENTITY(1,1) NOT NULL,
	[membershipId] [varchar](100) NULL,
	[firstName] [varchar](100) NULL,
	[middleName] [varchar](100) NULL,
	[lastName1] [varchar](100) NULL,
	[lastName2] [varchar](100) NULL,
	[country] [varchar](100) NULL,
	[address] [nvarchar](1000) NULL,
	[state] [varchar](100) NULL,
	[zipCode] [varchar](100) NULL,
	[district] [nvarchar](100) NULL,
	[city] [nvarchar](100) NULL,
	[email] [varchar](100) NULL,
	[homePhone] [varchar](100) NULL,
	[workPhone] [varchar](100) NULL,
	[mobile] [varchar](100) NULL,
	[nativeCountry] [varchar](100) NULL,
	[dob] [varchar](100) NULL,
	[placeOfIssue] [varchar](100) NULL,
	[customerType] [varchar](100) NULL,
	[occupation] [varchar](100) NULL,
	[isBlackListed] [varchar](100) NULL,
	[createdBy] [varchar](100) NULL,
	[createdDate] [varchar](100) NULL,
	[modifiedBy] [varchar](100) NULL,
	[modifiedDate] [varchar](100) NULL,
	[approvedBy] [varchar](100) NULL,
	[approvedDate] [varchar](100) NULL,
	[isDeleted] [varchar](100) NULL,
	[lastTranId] [varchar](100) NULL,
	[relationId] [varchar](100) NULL,
	[relativeName] [varchar](100) NULL,
	[address2] [varchar](100) NULL,
	[fullName] [varchar](100) NULL,
	[postalCode] [varchar](100) NULL,
	[idExpiryDate] [varchar](100) NULL,
	[idType] [varchar](100) NULL,
	[idNumber] [nvarchar](50) NULL,
	[telNo] [varchar](100) NULL,
	[companyName] [varchar](100) NULL,
	[gender] [varchar](100) NULL,
	[salaryRange] [varchar](100) NULL,
	[bonusPointPending] [varchar](100) NULL,
	[Redeemed] [varchar](100) NULL,
	[bonusPoint] [varchar](100) NULL,
	[todaysSent] [varchar](100) NULL,
	[todaysNoOfTxn] [varchar](100) NULL,
	[agentId] [varchar](100) NULL,
	[branchId] [varchar](100) NULL,
	[memberIDissuedDate] [varchar](100) NULL,
	[memberIDissuedByUser] [varchar](100) NULL,
	[memberIDissuedAgentId] [varchar](100) NULL,
	[memberIDissuedBranchId] [varchar](100) NULL,
	[totalSent] [varchar](100) NULL,
	[idIssueDate] [varchar](100) NULL,
	[onlineUser] [varchar](100) NULL,
	[customerPassword] [varchar](100) NULL,
	[customerStatus] [varchar](100) NULL,
	[isActive] [varchar](100) NULL,
	[islocked] [varchar](100) NULL,
	[sessionId] [varchar](100) NULL,
	[lastLoginTs] [varchar](100) NULL,
	[howDidYouHear] [varchar](100) NULL,
	[ansText] [varchar](100) NULL,
	[ansEmail] [varchar](100) NULL,
	[state2] [varchar](100) NULL,
	[ipAddress] [varchar](100) NULL,
	[marketingSubscription] [varchar](100) NULL,
	[paidTxn] [varchar](100) NULL,
	[firstTxnDate] [varchar](100) NULL,
	[verifyDoc1] [varchar](100) NULL,
	[verifyDoc2] [varchar](100) NULL,
	[verifiedBy] [varchar](100) NULL,
	[verifiedDate] [varchar](100) NULL,
	[verifyDoc3] [varchar](100) NULL,
	[isForcedPwdChange] [varchar](100) NULL,
	[bankName] [varchar](100) NULL,
	[bankAccountNo] [varchar](100) NULL,
	[walletAccountNo] [varchar](100) NULL,
	[availableBalance] [varchar](100) NULL,
	[obpId] [varchar](100) NULL,
	[CustomerBankName] [varchar](100) NULL,
	[referelCode] [varchar](100) NULL,
	[isEmailVerified] [varchar](100) NULL,
	[verificationCode] [varchar](100) NULL,
	[SelfieDoc] [varchar](100) NULL,
	[HasDeclare] [varchar](100) NULL,
	[AuditDate] [varchar](100) NULL,
	[AuditBy] [varchar](100) NULL,
	[SchemeStartDate] [varchar](100) NULL,
	[invalidAttemptCount] [varchar](100) NULL,
	[disableForScheme] [varchar](100) NULL,
	[thisMonthTotal] [varchar](100) NULL,
	[bonusTxnCount] [varchar](100) NULL,
	[bonusTxnAmount] [varchar](100) NULL,
	[hasMadeFirstTxn] [varchar](100) NULL,
	[sourceOfFund] [varchar](100) NULL,
	[nickName] [varchar](100) NULL,
	[dpUrl] [varchar](100) NULL,
	[verifyDoc4] [varchar](100) NULL,
	[selfie] [varchar](100) NULL,
	[isMobileVerified] [varchar](100) NULL,
	[lastLoggedInDevice] [varchar](100) NULL,
	[customerMasterId] [bigint] NULL,
	[username] [varchar](100) NULL,
	[anotherIdType] [varchar](20) NULL,
	[anotherIDNumber] [varchar](20) NULL,
	[anotherIDIssueDate] [datetime] NULL,
	[anotherIDExpiryDate] [datetime] NULL,
	[agreeYn] [bit] NULL,
	[customerEmail] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
