USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[thirdPartyAgentTxnId]    Script Date: 5/18/2021 5:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thirdPartyAgentTxnId](
	[agentTxnId] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[agentTxnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
