USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[txnDocUploadTEMP]    Script Date: 5/18/2021 5:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[txnDocUploadTEMP](
	[rowId] [bigint] IDENTITY(1,1) NOT NULL,
	[batchId] [varchar](50) NULL,
	[fileName] [varchar](200) NULL,
	[fileType] [varchar](50) NULL,
	[fileDescription] [varchar](200) NULL,
	[createdBy] [varchar](30) NULL,
	[createdDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[rowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
