USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[agentMasterPak]    Script Date: 5/18/2021 5:16:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agentMasterPak](
	[agentId] [int] IDENTITY(1001,1) NOT NULL,
	[parentId] [int] NULL,
	[agentName] [varchar](200) NULL,
	[agentCode] [varchar](50) NULL,
	[agentAddress] [varchar](200) NULL,
	[agentCity] [varchar](100) NULL,
	[agentCountry] [varchar](100) NULL,
	[agentState] [varchar](100) NULL,
	[agentDistrict] [varchar](100) NULL,
	[agentZip] [varchar](20) NULL,
	[agentLocation] [int] NULL,
	[agentPhone1] [varchar](50) NULL,
	[agentPhone2] [varchar](50) NULL,
	[agentFax1] [varchar](50) NULL,
	[agentFax2] [varchar](50) NULL,
	[agentMobile1] [varchar](50) NULL,
	[agentMobile2] [varchar](50) NULL,
	[agentEmail1] [varchar](100) NULL,
	[agentEmail2] [varchar](100) NULL,
	[businessOrgType] [int] NULL,
	[businessType] [int] NULL,
	[agentRole] [char](1) NULL,
	[agentType] [int] NULL,
	[allowAccountDeposit] [char](1) NULL,
	[actAsBranch] [char](1) NULL,
	[contractExpiryDate] [datetime] NULL,
	[renewalFollowupDate] [datetime] NULL,
	[isSettlingAgent] [char](1) NULL,
	[agentGrp] [int] NULL,
	[businessLicense] [varchar](100) NULL,
	[agentBlock] [char](1) NULL,
	[agentCompanyName] [varchar](200) NULL,
	[companyAddress] [varchar](200) NULL,
	[companyCity] [varchar](100) NULL,
	[companyCountry] [varchar](100) NULL,
	[companyState] [varchar](100) NULL,
	[companyDistrict] [varchar](100) NULL,
	[companyZip] [varchar](20) NULL,
	[companyPhone1] [varchar](50) NULL,
	[companyPhone2] [varchar](50) NULL,
	[companyFax1] [varchar](50) NULL,
	[companyFax2] [varchar](50) NULL,
	[companyEmail1] [varchar](100) NULL,
	[companyEmail2] [varchar](100) NULL,
	[localTime] [int] NULL,
	[localCurrency] [int] NULL,
	[agentDetails] [varchar](max) NULL,
	[isActive] [char](1) NULL,
	[isDeleted] [char](1) NULL,
	[createdDate] [datetime] NULL,
	[createdBy] [varchar](100) NULL,
	[modifiedDate] [datetime] NULL,
	[modifiedBy] [varchar](100) NULL,
	[approvedDate] [datetime] NULL,
	[approvedBy] [varchar](100) NULL,
	[agentCountryId] [int] NULL,
	[headMessage] [varchar](max) NULL,
	[extCode] [varchar](200) NULL,
	[swiftCode] [varchar](200) NULL,
	[routingCode] [varchar](200) NULL,
	[mapCodeInt] [varchar](20) NULL,
	[mapCodeDom] [varchar](20) NULL,
	[commCodeInt] [varchar](20) NULL,
	[commCodeDom] [varchar](20) NULL,
	[joinedDate] [datetime] NULL,
	[isMigrated] [char](1) NULL,
	[mapCodeIntAc] [varchar](10) NULL,
	[mapCodeDomAc] [varchar](10) NULL,
	[payOption] [int] NULL,
	[agentApiType] [varchar](50) NULL,
	[isHeadOffice] [varchar](10) NULL,
	[routing] [varchar](10) NULL,
	[isInternal] [char](1) NULL,
	[cpEmail] [varchar](100) NULL,
	[agentSettCurr] [varchar](5) NULL,
	[contactPerson1] [varchar](250) NULL,
	[contactPerson2] [varchar](250) NULL,
	[latitude] [varchar](100) NULL,
	[longitude] [varchar](100) NULL,
	[agentAddress2] [varchar](max) NULL,
	[apiAgent] [char](1) NULL,
	[BANKCODE] [varchar](100) NULL,
	[BANKBRANCH] [varchar](100) NULL,
	[BANKACCOUNTNUMBER] [varchar](50) NULL,
	[ACCOUNTHOLDERNAME] [varchar](100) NULL,
	[IsIntl] [bit] NULL,
	[IsDom] [bit] NULL,
	[isApiPartner] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
