USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[REMIT_TRAN_STATUS_FROM_INFICARE]    Script Date: 5/18/2021 5:16:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REMIT_TRAN_STATUS_FROM_INFICARE](
	[ROWID] [int] IDENTITY(1,1) NOT NULL,
	[TRANNO] [bigint] NULL,
	[TRANSTATUS] [varchar](50) NULL,
	[PAYSTATUS] [varchar](50) NULL,
	[PAIDDATE] [datetime] NULL,
	[CANCELDATE] [datetime] NULL,
	[CONTROLNO] [varchar](30) NULL,
	[COLLMODE] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
