USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[CUSTOMER_DOWNLOAD_LOG]    Script Date: 5/18/2021 5:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_DOWNLOAD_LOG](
	[ROW_ID] [int] IDENTITY(1,1) NOT NULL,
	[DOWNLOAD_COUNT] [int] NULL,
	[DUPLICATE_COUNT] [int] NULL,
	[MSG] [varchar](250) NULL,
	[DOWNLOAD_TYPE] [varchar](20) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
