USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[time_zones]    Script Date: 5/18/2021 5:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[time_zones](
	[TIMEZONE_ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TIMEZONE_NAME] [varchar](60) NOT NULL,
	[OFFSET_HR] [int] NOT NULL,
	[OFFSET_MI] [int] NOT NULL,
	[DST_OFFSET_HR] [int] NOT NULL,
	[DST_OFFSET_MI] [int] NOT NULL,
	[DST_EFF_DT] [varchar](10) NOT NULL,
	[DST_END_DT] [varchar](10) NOT NULL,
	[EFF_DT] [datetime] NOT NULL,
	[END_DT] [datetime] NOT NULL,
	[msrepl_tran_version] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_TIME_ZONES] PRIMARY KEY CLUSTERED 
(
	[TIMEZONE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[time_zones] ADD  CONSTRAINT [DF_TIME_ZONES_OFFSET]  DEFAULT ((-1)) FOR [OFFSET_HR]
GO
ALTER TABLE [dbo].[time_zones] ADD  CONSTRAINT [DF_TIME_ZONES_OFFSET_MI]  DEFAULT ((0)) FOR [OFFSET_MI]
GO
ALTER TABLE [dbo].[time_zones] ADD  CONSTRAINT [DF_TIME_ZONES_DST_OFFSET]  DEFAULT ((-1)) FOR [DST_OFFSET_HR]
GO
ALTER TABLE [dbo].[time_zones] ADD  CONSTRAINT [DF_TIME_ZONES_DST_OFFSET_MI]  DEFAULT ((0)) FOR [DST_OFFSET_MI]
GO
ALTER TABLE [dbo].[time_zones] ADD  CONSTRAINT [DF_TIME_ZONES_DST_EFF_DT]  DEFAULT ('03210200') FOR [DST_EFF_DT]
GO
ALTER TABLE [dbo].[time_zones] ADD  CONSTRAINT [DF_TIME_ZONES_DST_END_DT]  DEFAULT ('11110200') FOR [DST_END_DT]
GO
ALTER TABLE [dbo].[time_zones] ADD  CONSTRAINT [DF_TIME_ZONES_EFF_DT]  DEFAULT (getdate()) FOR [EFF_DT]
GO
ALTER TABLE [dbo].[time_zones] ADD  CONSTRAINT [DF_TIME_ZONES_END_DT]  DEFAULT ('12/31/9999') FOR [END_DT]
GO
ALTER TABLE [dbo].[time_zones] ADD  CONSTRAINT [MSrepl_tran_version_default_08C0FF08_80C0_4B6C_BF98_BDAA0F211301_1283639766]  DEFAULT (newid()) FOR [msrepl_tran_version]
GO
