USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[TEMPTRANTABLE]    Script Date: 5/18/2021 5:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMPTRANTABLE](
	[CONTROLNO] [varchar](20) NULL,
	[IS_VOUCHER_GENERATED] [varchar](1) NOT NULL
) ON [PRIMARY]
GO
