USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[REFERRAL_INCENTIVE_TRANSACTION_WISE]    Script Date: 5/18/2021 5:16:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REFERRAL_INCENTIVE_TRANSACTION_WISE](
	[ROW_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[REFERRAL_ID] [int] NOT NULL,
	[PARTNER_ID] [int] NOT NULL,
	[TRAN_ID] [bigint] NOT NULL,
	[COMMISSION_PCNT] [decimal](5, 2) NOT NULL,
	[PAID_COMMISSION] [money] NOT NULL,
	[FX_PCNT] [decimal](5, 2) NOT NULL,
	[PAID_FX] [money] NOT NULL,
	[FLAT_RATE] [money] NOT NULL,
	[PAID_FLAT] [money] NOT NULL,
	[PAID_NEW_CUSTOMER_RATE] [money] NOT NULL,
	[PAID_NEW_CUSTOMER] [money] NOT NULL,
	[CUSTOMER_ID] [bigint] NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[IS_CANCEL] [bit] NOT NULL,
	[TXN_DATE] [datetime] NULL,
	[isUpdated] [int] NULL,
	[TAX_AMOUNT] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[REFERRAL_INCENTIVE_TRANSACTION_WISE] ADD  DEFAULT ((0)) FOR [COMMISSION_PCNT]
GO
ALTER TABLE [dbo].[REFERRAL_INCENTIVE_TRANSACTION_WISE] ADD  DEFAULT ((0)) FOR [PAID_COMMISSION]
GO
ALTER TABLE [dbo].[REFERRAL_INCENTIVE_TRANSACTION_WISE] ADD  DEFAULT ((0)) FOR [FX_PCNT]
GO
ALTER TABLE [dbo].[REFERRAL_INCENTIVE_TRANSACTION_WISE] ADD  DEFAULT ((0)) FOR [PAID_FX]
GO
ALTER TABLE [dbo].[REFERRAL_INCENTIVE_TRANSACTION_WISE] ADD  DEFAULT ((0)) FOR [FLAT_RATE]
GO
ALTER TABLE [dbo].[REFERRAL_INCENTIVE_TRANSACTION_WISE] ADD  DEFAULT ((0)) FOR [PAID_FLAT]
GO
ALTER TABLE [dbo].[REFERRAL_INCENTIVE_TRANSACTION_WISE] ADD  DEFAULT ((0)) FOR [PAID_NEW_CUSTOMER_RATE]
GO
ALTER TABLE [dbo].[REFERRAL_INCENTIVE_TRANSACTION_WISE] ADD  DEFAULT ((0)) FOR [PAID_NEW_CUSTOMER]
GO
