USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[TBL_WALLET_DEPOSIT_LOG]    Script Date: 5/18/2021 5:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_WALLET_DEPOSIT_LOG](
	[ROW_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DEPOSIT_ID] [bigint] NOT NULL,
	[REQUEST_RESPONSE] [nvarchar](max) NOT NULL,
	[TYPE] [char](10) NOT NULL,
	[LOG_DATE] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
