USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[RiaBankHistory]    Script Date: 5/18/2021 5:16:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RiaBankHistory](
	[rowid] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderNo] [varchar](50) NULL,
	[PIN] [varchar](20) NULL,
	[SendingCorrespSeqID] [varchar](50) NULL,
	[PayingCorrespSeqID] [varchar](50) NULL,
	[SalesDate] [varchar](50) NULL,
	[SalesTime] [varchar](50) NULL,
	[CountryFrom] [varchar](50) NULL,
	[CountryTo] [varchar](50) NULL,
	[PayingCorrespLocID] [varchar](50) NULL,
	[SendingCorrespBranchNo] [varchar](50) NULL,
	[BeneficiaryCurrency] [varchar](50) NULL,
	[BeneficiaryAmount] [varchar](50) NULL,
	[DeliveryMethod] [varchar](50) NULL,
	[PaymentCurrency] [varchar](50) NULL,
	[PaymentAmount] [varchar](50) NULL,
	[CommissionCurrency] [varchar](50) NULL,
	[CommissionAmount] [varchar](50) NULL,
	[CustomerChargeCurrency] [varchar](50) NULL,
	[CustomerChargeAmount] [varchar](50) NULL,
	[BeneID] [varchar](50) NULL,
	[BeneFirstName] [varchar](250) NULL,
	[BeneMiddleName] [varchar](250) NULL,
	[BeneLastName] [varchar](250) NULL,
	[BeneLastName2] [varchar](250) NULL,
	[BeneAddress] [nvarchar](2000) NULL,
	[BeneCity] [varchar](250) NULL,
	[BeneState] [varchar](50) NULL,
	[BeneZipCode] [varchar](50) NULL,
	[BeneCountry] [varchar](50) NULL,
	[BenePhoneNo] [varchar](50) NULL,
	[BeneCellNo] [varchar](50) NULL,
	[BeneMessage] [nvarchar](2000) NULL,
	[CustID] [varchar](50) NULL,
	[CustFirstName] [varchar](250) NULL,
	[CustMiddleName] [varchar](250) NULL,
	[CustLastName] [varchar](250) NULL,
	[CustLastName2] [varchar](250) NULL,
	[CustCountry] [varchar](50) NULL,
	[CustID1Type] [varchar](50) NULL,
	[CustID1No] [varchar](50) NULL,
	[CustID1IssuedBy] [varchar](50) NULL,
	[CustID1IssuedByState] [varchar](50) NULL,
	[CustID1IssuedByCountry] [varchar](50) NULL,
	[CustID1IssuedDate] [varchar](50) NULL,
	[CustID1ExpirationDate] [varchar](50) NULL,
	[CustID2Type] [varchar](50) NULL,
	[CustID2No] [varchar](50) NULL,
	[CustID2IssuedBy] [varchar](50) NULL,
	[CustID2IssuedByCountry] [varchar](50) NULL,
	[CustID2IssuedDate] [varchar](50) NULL,
	[CustID2ExpirationDate] [varchar](50) NULL,
	[CustCountryOfBirth] [varchar](50) NULL,
	[CustNationality] [varchar](50) NULL,
	[CustDateOfBirth] [varchar](50) NULL,
	[CustOccupation] [varchar](50) NULL,
	[CustSourceOfFunds] [varchar](50) NULL,
	[TransferReason] [nvarchar](500) NULL,
	[BankName] [varchar](250) NULL,
	[BankAccountType] [varchar](50) NULL,
	[BankAccountNo] [varchar](50) NULL,
	[BeneIDType] [varchar](50) NULL,
	[BeneIDNo] [varchar](50) NULL,
	[BankCity] [varchar](50) NULL,
	[BankBranchNo] [varchar](50) NULL,
	[BankBranchName] [varchar](250) NULL,
	[BankBranchAddress] [varchar](250) NULL,
	[BankCode] [varchar](50) NULL,
	[BankRoutingCode] [varchar](50) NULL,
	[BankRoutingType] [varchar](50) NULL,
	[MobileWalletAccountNo] [varchar](50) NULL,
	[createdBy] [varchar](50) NULL,
	[createdDate] [datetime] NULL,
	[paidDate] [datetime] NULL,
	[paidBy] [varchar](30) NULL,
	[recordStatus] [varchar](50) NULL,
	[tranPayProcess] [varchar](20) NULL,
	[apiStatus] [varchar](50) NULL,
	[payResponseCode] [varchar](20) NULL,
	[payResponseMsg] [varchar](100) NULL,
	[pBranch] [int] NULL,
	[pAgent] [int] NULL,
	[pBankType] [char](1) NULL,
	[pBankBranchName] [varchar](100) NULL,
	[pBank] [varchar](30) NULL,
	[pBankBranch] [varchar](30) NULL,
	[Remarks] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[rowid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
