USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[TBL_THIRDPARTY_EX_RATE]    Script Date: 5/18/2021 5:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_THIRDPARTY_EX_RATE](
	[ROW_ID] [int] IDENTITY(1,1) NOT NULL,
	[P_COUNTRY_ID] [int] NOT NULL,
	[P_AGENT_ID] [int] NOT NULL,
	[P_CURR] [varchar](5) NOT NULL,
	[SETT_RATE] [float] NOT NULL,
	[MARGIN] [float] NOT NULL,
	[CUSTOMER_RATE] [float] NOT NULL,
	[LAST_UPDATED_DATE] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
