USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[remitTranTemp]    Script Date: 5/18/2021 5:16:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[remitTranTemp](
	[id] [bigint] IDENTITY(10000001,1) NOT FOR REPLICATION NOT NULL,
	[controlNo] [varchar](100) NULL,
	[sCurrCostRate] [float] NULL,
	[sCurrHoMargin] [float] NULL,
	[sCurrSuperAgentMargin] [float] NULL,
	[sCurrAgentMargin] [float] NULL,
	[pCurrCostRate] [float] NULL,
	[pCurrHoMargin] [float] NULL,
	[pCurrSuperAgentMargin] [float] NULL,
	[pCurrAgentMargin] [float] NULL,
	[agentCrossSettRate] [float] NULL,
	[customerRate] [float] NULL,
	[sAgentSettRate] [float] NULL,
	[pDateCostRate] [float] NULL,
	[agentFxGain] [money] NULL,
	[treasuryTolerance] [float] NULL,
	[customerPremium] [float] NULL,
	[schemePremium] [float] NULL,
	[sharingValue] [money] NULL,
	[sharingType] [char](1) NULL,
	[serviceCharge] [money] NULL,
	[handlingFee] [money] NULL,
	[sAgentComm] [money] NULL,
	[sAgentCommCurrency] [varchar](3) NULL,
	[sSuperAgentComm] [money] NULL,
	[sSuperAgentCommCurrency] [varchar](3) NULL,
	[pAgentComm] [money] NULL,
	[pAgentCommCurrency] [varchar](3) NULL,
	[pSuperAgentComm] [money] NULL,
	[pSuperAgentCommCurrency] [varchar](3) NULL,
	[promotionCode] [varchar](50) NULL,
	[promotionType] [varchar](50) NULL,
	[pMessage] [varchar](150) NULL,
	[sCountry] [varchar](100) NULL,
	[sSuperAgent] [int] NULL,
	[sSuperAgentName] [varchar](100) NULL,
	[sAgent] [int] NULL,
	[sAgentName] [varchar](100) NULL,
	[sBranch] [int] NULL,
	[sBranchName] [varchar](100) NULL,
	[pCountry] [varchar](100) NULL,
	[pSuperAgent] [int] NULL,
	[pSuperAgentName] [varchar](50) NULL,
	[pAgent] [int] NULL,
	[pAgentName] [varchar](100) NULL,
	[pBranch] [int] NULL,
	[pBranchName] [varchar](100) NULL,
	[paymentMethod] [varchar](50) NULL,
	[pBank] [int] NULL,
	[pBankName] [varchar](100) NULL,
	[pBankBranch] [int] NULL,
	[pBankBranchName] [varchar](100) NULL,
	[accountNo] [varchar](55) NULL,
	[externalBankCode] [varchar](50) NULL,
	[collMode] [varchar](50) NULL,
	[collCurr] [varchar](3) NULL,
	[tAmt] [money] NULL,
	[cAmt] [money] NULL,
	[pAmt] [money] NULL,
	[payoutCurr] [varchar](3) NULL,
	[relWithSender] [varchar](100) NULL,
	[purposeOfRemit] [varchar](500) NULL,
	[sourceOfFund] [varchar](500) NULL,
	[tranStatus] [varchar](50) NULL,
	[payStatus] [varchar](50) NULL,
	[createdDate] [datetime] NULL,
	[createdDateLocal] [datetime] NULL,
	[createdBy] [varchar](100) NULL,
	[modifiedDate] [datetime] NULL,
	[modifiedDateLocal] [datetime] NULL,
	[modifiedBy] [varchar](30) NULL,
	[approvedDate] [datetime] NULL,
	[approvedDateLocal] [datetime] NULL,
	[approvedBy] [varchar](100) NULL,
	[paidDate] [datetime] NULL,
	[paidDateLocal] [datetime] NULL,
	[paidBy] [varchar](30) NULL,
	[cancelRequestDate] [datetime] NULL,
	[cancelRequestDateLocal] [datetime] NULL,
	[cancelRequestBy] [varchar](100) NULL,
	[cancelReason] [varchar](200) NULL,
	[refund] [char](1) NULL,
	[cancelCharge] [money] NULL,
	[cancelApprovedDate] [datetime] NULL,
	[cancelApprovedDateLocal] [datetime] NULL,
	[cancelApprovedBy] [varchar](100) NULL,
	[blockedDate] [datetime] NULL,
	[blockedBy] [varchar](30) NULL,
	[lockedDate] [datetime] NULL,
	[lockedDateLocal] [datetime] NULL,
	[lockedBy] [varchar](30) NULL,
	[payTokenId] [bigint] NULL,
	[sendEOD] [char](1) NULL,
	[payEOD] [char](1) NULL,
	[cancelEOD] [char](1) NULL,
	[tranType] [char](1) NULL,
	[ContNo] [varchar](20) NULL,
	[uploadLogId] [bigint] NULL,
	[company] [varchar](50) NULL,
	[voucherNo] [varchar](20) NULL,
	[controlNo2] [varchar](20) NULL,
	[pBankType] [char](1) NULL,
	[expectedPayoutAgent] [varchar](500) NULL,
	[routedBy] [varchar](100) NULL,
	[routedDate] [datetime] NULL,
	[senderName] [varchar](500) NULL,
	[receiverName] [varchar](500) NULL,
	[trnStatusBeforeCnlReq] [varchar](50) NULL,
	[schemeId] [int] NULL,
	[lockStatus] [varchar](100) NULL,
	[bonusPoint] [int] NULL,
	[pLocation] [varchar](100) NULL,
	[pState] [varchar](100) NULL,
	[pDistrict] [varchar](100) NULL,
	[msrepl_tran_version] [uniqueidentifier] NOT NULL,
	[isOnlineTxn] [char](1) NULL,
	[pHubComm] [money] NULL,
	[pHubCommCurrency] [varchar](3) NULL,
	[sRouteId] [varchar](5) NULL,
	[isScMaunal] [bit] NULL,
	[originalSC] [money] NULL,
	[isOnBehalf] [bit] NULL,
	[PayerId] [int] NULL,
	[PayerBranchId] [int] NULL,
	[isYourMoney] [char](1) NULL,
	[isPep] [char](1) NULL,
	[sessionId] [varchar](500) NULL,
 CONSTRAINT [pk_idx_remitTranTemp_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[remitTranTemp] ADD  CONSTRAINT [MSrepl_tran_version_default_8CF5C4D0_B06D_4BDC_B4D4_7D44EFC3C2D1_1736041616]  DEFAULT (newid()) FOR [msrepl_tran_version]
GO
