USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[FiscalYear]    Script Date: 5/18/2021 5:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiscalYear](
	[FISCAL_YEAR_ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[FISCAL_YEAR_ENGLISH] [varchar](20) NULL,
	[FISCAL_YEAR_NEPALI] [varchar](20) NULL,
	[EN_YEAR_START_DATE] [date] NOT NULL,
	[EN_YEAR_END_DATE] [date] NOT NULL,
	[NP_YEAR_START_DATE] [varchar](50) NULL,
	[NP_YEAR_END_DATE] [varchar](50) NULL,
	[CREATED_BY] [datetime] NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [datetime] NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NULL,
 CONSTRAINT [pk_idx_FiscalYear_FISCAL_YEAR_ID] PRIMARY KEY CLUSTERED 
(
	[FISCAL_YEAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
