USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[nepalPaidSync]    Script Date: 5/18/2021 5:16:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nepalPaidSync](
	[controlNo] [varchar](50) NULL,
	[processDate] [datetime] NULL
) ON [PRIMARY]
GO
