USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[API_BANK_LIST_MASTER_TMP]    Script Date: 5/18/2021 5:16:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[API_BANK_LIST_MASTER_TMP](
	[MASTER_BANK_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BANK_NAME] [varchar](150) NOT NULL,
	[TMP_BANK_ID] [int] NULL,
	[PARTNER_ID] [int] NULL,
	[JME_BANK_CODE] [varchar](30) NULL,
	[BANK_STATE] [varchar](100) NULL,
	[BANK_DISTRICT] [varchar](100) NULL,
	[BANK_ADDRESS] [nvarchar](250) NULL,
	[BANK_PHONE] [nvarchar](50) NULL,
	[BANK_EMAIL] [nvarchar](150) NULL,
	[SUPPORT_CURRENCY] [varchar](5) NULL,
	[BANK_COUNTRY] [varchar](45) NOT NULL,
	[PAYMENT_TYPE_ID] [int] NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASTER_BANK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
