USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[MISSING_COMM_NEW]    Script Date: 5/18/2021 5:16:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MISSING_COMM_NEW](
	[ID] [bigint] NOT NULL,
	[CONTROLNO] [varchar](100) NULL
) ON [PRIMARY]
GO
