USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[TEMP_RATE_UPLOAD]    Script Date: 5/18/2021 5:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMP_RATE_UPLOAD](
	[ROW_ID] [int] IDENTITY(1,1) NOT NULL,
	[P_COUNTRY_ID] [int] NULL,
	[S_CURRENCY] [varchar](10) NULL,
	[P_CURRENCY] [varchar](10) NULL,
	[RATE] [float] NULL,
	[UPLOAD_DATE] [datetime] NULL,
	[SESSION_ID] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
