USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[tt]    Script Date: 5/18/2021 5:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tt](
	[extCustomerId] [varchar](50) NULL
) ON [PRIMARY]
GO
