USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[CANCEL_TXN_MISSED]    Script Date: 5/18/2021 5:16:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANCEL_TXN_MISSED](
	[ROW_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONTROLNO] [varchar](30) NULL,
	[ID] [bigint] NULL,
	[TRANSTATUS] [varchar](80) NULL,
	[PAYSTATUS] [varchar](80) NULL,
	[PROMOTIONCODE] [varchar](50) NULL,
	[REFERRAL_TYPE_CODE] [varchar](5) NULL,
	[CREATEDDATE] [varchar](20) NULL,
	[CANCELAPPROVEDDATE] [varchar](20) NULL,
	[IS_VOUCHER_GEN] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
