USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[globalBankTranFastPayHistory]    Script Date: 5/18/2021 5:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[globalBankTranFastPayHistory](
	[rowId] [int] IDENTITY(1,1) NOT NULL,
	[radNo] [varchar](100) NULL,
	[agentBranchId] [varchar](100) NULL,
	[status] [varchar](100) NULL,
	[statusName] [varchar](100) NULL,
	[transactionDate] [varchar](100) NULL,
	[receiveCurrencyIsoCode] [varchar](100) NULL,
	[rAmount] [varchar](100) NULL,
	[sAmount] [varchar](100) NULL,
	[paymentModeId] [varchar](100) NULL,
	[exRate] [varchar](100) NULL,
	[cAmountLocal] [varchar](100) NULL,
	[cAmountForeign] [varchar](100) NULL,
	[payoutBranchId] [varchar](100) NULL,
	[paymentModeName] [varchar](100) NULL,
	[senderFullName] [varchar](100) NULL,
	[senderAddress] [varchar](100) NULL,
	[senderAddressUnicode] [varchar](100) NULL,
	[senCityId] [varchar](100) NULL,
	[senderCityName] [varchar](100) NULL,
	[senderStateId] [varchar](100) NULL,
	[senderStateName] [varchar](100) NULL,
	[senderCountryIsoCode] [varchar](100) NULL,
	[senderCountryName] [varchar](100) NULL,
	[senderPhoneHome] [varchar](100) NULL,
	[senderPhoneMobile] [varchar](100) NULL,
	[receiverFullName] [varchar](100) NULL,
	[receiverCountryIsoCode] [varchar](100) NULL,
	[receiverCountryName] [varchar](100) NULL,
	[receiverStateId] [varchar](100) NULL,
	[receiverStateName] [varchar](100) NULL,
	[recCityId] [varchar](100) NULL,
	[receiverCityName] [varchar](100) NULL,
	[receiverAddress] [varchar](100) NULL,
	[receiverPhoneMobile] [varchar](100) NULL,
	[recNo] [varchar](100) NULL,
	[senId] [varchar](100) NULL,
	[createdDate] [datetime] NULL,
	[createdBy] [varchar](100) NULL,
	[pBranch] [varchar](100) NULL,
	[recordStatus] [varchar](100) NULL,
	[rIdType] [varchar](30) NULL,
	[rIdNumber] [varchar](30) NULL,
	[rIdPlaceOfIssue] [varchar](30) NULL,
	[rValidDate] [varchar](30) NULL,
	[rDob] [datetime] NULL,
	[rAddress] [varchar](30) NULL,
	[rCity] [varchar](30) NULL,
	[rOccupation] [varchar](30) NULL,
	[rContactNo] [varchar](30) NULL,
	[rContactNom] [varchar](30) NULL,
	[nativeCountry] [varchar](30) NULL,
	[relationType] [varchar](30) NULL,
	[relativeName] [varchar](30) NULL,
	[remarks] [varchar](30) NULL,
	[customerId] [varchar](30) NULL,
	[relWithSender] [varchar](30) NULL,
	[purposeOfRemit] [varchar](30) NULL,
	[rIssueDate] [varchar](30) NULL,
	[payResponseCode] [varchar](30) NULL,
	[payResponseMsg] [varchar](100) NULL,
	[remittanceEntryDt] [varchar](100) NULL,
	[remittanceAuthorizedDt] [varchar](100) NULL,
	[remitType] [varchar](20) NULL,
	[pCommission] [varchar](20) NULL,
	[apiStatus] [varchar](50) NULL,
	[pCurrency] [varchar](10) NULL,
	[paidDate] [varchar](50) NULL,
	[paidBy] [varchar](50) NULL,
	[tranPayProcess] [varchar](50) NULL,
	[confirmationNo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[rowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
