USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[intlPayQueueList]    Script Date: 5/18/2021 5:16:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[intlPayQueueList](
	[controlNo] [varchar](50) NULL,
	[controlNoEnc] [varchar](50) NULL
) ON [PRIMARY]
GO
