USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[TBL_COMPLIANCE_QUESTION_OPTION]    Script Date: 5/18/2021 5:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_COMPLIANCE_QUESTION_OPTION](
	[ROW_ID] [int] IDENTITY(1,1) NOT NULL,
	[QUESTION_ID] [int] NOT NULL,
	[QUESTION_OPTION_TEXT] [varchar](150) NOT NULL,
	[QUESTION_OPTION_VALUE] [varchar](50) NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[QUESTION_OPTION_TEXT_UNICODE] [nvarchar](200) NULL,
	[QUESTION_OPTION_VALUE_UNICODE] [nvarchar](200) NULL,
	[QUESTION_OPTION_TEXT_UNICODE_KR] [nvarchar](200) NULL,
	[QUESTION_OPTION_VALUE_UNICODE_KR] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ROW_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
