USE [SendMnPro_Remit]
GO
/****** Object:  Table [dbo].[RiaCashHistory]    Script Date: 5/18/2021 5:16:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RiaCashHistory](
	[rowId] [bigint] IDENTITY(1,1) NOT NULL,
	[transRefID] [varchar](100) NULL,
	[orderFound] [char](5) NULL,
	[pin] [varchar](20) NULL,
	[orderNo] [varchar](20) NULL,
	[seqIDRA] [int] NULL,
	[orderDate] [datetime] NULL,
	[custNameFirst] [varchar](50) NULL,
	[custNameMiddle] [varchar](150) NULL,
	[custNameLast1] [varchar](50) NULL,
	[custNameLast2] [varchar](50) NULL,
	[custAddress] [varchar](255) NULL,
	[custCity] [varchar](50) NULL,
	[custState] [varchar](50) NULL,
	[custCountry] [varchar](50) NULL,
	[custZip] [varchar](20) NULL,
	[custTelNo] [varchar](20) NULL,
	[CustAmount] [money] NULL,
	[Rate] [money] NULL,
	[CustCurrency] [varchar](10) NULL,
	[PCRate] [money] NULL,
	[beneNameFirst] [varchar](50) NULL,
	[beneNameMiddle] [varchar](150) NULL,
	[beneNameLast1] [varchar](50) NULL,
	[beneNameLast2] [varchar](50) NULL,
	[beneAddress] [varchar](255) NULL,
	[beneCity] [varchar](50) NULL,
	[beneState] [varchar](50) NULL,
	[beneCountry] [varchar](50) NULL,
	[beneZip] [varchar](20) NULL,
	[beneTelNo] [varchar](20) NULL,
	[beneAmount] [money] NULL,
	[beneCurrency] [varchar](6) NULL,
	[responseDateTimeUTC] [varchar](30) NULL,
	[CountryFrom] [varchar](100) NULL,
	[rIdType] [varchar](30) NULL,
	[rIdNumber] [varchar](30) NULL,
	[rIdPlaceOfIssue] [varchar](50) NULL,
	[rIssuedDate] [datetime] NULL,
	[rValidDate] [datetime] NULL,
	[rDob] [datetime] NULL,
	[rContactNo] [varchar](50) NULL,
	[rbankName] [varchar](50) NULL,
	[rbankBranch] [varchar](100) NULL,
	[rcheque] [varchar](50) NULL,
	[rAccountNo] [varchar](50) NULL,
	[relationType] [varchar](50) NULL,
	[relationship] [varchar](100) NULL,
	[relativeName] [varchar](100) NULL,
	[topupMobileNo] [varchar](50) NULL,
	[purpose] [varchar](100) NULL,
	[payResponseCode] [varchar](50) NULL,
	[ConfirmationId] [varchar](50) NULL,
	[PCCommissionAmount] [money] NULL,
	[payResponseMsg] [varchar](255) NULL,
	[recordStatus] [varchar](20) NULL,
	[tranPayProcess] [varchar](30) NULL,
	[pBranch] [varchar](20) NULL,
	[createdDate] [datetime] NULL,
	[createdBy] [varchar](255) NULL,
	[paidBy] [varchar](255) NULL,
	[paidDate] [datetime] NULL,
	[RequestFrom] [varchar](30) NULL,
	[exRate] [money] NULL,
	[sendingCurrency] [varchar](10) NULL,
	[sendingAgent] [varchar](20) NULL,
	[incomeSource] [varchar](100) NULL,
	[sAmount] [money] NULL,
	[sCurrCostRate] [money] NULL,
	[rCurrCostRate] [money] NULL,
	[transferAmount] [money] NULL,
	[confirmationNo] [varchar](30) NULL,
	[pBankBranch] [varchar](50) NULL,
	[message] [varchar](150) NULL,
	[nativeCountry] [varchar](50) NULL,
	[remarks] [varchar](50) NULL,
	[rChequeNo] [varchar](50) NULL,
	[rBank] [varchar](50) NULL,
	[purposeOfRemit] [varchar](100) NULL,
	[rIssueDate] [datetime] NULL,
	[rAddress] [varchar](100) NULL,
	[rCity] [varchar](100) NULL,
	[rOccupation] [varchar](100) NULL,
	[relWithSender] [varchar](100) NULL,
	[benefMobile] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[rowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
