USE [SendMnPro_Account]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CASH_REPORT]    Script Date: 5/18/2021 5:20:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC [dbo].[PROC_CASH_REPORT]
(
	@FLAG			VARCHAR(20)
	,@USER			VARCHAR(50) = NULL
	,@startDate		VARCHAR(20) = NULL
	,@endDate		VARCHAR(20) = NULL
)
AS
SET NOCOUNT ON;
SET XACT_ABORT ON;
BEGIN
	IF @FLAG = 'RPT'
	BEGIN
		SELECT TRAN_DATE, sum(TRAN_AMT) TRAN_AMT INTO #TEMP FROM (
			SELECT CAST(TRAN_DATE AS DATE) TRAN_DATE, SUM(IN_AMOUNT - OUT_AMOUNT) TRAN_AMT
			FROM CASH_IN_OUT_HISTORY (NOLOCK)
			WHERE REFERENCE_TABLE = 'CASH'
			GROUP BY CAST(TRAN_DATE AS DATE)
		)x 
		GROUP BY TRAN_DATE
		ORDER BY TRAN_DATE

		DELETE FROM #TEMP WHERE TRAN_AMT = 0

		SELECT CAST(T1.TRAN_DATE AS DATE) TRAN_DATE, SUM(ISNULL(T2.TRAN_AMT, 0)) AS CUMULATIVE
		INTO #MAIN
		FROM #TEMP T1
		INNER JOIN #TEMP T2 ON T1.TRAN_DATE >= T2.TRAN_DATE
		GROUP BY T1.TRAN_DATE
		
		SELECT TRAN_DATE, [JP] = SUM([JP]), [SMBC] = SUM([SMBC]), [PETTY] = SUM([PETTY])
				, [REFUND] = [REFUND_CASH] - SUM([JP]) - SUM([SMBC]) - SUM([PETTY])
		INTO #ALL
		FROM(
		SELECT TRAN_DATE, [JP] = SUM([JP]), [SMBC] = SUM([SMBC]), [PETTY] = SUM([PETTY]), [REFUND_CASH] = SUM([REFUND_CASH]) 
			FROM(
				SELECT CAST(TRAN_DATE AS DATE) TRAN_DATE, 
						[JP] = CASE WHEN REFERENCE_TABLE = 'JP' THEN SUM(IN_AMOUNT) ELSE 0 END,
						[SMBC] = CASE WHEN REFERENCE_TABLE = 'SMBC' THEN SUM(IN_AMOUNT) ELSE 0 END,
						[PETTY] = CASE WHEN REFERENCE_TABLE = 'PITTY' THEN SUM(IN_AMOUNT) ELSE 0 END,
						[REFUND_CASH] = CASE WHEN REFERENCE_TABLE = 'CASH' AND IN_AMOUNT = 0 THEN SUM(OUT_AMOUNT) ELSE 0 END
				FROM CASH_IN_OUT_HISTORY (NOLOCK)
				WHERE REFERENCE_TABLE IN ('JP', 'SMBC', 'PITTY', 'CASH')
				--AND CAST(TRAN_DATE AS DATE) = '2019-01-03'
				GROUP BY CAST(TRAN_DATE AS DATE), REFERENCE_TABLE, IN_AMOUNT
			)Y
			GROUP BY TRAN_DATE
		)X GROUP BY CAST(TRAN_DATE AS DATE), [REFUND_CASH]

		SELECT [TRAN DATE] = '<a href="Reports.aspx?reportName=cash-report&flag=RPT-DRILLDOWN&from='+CONVERT(VARCHAR(10), T.TRAN_DATE, 121)+'">'+CONVERT(VARCHAR(10), T.TRAN_DATE, 121)+'</a>'
				, [CASH_TODAY BALANCE] = T.TRAN_AMT, [CASH_RUNNING BALANCE] = CUMULATIVE, [JP], [SMBC], [PETTY]--, [REFUND]
		FROM #TEMP T
		INNER JOIN #MAIN M ON M.TRAN_DATE = T.TRAN_DATE
		LEFT JOIN #ALL A ON A.TRAN_DATE = M.TRAN_DATE
		ORDER BY M.TRAN_DATE

		EXEC proc_errorHandler '0', 'Report has been prepared successfully.', NULL

		SELECT 'From Date' head,@startDate VALUE
		UNION ALL
		SELECT 'To Date' head,@endDate VALUE

		SELECT 'Cash Report' title
	END
	IF @FLAG = 'RPT-DRILLDOWN'
	BEGIN
		SELECT NARRATION, CONVERT(VARCHAR(10), TRAN_DATE, 121) [TRAN DATE], 
			[REFERENCE NUMBER] = REFERENCE_ID, 
			[CASH_IN AMOUNT] = CASE WHEN REFERENCE_TABLE = 'CASH' THEN IN_AMOUNT ELSE 0 END,
			[CASH_OUT AMOUNT] = CASE WHEN REFERENCE_TABLE = 'CASH' THEN OUT_AMOUNT ELSE 0 END, 
			[JP] = CASE WHEN REFERENCE_TABLE = 'JP' THEN IN_AMOUNT ELSE 0 END,
			[SMBC] = CASE WHEN REFERENCE_TABLE = 'SMBC' THEN IN_AMOUNT ELSE 0 END,
			[PETTY] = CASE WHEN REFERENCE_TABLE = 'PITTY' THEN IN_AMOUNT ELSE 0 END
		INTO #TEMP1
		FROM CASH_IN_OUT_HISTORY H(NOLOCK)
		WHERE TRAN_DATE BETWEEN @startDate AND @startDate + ' 23:59:59'

		ALTER TABLE #TEMP1 ADD CONTROLNO VARCHAR(30)
		UPDATE #TEMP1 SET CONTROLNO = DBO.FNAENCRYPTSTRING([REFERENCE NUMBER])

		SELECT NARRATION, [TRAN DATE], [REFERENCE NUMBER] = R.UPLOADLOGID
			, [CASH_IN AMOUNT], [CASH_OUT AMOUNT], [JP], [SMBC], [PETTY]
		FROM #TEMP1 T
		LEFT JOIN SendMnPro_Remit.dbo.REMITTRAN R(NOLOCK) ON R.CONTROLNO = T.CONTROLNO

		EXEC proc_errorHandler '0', 'Report has been prepared successfully.', NULL

		SELECT 'Date' head,@startDate VALUE

		SELECT 'Cash Report' title
	END
END


GO
