USE [SendMnPro_Account]
GO
/****** Object:  StoredProcedure [dbo].[JOB_CUSTOMER_DEPOSIT_EOD]    Script Date: 5/18/2021 5:20:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC [dbo].[JOB_CUSTOMER_DEPOSIT_EOD]
AS
SET NOCOUNT ON;
SET XACT_ABORT ON;
BEGIN TRY
	DECLARE @UNTRANSACTED_ACCOUNT VARCHAR(30) = '101139273793', @JP_ACCOUNT VARCHAR(30) = '100241011536'
			, @DATE VARCHAR(30) = CAST(DATEADD(DAY, -1, GETDATE()) AS DATE)
			, @SESSION_ID VARCHAR(50) = NEWID()

	SELECT TRANID, TRANDATE, DEPOSITAMOUNT, PARTICULARS, VOUCHER_GEN = 0
	INTO #UNTRANSACTED
	FROM SendMnPro_Remit.dbo.CUSTOMER_DEPOSIT_LOGS (NOLOCK)
	WHERE TRANDATE BETWEEN @DATE AND @DATE + ' 23:59:59'
	AND ISSKIPPED = 0
	--AND PROCESSEDDATE IS NULL
	AND APPROVEDDATE IS NULL
	AND ISNULL(ISEODDONE, 0) = 0
	AND DEPOSITAMOUNT > 0


	IF NOT EXISTS(SELECT * FROM #UNTRANSACTED)
	BEGIN
		SELECT 1, 'NO RECORD FOR UNTRANSACTED', NULL
		RETURN
	END

	DECLARE @TRANID BIGINT, @TRAN_DATE VARCHAR(20), @AMT MONEY, @NARRATION NVARCHAR(200)
	WHILE EXISTS(SELECT * FROM #UNTRANSACTED WHERE VOUCHER_GEN = 0)
	BEGIN
		SELECT @TRANID = TRANID, 
				@TRAN_DATE = TRANDATE, 
				@AMT = DEPOSITAMOUNT, 
				@NARRATION = PARTICULARS
		FROM #UNTRANSACTED
		WHERE VOUCHER_GEN = 0

		DELETE FROM TEMP_TRAN WHERE sessionID = @SESSION_ID

		--voucher entry for TRANSIT ACC  
		INSERT INTO temp_tran(sessionID,entry_user_id,acct_num,v_type,part_tran_type,tran_amt,usd_amt,usd_rate,tran_date  
		,rpt_code,trn_currency,field1,field2)   
		SELECT @SESSION_ID,'SYSTEM',@JP_ACCOUNT,'j','dr',@AMT,@AMT,1,@TRAN_DATE  
		,'USDVOUCHER','JPY',@TRANID,'Untransacted EOD JOB'  
  
		--voucher entry for VAULT OR BANK ACC  
		INSERT INTO temp_tran(sessionID,entry_user_id,acct_num,v_type,part_tran_type,tran_amt,usd_amt,usd_rate,tran_date  
		,rpt_code,trn_currency,field1,field2)   
		SELECT @SESSION_ID,'SYSTEM',@UNTRANSACTED_ACCOUNT,'j','cr',@AMT,@AMT,1,@TRAN_DATE  
		,'USDVOUCHER','JPY',@TRANID,'Untransacted EOD JOB'  
  
		EXEC [spa_saveTempTrnUSD] @flag='i',@sessionID=@SESSION_ID,@date=@TRAN_DATE,@narration=@NARRATION,@company_id=1,@v_type='j',@user='SYSTEM'  

		UPDATE #UNTRANSACTED SET VOUCHER_GEN = 1 WHERE TRANID = @TRANID

		UPDATE SendMnPro_Remit.dbo.CUSTOMER_DEPOSIT_LOGS SET ISEODDONE = 1 WHERE TRANID = @TRANID
	END
END TRY
BEGIN CATCH
	IF @@TRANCOUNT<>0
		ROLLBACK TRANSACTION

	DECLARE @errorMessage VARCHAR(MAX)
	SET @errorMessage = ERROR_MESSAGE()

	INSERT INTO SendMnPro_Remit.dbo.JOB_ERROR_LOGS
	SELECT @errorMessage, 'JOB_CUSTOMER_DEPOSIT_EOD', GETDATE()
END CATCH


GO
