USE [SendMnPro_Account]
GO
/****** Object:  StoredProcedure [dbo].[PROC_MITATSU_CHECK]    Script Date: 5/18/2021 5:20:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC [dbo].[PROC_MITATSU_CHECK]
(
	@FLAG VARCHAR(20)
	,@user	VARCHAR(50) = NULL
	,@FROM_DATE VARCHAR(20) = NULL
	,@TO_DATE VARCHAR(20) = NULL
)
AS;
SET NOCOUNT ON;
SET XACT_ABORT ON;
BEGIN
	IF @FLAG = 'S'
	BEGIN
		SELECT TRAN_DATE, SUM(TRAN_AMT) TRAN_AMT INTO #TEMP1 
		FROM (
			SELECT CAST(TRAN_DATE AS DATE) TRAN_DATE, SUM(CASE WHEN PART_TRAN_TYPE = 'DR' THEN isnull(TRAN_AMT, 0) ELSE 0 END) - SUM(CASE WHEN PART_TRAN_TYPE = 'CR' THEN isnull(TRAN_AMT, 0) ELSE 0 END) TRAN_AMT
			FROM tran_master (NOLOCK)
			WHERE ACC_NUM = '139286032'
			--and entry_user_id <> 'system'
			GROUP BY PART_TRAN_TYPE, TRAN_DATE
		)x 
		GROUP BY TRAN_DATE
		ORDER BY TRAN_DATE

		DELETE FROM #TEMP1 WHERE TRAN_AMT = 0

		SELECT TRAN_DATE, SUM(TRAN_AMT) TRAN_AMT INTO #TEMP2
		FROM (
			SELECT CAST(TRAN_DATE AS DATE) TRAN_DATE, SUM(CASE WHEN PART_TRAN_TYPE = 'DR' THEN isnull(TRAN_AMT, 0) ELSE 0 END) - SUM(CASE WHEN PART_TRAN_TYPE = 'CR' THEN isnull(TRAN_AMT, 0) ELSE 0 END) TRAN_AMT
			FROM tran_master (NOLOCK)
			WHERE ACC_NUM = '139265123'
			--and entry_user_id <> 'system'
			GROUP BY PART_TRAN_TYPE, TRAN_DATE
		)x 
		GROUP BY TRAN_DATE
		ORDER BY TRAN_DATE

		DELETE FROM #TEMP2 WHERE TRAN_AMT = 0

		SELECT TRAN_DATE, SUM(TRAN_AMT) TRAN_AMT INTO #TEMP3
		FROM (
			SELECT CAST(TRAN_DATE AS DATE) TRAN_DATE, SUM(CASE WHEN PART_TRAN_TYPE = 'DR' THEN isnull(TRAN_AMT, 0) ELSE 0 END) - SUM(CASE WHEN PART_TRAN_TYPE = 'CR' THEN isnull(TRAN_AMT, 0) ELSE 0 END) TRAN_AMT
			FROM tran_master (NOLOCK)
			WHERE ACC_NUM = '101139273793'
			--and entry_user_id <> 'system'
			GROUP BY PART_TRAN_TYPE, TRAN_DATE
		)x 
		GROUP BY TRAN_DATE
		ORDER BY TRAN_DATE

		DELETE FROM #TEMP3 WHERE TRAN_AMT = 0

		SELECT t1.TRAN_DATE, SUM(ISNULL(t2.TRAN_AMT, 0)) as cumulative
		into #TEMP139286032
		FROM #TEMP1 T1
		INNER JOIN #TEMP1 T2 ON T1.TRAN_DATE >= T2.TRAN_DATE
		GROUP BY T1.TRAN_DATE

		SELECT t1.TRAN_DATE, SUM(ISNULL(t2.TRAN_AMT, 0)) as cumulative
		into #TEMP139265123
		FROM #TEMP2 T1
		INNER JOIN #TEMP2 T2 ON T1.TRAN_DATE >= T2.TRAN_DATE
		GROUP BY T1.TRAN_DATE

		SELECT t1.TRAN_DATE, SUM(ISNULL(t2.TRAN_AMT, 0)) as cumulative
		into #TEMP101139273793
		FROM #TEMP3 T1
		INNER JOIN #TEMP3 T2 ON T1.TRAN_DATE >= T2.TRAN_DATE
		GROUP BY T1.TRAN_DATE

		CREATE TABLE #MAIN (TRAN_DATE VARCHAR(20))
		DECLARE @DATE DATE= '2018-12-31'

		WHILE @DATE <= @TO_DATE
		BEGIN
			INSERT INTO #MAIN
			SELECT @DATE

			SET @DATE = DATEADD(DAY, 1, @DATE)
		END

		SELECT ACCT_NUM INTO #ACCOUNT 
		FROM ac_master (NOLOCK) WHERE acct_rpt_code = 'CA'

		SELECT TRAN_DATE, SUM(TRAN_AMT) TRAN_AMT INTO #CUSTOMER 
		FROM (
			SELECT CAST(TRAN_DATE AS DATE) TRAN_DATE, SUM(CASE WHEN PART_TRAN_TYPE = 'DR' THEN isnull(TRAN_AMT, 0) ELSE 0 END) - SUM(CASE WHEN PART_TRAN_TYPE = 'CR' THEN isnull(TRAN_AMT, 0) ELSE 0 END) TRAN_AMT
			FROM tran_master M(NOLOCK)
			INNER JOIN #ACCOUNT A ON A.acct_num = M.ACC_NUM
			GROUP BY PART_TRAN_TYPE, TRAN_DATE
		)x 
		group by TRAN_DATE
		order by TRAN_DATE

		DELETE FROM #CUSTOMER WHERE TRAN_AMT = 0

		SELECT t1.TRAN_DATE, SUM(ISNULL(t2.TRAN_AMT, 0)) as cumulative
		INTO #WALLET_CUSTOMER
		FROM #CUSTOMER t1
		INNER JOIN #CUSTOMER t2 on t1.TRAN_DATE >= t2.TRAN_DATE
		GROUP BY t1.TRAN_DATE

		SELECT C1.TRAN_DATE, TEMP139286032 = ISNULL(CAST(C100.cumulative AS VARCHAR), 'A'), TEMP139265123 = ISNULL(CAST(C2.cumulative AS VARCHAR), 'A')
				, TEMP101139273793 = ISNULL(CAST(C3.cumulative AS VARCHAR), 'A'), WALLET = ISNULL(CAST(W.cumulative AS VARCHAR), 'A')
		FROM #MAIN C1
		LEFT JOIN #TEMP139286032 C100 ON C100.TRAN_DATE = C1.TRAN_DATE
		LEFT JOIN #TEMP139265123 C2 ON C1.TRAN_DATE = C2.TRAN_DATE
		LEFT JOIN #TEMP101139273793 C3 ON C1.TRAN_DATE = C3.TRAN_DATE
		LEFT JOIN #WALLET_CUSTOMER W ON C1.TRAN_DATE = W.TRAN_DATE
	END
END

GO
