ALTER  PROC [dbo].[proc_paidTxnReport]
(
	@FROMDATE		VARCHAR(10)	
	,@TODATE		VARCHAR(10)	
	,@DATETYPE		VARCHAR(10)	= 'CANCEL'  ---- PARAMETER NOT REQUIRED
	,@Title         VARCHAR(50)=NULL
	,@REPORTTYPE	VARCHAR(20)	
)
AS
SET NOCOUNT ON;
BEGIN
DECLARE @AGENT INT

IF OBJECT_ID(N'tempdb..#TEMPREPORT') IS NOT NULL
        DROP TABLE #TEMPREPORT

CREATE TABLE #TEMPREPORT
(
	 SCOUNTRY			VARCHAR(100)
	,SAGENT				VARCHAR(150)
	,DATE				VARCHAR(10)
	,REMARKS			VARCHAR(30)
	,SN					INT
	,TXN				INT
	,PAYOUTCURR			VARCHAR(3)
	,PAYOUTAMT			MONEY
	,PAYOUTUSD			MONEY
	,PCOMUSD			MONEY
	,SUPERAGENTCOMUSD	MONEY
	,FXUSD				MONEY
)


INSERT INTO #TEMPREPORT(
	SAGENT				 
	,DATE			 
	,REMARKS			 
	,SN				 
	,TXN				 
	,PAYOUTAMT			 
	,PAYOUTUSD	
)
SELECT 

	SAGENT		=	UPPER(pAGENTNAME)
	,PAIDDATE	=	CONVERT(varchar,PAIDDATE,101)
	,REMARKS	=	CASE WHEN  @DATETYPE='CONFIRMED' THEN 'Send(+)' else 'Paid(+)'  END
	,SN			=	1
	,TXN		=	COUNT(*)
	,PAYOUTAMT	=	SUM(PAMT)
	,PAYOUTUSD	=	SUM(ROUND(CAST(ROUND(PAMT/PCURRCOSTRATE,2) AS MONEY),2))
				 
FROM SendMnPro_Remit.dbo.REMITTRAN WITH (NOLOCK)
WHERE --sAgent IN (4746,4812) AND
PAIDDATE  BETWEEN @FROMDATE AND @TODATE+' 23:59:59:998'
GROUP BY pAGENTNAME,CONVERT(varchar,paidDate,101)


--IF @DATETYPE='CANCEL'
--BEGIN
--INSERT INTO #TEMPREPORT(
--	 SAGENT				 
--	,DATE			 
--	,REMARKS			 
--	,SN				 
--	,TXN				 
--	,PAYOUTAMT			 
--	,PAYOUTUSD			 
--)
  
--SELECT 
--	 SAGENT		=	UPPER(SAGENTNAME)
-- 	,CANCELDATE	=	CONVERT(varchar,CANCELAPPROVEDDATE,101)
--	,REMARKS	=	'Cancel(-)'  
--	,SN			=	2
--	,TXN		=	COUNT(*)
--	,PAYOUTAMT	=	SUM(PAMT)
--	,PAYOUTUSD	=	SUM(ROUND(CAST(ROUND(PAMT/PCURRCOSTRATE,2) AS MONEY),2))
				 
--FROM SendMnPro_Remit.dbo.REMITTRAN WITH (NOLOCK)
--WHERE --sAgent IN (4746,4812) AND 
--CANCELAPPROVEDDATE BETWEEN @FROMDATE AND @TODATE + ' 23:59:59:998'
--GROUP BY SAGENTNAME,CONVERT(varchar,CANCELAPPROVEDDATE,101)
--END


DECLARE @SQL VARCHAR (MAX) 

IF @REPORTTYPE	='DATE-SUMMARY'
SET @SQL='SELECT DATE'

IF @REPORTTYPE	='COUNTRY-SUMMARY'
SET @SQL='SELECT SCOUNTRY COUNTRY' 

IF @REPORTTYPE	='AGENT-SUMMARY'
SET @SQL='SELECT SAGENT [AGENT]' 


--,REMARKS	,PAYOUT_CURR		=PAYOUTCURR
--,[Pay Com.]			=SUM(PCOMUSD)	 
--		,[Sup. Agent Com.]	=SUM(SUPERAGENTCOMUSD)
--		,[FX Sharing]		=SUM(FXUSD)
--		,[Settlement]		=SUM(PAYOUTUSD)	+SUM(PCOMUSD) +SUM(SUPERAGENTCOMUSD)	+	SUM(FXUSD)

SET @SQL=@SQL+ '
	,SUM(CASE WHEN REMARKS=''Paid(+)'' THEN TXN ELSE 0 END)  AS [PAID TXN]
	,SUM(CASE WHEN REMARKS=''Paid(+)'' THEN  (PAYOUTAMT) ELSE 0 END) [PAID NPR]
	,SUM(CASE WHEN REMARKS=''Paid(+)'' THEN  (PAYOUTUSD) ELSE 0 END ) [PAID USD]
	,SUM(CASE WHEN REMARKS=''Cancel(-)'' THEN TXN ELSE 0 END ) AS [CANCEL TXN]
	,SUM(CASE WHEN REMARKS=''Cancel(-)'' THEN  (PAYOUTAMT) ELSE 0 END ) [CANCEL NPR]
	,SUM(CASE WHEN REMARKS=''Cancel(-)'' THEN  (PAYOUTUSD) ELSE 0 END ) [CANCEL USD]
FROM #TEMPREPORT '

IF @REPORTTYPE	='DATE-SUMMARY'

SET @SQL= @SQL+ 'GROUP BY DATE
				 ORDER BY DATE'


IF @REPORTTYPE	='COUNTRY-SUMMARY'
SET @SQL=@SQL+ 'GROUP BY SCOUNTRY
		  ORDER BY SCOUNTRY'

IF @REPORTTYPE	='AGENT-SUMMARY'
SET @SQL=@SQL+ 'GROUP BY SAGENT
		  ORDER BY SAGENT' 

 print @SQL
EXEC (@SQL)
EXEC proc_errorHandler '0', 'Report has been prepared successfully.', NULL

  SELECT 'From Date' head, CONVERT(VARCHAR(10), @FROMDATE, 101) value UNION
  SELECT 'To Date' head, CONVERT(VARCHAR(10), @TODATE, 101) value 
 
  SELECT title = @Title
END





GO
