USE [SendMnPro_Account]
GO
/****** Object:  StoredProcedure [dbo].[proc_RecordFundCancel]    Script Date: 8/23/2020 5:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_RecordFundCancel]
	@flag CHAR(1) = NULL,
	@date VARCHAR(20),
	@ExRate_user MONEY =NULL,
	@company_id VARCHAR(5),	
	@user VARCHAR(50)

as
--EXEC [proc_RecordFundCancel] @date='2017-04-21',@company_id='1',@user='PRALHAD'

SET NOCOUNT ON;
SET XACT_ABORT ON;
	
	DECLARE @msg VARCHAR(MAX) =''
		 
	UPDATE REMIT_TRN_MASTER set EX_USD =1 WHERE TRN_DATE BETWEEN @date  AND  @date +' 23:59:59.998'  
	AND (EX_USD = 0 OR EX_USD IS NULL)

--------------------------------------------------------------------------
begin try
---------------DATA FOR VOUCHER GENERATION--------------------------------
	DECLARE @GLOBALREMIT INT = 6873	,@KUMARIAPI INT = 9267
	--DECLARE @GLOBALREMIT INT = 1069	,@KUMARIAPI INT = 1092,@msg VARCHAR(MAX)

	IF OBJECT_ID(N'tempdb..#TEMPTXNSEND') IS NOT NULL
        DROP TABLE #TEMPTXNSEND
		 
		 SELECT	 
				 TRN_REF_NO
				,S_AGENT
				,S_COUNTRY
				,TRN_TYPE
				,NPR_USD_RATE
				,EX_USD
				,EX_FLC
				,SETTLEMENT_RATE
			---	,EX_USD SCURRCOSTRATE
				,S_CURR
				,S_AMT
				,USD_AMT
				,SC_TOTAL
				,SC_HO
				,SC_S_AGENT
				,P_AMT
				,p_amt_act
				,agent_ex_gain
				,agent_receiverSCommission
				,TRN_DATE
	INTO #TEMPTXNSEND
	FROM REMIT_TRN_MASTER R  WITH (NOLOCK)
	WHERE CANCEL_DATE BETWEEN @date  AND  @date+' 23:59:59'
	AND F_CANCEL ='Y'
	AND S_AGENT NOT IN (@GLOBALREMIT,@KUMARIAPI)
	
	IF NOT EXISTS(SELECT TOP 1 * FROM #TEMPTXNSEND )
	BEGIN
		EXEC proc_errorHandler 1,'VOUCHER ALREADY GENERATED / NO TRANSACTION FOUND',null
		RETURN;
	END

	ALTER TABLE #TEMPTXNSEND ADD SAGENTID INT

	UPDATE #TEMPTXNSEND SET SAGENTID = AGENT_ID 
	FROM #TEMPTXNSEND T INNER JOIN AGENTTABLE S  WITH (NOLOCK)
	ON T.S_AGENT = S.map_code
	 

		
UPDATE #TEMPTXNSEND SET SETTLEMENT_RATE = 1 WHERE isnull(SETTLEMENT_RATE,'') = ''

UPDATE #TEMPTXNSEND  SET EX_USD = 1 WHERE isnull(EX_USD,'' ) = ''

IF OBJECT_ID(N'tempdb..#SEND') IS NOT NULL
        DROP TABLE #SEND
SELECT
	IDENTITY(INT,1,1) AS SN, COUNT(*) TRAN_COUNT,S_AGENT,  S_CURR, SAGENTID
			,USD_P_AMT			= SUM(ROUND(ISNULL(USD_AMT,0),2))
			,USD_P_COMM			= SUM(ROUND(ISNULL(SC_TOTAL/EX_USD,0),2))
			,USD_FX_SHARING		= 0
			,NPR_FX_SHARING		= 0
			,NPR_P_COMM			= SUM(ROUND(ISNULL(SC_TOTAL * EX_FLC,0),2))
			,NPR_P_AMT			= SUM(ROUND(ISNULL(P_AMT,0),2))
			,SETTLEMENT_RATE	= SETTLEMENT_RATE
	INTO #SEND
	FROM #TEMPTXNSEND 
	GROUP BY  S_AGENT, S_CURR,SAGENTID,SETTLEMENT_RATE

--####Preparing to update account balance starts	

DECLARE 
	@acct_num			VARCHAR(50)	,
	@TRAN_Amt			MONEY		, 
	@USD_Amt			MONEY		,
	@PART_TRAN_TYPE		VARCHAR(2)	,
	@current_id			INT			,
	@max_id				INT
	
DECLARE @tempFundAmount TABLE(AGENTID VARCHAR(20),RATE MONEY,REMAINAMT MONEY,TRAN_ID INT)

INSERT INTO @tempFundAmount
SELECT S.S_AGENT,RATE = ISNULL(S.WeightedRate,S.USD_RATE),REMAIN_AMT = (S.REMAIN_AMT),S.TRAN_ID
FROM SendTransactionSummary S(NOLOCK)
INNER JOIN(
	SELECT S_AGENT,TRAN_ID = MAX(TRAN_ID) FROM SendTransactionSummary(NOLOCK)
	GROUP BY S_AGENT
)X ON S.S_AGENT = X.S_AGENT AND S.TRAN_ID = X.TRAN_ID

BEGIN TRANSACTION
----------Update account balance starts
--SELECT S.REMAIN_AMT,(T.USD_P_AMT + T.USD_P_COMM) TAMT,s.CUMMNPR,(T.USD_P_AMT + T.USD_P_COMM)*T.SETTLEMENT_RATE
--		FROM SendTransactionSummary S 
--		INNER JOIN @tempFundAmount F ON S.TRAN_ID = F.TRAN_ID
--		INNER JOIN #SEND T ON S.S_AGENT = t.S_AGENT
--		where t.S_CURR <> 'NPR' 
		
		SELECT S_AGENT, SUM(USD_P_AMT + USD_P_COMM) USD,SUM((USD_P_AMT + USD_P_COMM)*SETTLEMENT_RATE) AS NPR
		INTO #CollectedAmt FROM #SEND where S_CURR <> 'NPR' 
		GROUP BY S_AGENT


		UPDATE S SET 
			S.REMAIN_AMT = REMAIN_AMT - USD
			,s.CUMMNPR = s.CUMMNPR - NPR
		FROM SendTransactionSummary S 
		INNER JOIN @tempFundAmount F ON S.TRAN_ID = F.TRAN_ID
		INNER JOIN #CollectedAmt T ON S.S_AGENT = t.S_AGENT
	
		UPDATE S SET S.WeightedRate = CASE WHEN CUMMNPR = REMAIN_AMT THEN 0 ELSE CUMMNPR / REMAIN_AMT END
		FROM SendTransactionSummary S 
		INNER JOIN @tempFundAmount F ON S.TRAN_ID = F.TRAN_ID

------## END OF VOUCHER ENTRY
	
IF @@TRANCOUNT > 0	
COMMIT TRANSACTION

EXEC proc_errorHandler 0,'PROCESS COMPLETED',null

RETURN

 
END TRY
BEGIN CATCH
SELECT ERROR_MESSAGE()

IF @@TRANCOUNT > 0
ROLLBACK TRANSACTION
END CATCH


GO
