USE [SendMnPro_Remit]
GO
/****** Object:  StoredProcedure [dbo].[PROC_WALLET_DEPOSIT]    Script Date: 8/23/2020 5:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[PROC_WALLET_DEPOSIT]
(
	@FLAG			VARCHAR(30)
	,@USER			VARCHAR(80) = NULL
	,@AMOUNT		MONEY = NULL
	,@BILL_NO		VARCHAR(50) = NULL
	,@DATE			DATETIME = NULL
	,@DESCRIPTION	NVARCHAR(150) = NULL
	,@VAT_FLAG		BIT = NULL
	,@ROW_ID		BIGINT = NULL
	,@RESPONSE_CODE	NVARCHAR(100) = NULL
	,@RESPONSE_MESSAGE	NVARCHAR(250) = NULL
	,@XML			NVARCHAR(MAX) = NULL
	,@TP_CODE		VARCHAR(50) = NULL
	,@TP_CODE_EXTRA	VARCHAR(50) = NULL
)
AS;
SET NOCOUNT ON;
SET XACT_ABORT ON;
BEGIN
	DECLARE @CUSTOMER_ID BIGINT = NULL
	IF @FLAG = 'REQUEST'
	BEGIN
		SELECT @CUSTOMER_ID = CUSTOMERID
		FROM CUSTOMERMASTER (NOLOCK) 
		WHERE EMAIL = @USER 
		AND APPROVEDBY IS NOT NULL 
		AND APPROVEDDATE IS NOT NULL

		IF @CUSTOMER_ID IS NULL
		BEGIN
			EXEC proc_errorHandler 1, 'Invalid customer!', NULL
			RETURN
		END
		IF ISNULL(@AMOUNT, 0) = 0
		BEGIN
			EXEC proc_errorHandler 1, 'Amount can not be empty or negative!', NULL
			RETURN
		END

		INSERT INTO TBL_WALLET_DEPOSIT_REQUEST([USER], CUSTOMER_ID, AMOUNT, BILL_NO, [DATE], [DESCRIPTION], VAT_FLAG
				, CREATED_BY, CREATED_DATE, IS_EXPIRED, IS_SUCCESS, RESPONSE_CODE, RESPONSE_MESSAGE)
		SELECT @USER, @CUSTOMER_ID, @AMOUNT, @BILL_NO, @DATE, @DESCRIPTION, @VAT_FLAG
						, @USER, GETDATE(), 0, 0, NULL, NULL

		SET @ROW_ID = @@IDENTITY
		SELECT @BILL_NO = RIGHT(REPLACE(NEWID(), '-', '')+RIGHT('0000000' + CAST(@ROW_ID AS VARCHAR), 6), 20)

		UPDATE TBL_WALLET_DEPOSIT_REQUEST SET BILL_NO = @BILL_NO WHERE ROW_ID = @ROW_ID

		INSERT INTO TBL_WALLET_DEPOSIT_LOG(DEPOSIT_ID, REQUEST_RESPONSE, [TYPE], LOG_DATE)
		SELECT @ROW_ID, @XML, 'REQUEST', GETDATE()

		--EXEC proc_errorHandler 0, 'Success', @BILL_NO
		SELECT 0 ERRORCODE, 'Success' MSG, @BILL_NO ID, @ROW_ID EXTRA
		RETURN
	END
	IF @FLAG = 'ERROR'
	BEGIN
		UPDATE TBL_WALLET_DEPOSIT_REQUEST SET RESPONSE_CODE = @RESPONSE_CODE, RESPONSE_MESSAGE = @RESPONSE_MESSAGE,
								IS_EXPIRED = 1, STATUS_UPDATED_DATE = GETDATE()
		WHERE ROW_ID = @ROW_ID

		INSERT INTO TBL_WALLET_DEPOSIT_LOG(DEPOSIT_ID, REQUEST_RESPONSE, [TYPE], LOG_DATE)
		SELECT @ROW_ID, @XML, 'RESPONSE', GETDATE()

		EXEC proc_errorHandler 0, 'Success', NULL
		RETURN
	END
	IF @FLAG = 'SUCCESS'
	BEGIN
		UPDATE TBL_WALLET_DEPOSIT_REQUEST SET RESPONSE_CODE = @RESPONSE_CODE, RESPONSE_MESSAGE = @RESPONSE_MESSAGE,
								IS_EXPIRED = 1, TP_CODE = @TP_CODE, TP_CODE_EXTRA = @TP_CODE_EXTRA
		WHERE ROW_ID = @ROW_ID

		INSERT INTO TBL_WALLET_DEPOSIT_LOG(DEPOSIT_ID, REQUEST_RESPONSE, [TYPE], LOG_DATE)
		SELECT @ROW_ID, @XML, 'RESPONSE', GETDATE()

		EXEC proc_errorHandler 0, 'Success', NULL
		RETURN
	END
	IF @FLAG = 'PAID'
	BEGIN
		SELECT 
			  @USER				=  [USER]				
			 ,@AMOUNT			=  AMOUNT		
			 ,@BILL_NO			=  BILL_NO		
			 ,@DATE				=  [DATE]			
			 ,@DESCRIPTION		=  [DESCRIPTION]
			 ,@CUSTOMER_ID		=  CUSTOMER_ID
		FROM TBL_WALLET_DEPOSIT_REQUEST (NOLOCK) 
		WHERE ROW_ID = @ROW_ID 
		AND IS_EXPIRED = 0


		IF @USER IS NULL
		BEGIN
			EXEC proc_errorHandler 1, 'Record is already expired or updated!', NULL
			RETURN
		END

		BEGIN TRAN
		INSERT INTO TBL_WALLET_DEPOSIT_LOG(DEPOSIT_ID, REQUEST_RESPONSE, [TYPE], LOG_DATE)
		SELECT @ROW_ID, @XML, 'RESPONSE', GETDATE()

		UPDATE TBL_WALLET_DEPOSIT_REQUEST SET RESPONSE_CODE = @RESPONSE_CODE, RESPONSE_MESSAGE = @RESPONSE_MESSAGE
		WHERE ROW_ID = @ROW_ID

		UPDATE customerMaster SET AVAILABLEBALANCE = ISNULL(AVAILABLEBALANCE, 0) + @AMOUNT WHERE CUSTOMERID = @CUSTOMER_ID

		--PUT THE LOGIC TO INSERT INTO TRAN TEMP TABLE HERE
		COMMIT TRAN        
		IF @@TRANCOUNT=0      
		BEGIN      
			EXEC proc_errorHandler 0, 'Success', NULL

			--PUT THE LOGIC TO GENERATE VOUCHER HERE
			RETURN      
		END      
	END
END
GO
