USE [SendMnPro_Remit]
GO
/****** Object:  StoredProcedure [dbo].[PROC_TWO_FACTOR_AUT]    Script Date: 8/23/2020 5:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_TWO_FACTOR_AUT]
(
	@FLAG VARCHAR(20)
	, @USER VARCHAR(30) 
	, @USER_ID INT = NULL
	, @USER_NAME VARCHAR(50) = NULL
	, @USER_UNIQUE_CODE VARCHAR(200) = NULL
	, @LOGIN_IP_ADDRESS VARCHAR(50) = NULL
	, @LOGIN_COUNTRY NVARCHAR(200) = NULL
	, @LOGIN_COUNTRY_CODE NVARCHAR(200) = NULL
	, @LOGIN_CITY NVARCHAR(200) = NULL 
	, @LOGIN_REGION NVARCHAR(200) = NULL 
	, @LOGIN_LAT NVARCHAR(200) = NULL 
	, @LOGIN_LONG NVARCHAR(200) = NULL 
	, @LOGIN_TIMEZONE NVARCHAR(200) = NULL 
	, @LOGIN_ZIPCODDE NVARCHAR(200) = NULL 
	, @LOGIN_BROWSER NVARCHAR(100) = NULL
	, @LOGIN_BROWSER_VERSION VARCHAR(100) = NULL
	, @OTP_USED VARCHAR(10) = NULL
)
AS
SET NOCOUNT ON;
SET XACT_ABORT ON;
BEGIN
	IF @FLAG = 'EMAIL'
	BEGIN
		IF NOT EXISTS(SELECT 1 FROM TBL_USER_2FA_SETUP (NOLOCK) WHERE [USER_ID] = @USER_ID)
		BEGIN
			INSERT INTO TBL_USER_2FA_SETUP([USER_ID], [USER_NAME], USER_UNIQUE_CODE, CREATED_BY, CREATED_DATE, MAIL_SEND_DATE, MAIL_SEND_USER)
			SELECT @USER_ID, @USER_NAME, @USER_UNIQUE_CODE, @USER, GETDATE(), GETDATE(), @USER
		END
		ELSE
		BEGIN
			UPDATE TBL_USER_2FA_SETUP SET USER_UNIQUE_CODE = @USER_UNIQUE_CODE, MAIL_SEND_DATE = GETDATE(), MAIL_SEND_USER = @USER
			WHERE [USER_ID] = @USER_ID
		END
		SELECT [USER_ID], [USER_NAME], 
				USER_UNIQUE_CODE, 
				[NAME] = ISNULL(A.FIRSTNAME, '') + ISNULL(' '+A.MIDDLENAME, '') + ISNULL(' '+A.LASTNAME, ''), 
				email = A.email
		FROM TBL_USER_2FA_SETUP T(NOLOCK)
		INNER JOIN APPLICATIONUSERS A(NOLOCK) ON A.USERID = T.[USER_ID]
		WHERE [USER_ID] = @USER_ID
	END
END




GO
