USE [SendMnPro_Remit]
GO
/****** Object:  StoredProcedure [dbo].[PROC_EXRATE_SYNC_TP]    Script Date: 8/23/2020 5:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--exec PROC_EXRATE_SYNC_TP @flag = 'SC'

CREATE PROC [dbo].[PROC_EXRATE_SYNC_TP]
(
	@FLAG VARCHAR(10)
	,@EX_RATE VARCHAR(30) = NULL
	,@P_COUNTRY_ID INT = NULL
	,@PAYOUT_PARTNER INT = NULL
	,@P_CURR VARCHAR(5) = NULL
)
AS
SET NOCOUNT ON;
SET XACT_ABORT ON;
BEGIN
	IF @FLAG = 'EXRATE'
	BEGIN 
		SELECT * FROM(
		SELECT customerRate = pRate - pMargin, pCountryId = country, pCountry = countryName, currency = CU.CURRENCYCODE
		FROM DEFEXRATE D
		INNER JOIN countryMaster CM(NOLOCK) ON CM.COUNTRYID = D.COUNTRY
		INNER JOIN COUNTRYCURRENCY CCM(NOLOCK) ON CCM.COUNTRYID = CM.COUNTRYID
		INNER JOIN CURRENCYMASTER CU(NOLOCK) ON CU.CURRENCYID = CCM.CURRENCYID
		WHERE COUNTRY IN (151, 203)
		AND ISNULL(CCM.ISDEFAULT, 'N') = 'Y'
		AND ISNULL(CCM.ISDELETED, 'N') = 'N'
		AND ISNULL(CCM.ISACTIVE, 'Y') = 'Y'

		UNION ALL

		SELECT customerRate = T.CUSTOMER_RATE, pCountryId = T.P_COUNTRY_ID, pCountry = CM.COUNTRYNAME, currency = CU.CURRENCYCODE
		FROM TBL_THIRDPARTY_EX_RATE T
		INNER JOIN countryMaster CM(NOLOCK) ON CM.COUNTRYID = T.P_COUNTRY_ID
		INNER JOIN COUNTRYCURRENCY CCM(NOLOCK) ON CCM.COUNTRYID = CM.COUNTRYID
		INNER JOIN CURRENCYMASTER CU(NOLOCK) ON CU.CURRENCYID = CCM.CURRENCYID
		WHERE ISNULL(CCM.ISDEFAULT, 'N') = 'Y'
		AND ISNULL(CCM.ISDELETED, 'N') = 'N'
		AND ISNULL(CCM.ISACTIVE, 'Y') = 'Y'
		)X
		ORDER BY pCountry
	END
	ELSE IF @FLAG = 'S'
	BEGIN
		SELECT TP.AgentId, CM.COUNTRYNAME, TP.COUNTRYID, CM.COUNTRYCODE, CU.currencyCode, SCURR = 'JPY', SCOUNTRY = 'JAPAN'
		FROM TblPartnerwiseCountry TP(NOLOCK)
		INNER JOIN countryMaster CM(NOLOCK) ON CM.COUNTRYID = TP.COUNTRYID
		INNER JOIN COUNTRYCURRENCY CCM(NOLOCK) ON CCM.COUNTRYID = CM.COUNTRYID
		INNER JOIN CURRENCYMASTER CU(NOLOCK) ON CU.CURRENCYID = CCM.CURRENCYID
		WHERE ISNULL(TP.ISREALTIME, 0) = 1
		AND ISNULL(TP.ISACTIVE, 0) = 1
		AND ISNULL(CCM.ISDEFAULT, 'N') = 'Y'
		AND ISNULL(CCM.ISDELETED, 'N') = 'N'
		AND ISNULL(CCM.ISACTIVE, 'Y') = 'Y'
	END
	ELSE IF @FLAG = 'SC'
	BEGIN
		SELECT SSCMASTERID, CM.COUNTRYNAME INTO #TEMP FROM SSCMASTER S(NOLOCK)
		INNER JOIN COUNTRYMASTER CM(NOLOCK) ON CM.COUNTRYID = S.rCountry
		WHERE ISNULL(S.isActive, 'Y')  = 'Y'
		AND ISNULL(S.ISDELETED, 'N') = 'N'

		SELECT countryName, fromAmt, toAmt, fee = minAmt INTO #MAIN FROM #TEMP T
		INNER JOIN SSCDETAIL SC(NOLOCK) ON T.sscMasterId = SC.sscMasterId
		WHERE ISNULL(SC.ISACTIVE, 'Y') = 'Y'
		AND ISNULL(ISDELETED, 'N') = 'N'

		SELECT 
			L.COUNTRYNAME, 
			(SELECT ';' + CAST(FROMAMT AS VARCHAR) + ' - ' + CAST(TOAMT AS VARCHAR)
			FROM #MAIN M
			WHERE M.COUNTRYNAME = L.COUNTRYNAME
			FOR XML PATH('')) [AMT],
			(SELECT ';' + CAST(fee AS VARCHAR)
			FROM #MAIN M
			WHERE M.COUNTRYNAME = L.COUNTRYNAME
			FOR XML PATH('')) [LIMIT],
			(SELECT ';' + CASE WHEN CR.RECEIVINGMODE = 1 THEN 'CPU'
																WHEN CR.RECEIVINGMODE = 2 THEN 'BT' 
																WHEN CR.RECEIVINGMODE = 12 THEN 'HD'
															END 
			FROM COUNTRYMASTER CM(NOLOCK)
			INNER JOIN COUNTRYRECEIVINGMODE CR(NOLOCK) ON CR.COUNTRYID = CM.COUNTRYID
			WHERE CM.COUNTRYNAME = L.COUNTRYNAME
			FOR XML PATH('')) [RECEIVINGMODE]
		INTO #UPDATE
		FROM #MAIN L
		--WHERE L.COUNTRYNAME = 'NEPAL'
		GROUP BY L.COUNTRYNAME

		UPDATE #UPDATE SET [AMT] = STUFF([AMT], 1, 1, ''), [LIMIT] = STUFF([LIMIT], 1, 1, ''), [RECEIVINGMODE] = STUFF([RECEIVINGMODE], 1, 1, '')

		SELECT U.*, CU.CURRENCYCODE FROM #UPDATE U
		INNER JOIN countryMaster CM(NOLOCK) ON CM.COUNTRYNAME = U.COUNTRYNAME
		INNER JOIN COUNTRYCURRENCY CCM(NOLOCK) ON CCM.COUNTRYID = CM.COUNTRYID
		INNER JOIN CURRENCYMASTER CU(NOLOCK) ON CU.CURRENCYID = CCM.CURRENCYID
		WHERE ISNULL(CCM.ISDEFAULT, 'N') = 'Y'
		AND ISNULL(CCM.ISDELETED, 'N') = 'N'
		AND ISNULL(CCM.ISACTIVE, 'Y') = 'Y'
	END
	ELSE IF @FLAG = 'I'
	BEGIN
		DECLARE @pCurrHoMargin FLOAT, @pAgent INT

		SELECT @pAgent = agentId
		FROM AGENTMASTER(NOLOCK)
		WHERE PARENTID = @PAYOUT_PARTNER

		SELECT 
			@pCurrHoMargin	= pCurrHoMargin
		FROM dbo.FNAGetExRate(113, 394392, 394392, 'JPY', @P_COUNTRY_ID, @pAgent, @P_CURR, 1)
		--sCountryId, sAgent, sBranch, collCurr

		IF EXISTS(SELECT * FROM TBL_THIRDPARTY_EX_RATE (NOLOCK) WHERE P_COUNTRY_ID = @P_COUNTRY_ID)
		BEGIN
			UPDATE TBL_THIRDPARTY_EX_RATE SET P_AGENT_ID = @PAYOUT_PARTNER, P_CURR = @P_CURR, SETT_RATE = @EX_RATE, MARGIN = @pCurrHoMargin,
						CUSTOMER_RATE = CAST(@EX_RATE AS FLOAT) - @pCurrHoMargin, LAST_UPDATED_DATE = GETDATE()
			WHERE P_COUNTRY_ID = @P_COUNTRY_ID
			RETURN
		END

		INSERT INTO TBL_THIRDPARTY_EX_RATE(P_COUNTRY_ID, P_AGENT_ID, P_CURR, SETT_RATE, MARGIN, CUSTOMER_RATE, LAST_UPDATED_DATE)
		SELECT @P_COUNTRY_ID, @PAYOUT_PARTNER, @P_CURR, @EX_RATE, @pCurrHoMargin, CAST(@EX_RATE AS FLOAT) - @pCurrHoMargin, GETDATE()
	END
END
--select * from TBL_THIRDPARTY_EX_RATE
--CREATE TABLE TBL_THIRDPARTY_EX_RATE
--(
--	ROW_ID INT NOT NULL IDENTITY(1, 1) PRIMARY KEY
--	,P_COUNTRY_ID INT NOT NULL
--	,P_AGENT_ID INT NOT NULL
--	,P_CURR VARCHAR(5) NOT NULL
--	,SETT_RATE FLOAT NOT NULL
--	,MARGIN FLOAT NOT NULL
--	,CUSTOMER_RATE FLOAT NOT NULL
--	,LAST_UPDATED_DATE DATETIME NOT NULL
--)

GO
