USE [SendMnPro_Remit]
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_AVAILABALE_BALANCE]    Script Date: 8/23/2020 5:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_UPDATE_AVAILABALE_BALANCE]  
(  
 @FLAG    VARCHAR(50)   
 ,@S_AGENT   INT     = NULL  
 ,@S_USER   INT     = NULL  
 ,@S_TYPE   CHAR(1)    = NULL  
 ,@C_AMT    MONEY    = NULL    
 ,@REFERRAL_CODE  VARCHAR(30)   = NULL  
 ,@ONBEHALF   CHAR(1)    = NULL  
)  
AS  
SET NOCOUNT ON;  
SET XACT_ABORT ON;  
BEGIN  
 DECLARE @sType CHAR(1)  
 IF(ISNULL(@REFERRAL_CODE, '') <> '')  
 BEGIN  
  SET @sType = 'R'  
  IF EXISTS(SELECT 1 FROM REFERRAL_AGENT_WISE (NOLOCK) WHERE REFERRAL_CODE = @REFERRAL_CODE AND REFERRAL_TYPE_CODE = 'RB')  
  BEGIN  
   IF EXISTS(SELECT 1 FROM APPLICATIONUSERS (NOLOCK) WHERE USERID = @S_USER AND AGENTID = @S_AGENT)  
   BEGIN  
    --INSERT INTO CASH AND VAULT TABLE FOR BRANCH CASH HOLD LIMIT CHECK  
    SET @sType = 'U'  
   END  
   ELSE  
   BEGIN  
    --INSERT INTO CASH AND VAULT TABLE FOR BRANCH CASH HOLD LIMIT CHECK  
    SET @sType = 'B'  
   END  
  END  
 END  
 ELSE  
 BEGIN  
  IF EXISTS(SELECT 1 FROM AGENTMASTER (NOLOCK) WHERE AGENTID = @S_AGENT AND ISNULL(ISINTL, 0) = 1)  
  BEGIN  
   --SET @sType = 'U'  
   SET @sType = 'A'  
  END  
  ELSE  
  BEGIN  
   IF EXISTS(SELECT 1 FROM APPLICATIONUSERS (NOLOCK) WHERE USERID = @S_USER AND AGENTID = @S_AGENT)  
   BEGIN  
    --INSERT INTO CASH AND VAULT TABLE FOR BRANCH CASH HOLD LIMIT CHECK  
    SET @sType = 'U'  
   END  
   ELSE  
   BEGIN  
    --INSERT INTO CASH AND VAULT TABLE FOR BRANCH CASH HOLD LIMIT CHECK  
    SET @sType = 'B'  
   END  
  END  
 END  
  
 IF @REFERRAL_CODE IS NOT NULL  
 BEGIN  
  IF NOT EXISTS(SELECT 1 FROM REFERRAL_AGENT_WISE (NOLOCK) WHERE REFERRAL_CODE = @REFERRAL_CODE AND REFERRAL_TYPE_CODE = 'RB')  
  BEGIN  
   SELECT @S_AGENT = ROW_ID FROM REFERRAL_AGENT_WISE (NOLOCK) WHERE REFERRAL_CODE = @REFERRAL_CODE  
  END  
 END  
  
 IF @FLAG = 'SEND'  
 BEGIN  
  UPDATE AGENT_BRANCH_RUNNING_BALANCE SET TODAY_SEND = TODAY_SEND + @C_AMT WHERE B_ID = CASE WHEN @sType = 'U' THEN @S_USER ELSE @S_AGENT END AND B_TYPE = @sType  
 END  
 ELSE IF @FLAG = 'CANCEL'  
 BEGIN  
  UPDATE AGENT_BRANCH_RUNNING_BALANCE SET  TODAY_CANCEL = TODAY_CANCEL + @C_AMT WHERE B_ID = CASE WHEN @sType = 'U' THEN @S_USER ELSE @S_AGENT END  
             AND B_TYPE = @sType  
 END  
 ELSE IF @FLAG = 'TRANSFER_TO_VAULT_APPROVE'  
 BEGIN  
  UPDATE dbo.AGENT_BRANCH_RUNNING_BALANCE SET TODAY_CANCEL = TODAY_CANCEL + @C_AMT WHERE B_ID = @S_USER AND B_TYPE = 'U'  
  UPDATE dbo.AGENT_BRANCH_RUNNING_BALANCE SET TODAY_SEND = TODAY_SEND + @C_AMT WHERE B_ID = @S_AGENT AND B_TYPE = 'B'  
 END  
  
 ELSE IF @FLAG = 'TRANSFER_TO_BANK'  
 BEGIN  
  UPDATE dbo.AGENT_BRANCH_RUNNING_BALANCE SET TODAY_CANCEL = ISNULL(TODAY_CANCEL,0) + @C_AMT WHERE B_ID = @S_AGENT AND B_TYPE = 'B'  
 END  
 ELSE IF @FLAG = 'TRANSFER_TO_TELLER'  
 BEGIN  
  UPDATE dbo.AGENT_BRANCH_RUNNING_BALANCE SET TODAY_CANCEL = ISNULL(TODAY_CANCEL,0) + @C_AMT WHERE B_ID = @S_AGENT AND B_TYPE = 'B'  
  UPDATE dbo.AGENT_BRANCH_RUNNING_BALANCE SET TODAY_SEND = TODAY_SEND + @C_AMT WHERE B_ID = @S_USER AND B_TYPE = 'U'  
 END  
 ELSE IF @FLAG = 'TRANSFER_TO_OTHER_BRANCH_VAULT'  
 BEGIN  
  UPDATE dbo.AGENT_BRANCH_RUNNING_BALANCE SET TODAY_CANCEL = ISNULL(TODAY_CANCEL,0) + @C_AMT WHERE B_ID = @S_AGENT AND B_TYPE = 'B'  
  UPDATE dbo.AGENT_BRANCH_RUNNING_BALANCE SET TODAY_SEND = TODAY_SEND + @C_AMT WHERE B_ID = @S_USER AND B_TYPE = 'B'  
 END  
 ELSE IF @FLAG = 'TRANSIT_CASH_TRANSFER_TO_VAULT'  
 BEGIN  
  UPDATE AGENT_BRANCH_RUNNING_BALANCE SET TODAY_CANCEL = ISNULL(TODAY_CANCEL,0) + @C_AMT WHERE B_ID = @S_USER AND B_TYPE = 'R'  
  UPDATE AGENT_BRANCH_RUNNING_BALANCE SET TODAY_SEND = TODAY_SEND + @C_AMT WHERE B_ID = @S_AGENT AND B_TYPE = 'B'  
 END  
 ELSE IF @FLAG = 'TRANSIT_CASH_TRANSFER_TO_BANK'  
 BEGIN  
  UPDATE dbo.AGENT_BRANCH_RUNNING_BALANCE SET TODAY_CANCEL = ISNULL(TODAY_CANCEL,0) + @C_AMT WHERE B_ID = @S_AGENT AND B_TYPE = @sType  
 END  
END



GO
