USE [SendMnPro_Remit]
GO
/****** Object:  StoredProcedure [dbo].[PROC_MITASU_REPORT]    Script Date: 8/23/2020 5:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC PROC_MITASU_REPORT @user='ADMIN', @flag='true', @fromDate = '2018-01-01', @toDate = '2019-02-02'

CREATE PROC [dbo].[PROC_MITASU_REPORT]
(
	@user	VARCHAR(40) 
	,@flag		VARCHAR(10) = NULL 
	,@fromDate	VARCHAR(25) = NULL
	,@toDate	VARCHAR(25) = NULL
)
AS;
SET NOCOUNT ON;
SET XACT_ABORT ON;
BEGIN
	CREATE TABLE #MITASU_REPORT([DATE] VARCHAR(15), [WEEK] NVARCHAR(10), SENDING_AMOUNT MONEY, CANCEL_AMOUNT MONEY, UNTRANSED_AMOUNT MONEY, TOTAL_INCOME MONEY
								, PAID_AMOUNT MONEY, RETURN_AMOUNT MONEY, TOTAL_AMOUNT MONEY, TOTAL_PAYOUT MONEY, BALANCE MONEY, PROCEDURE_COST MONEY
								, GUARANTEE_AMOUNT MONEY)

	SELECT [DATE] = CONVERT(VARCHAR, RT.APPROVEDDATE, 111)
			,SENDING = SUM(CASE WHEN RT.TRANSTATUS NOT IN ('CANCEL', 'PAID') THEN RT.CAMT ELSE 0 END)
			,CANCEL = SUM(CASE WHEN RT.TRANSTATUS = 'CANCEL' THEN RT.CAMT ELSE 0 END)
			,PAID = SUM(CASE WHEN RT.TRANSTATUS = 'PAID' THEN RT.CAMT ELSE 0 END)
	INTO #TEMP_TXN
	FROM remitTran RT(NOLOCK) 
	WHERE RT.approvedDate BETWEEN @fromDate AND @toDate + ' 23:59:59'
	GROUP BY CONVERT(VARCHAR, RT.APPROVEDDATE, 111)

	SELECT [DATE] = CONVERT(VARCHAR, CT.TRANDATE, 111)
			, UNTRANSED_AMOUNT = SUM(CASE WHEN CT.HEAD = 'Customer Deposit' THEN CT.DEPOSIT ELSE 0 END) 
									- SUM(CASE WHEN CT.HEAD = 'Send Txn: Bank Deposit' THEN CT.WITHDRAW ELSE 0 END)
			, RETURN_AMOUNT = SUM(CASE WHEN CT.HEAD = 'Customer Refund' THEN CT.WITHDRAW ELSE 0 END)
	INTO #CUSTOMER_TXN
	FROM CUSTOMER_TRANSACTIONS CT(NOLOCK)
	WHERE CT.TRANDATE BETWEEN @fromDate AND @toDate + ' 23:59:59'
	GROUP BY CONVERT(VARCHAR, CT.TRANDATE, 111)

	INSERT INTO #MITASU_REPORT([DATE], [WEEK], SENDING_AMOUNT, CANCEL_AMOUNT, UNTRANSED_AMOUNT
								, PAID_AMOUNT, RETURN_AMOUNT, PROCEDURE_COST)
	SELECT [DATE] = CASE WHEN T.[DATE] IS NOT NULL THEN T.[DATE]
						WHEN C.[DATE] IS NOT NULL THEN C.[DATE]
						ELSE CONVERT(VARCHAR, B.[DATE], 111)
					END
			, '', T.SENDING, T.CANCEL, C.UNTRANSED_AMOUNT, T.PAID, C.RETURN_AMOUNT, PROCEDURE_COST = (B.holdRate / 100) * B.depositAmount 
	FROM #TEMP_TXN T
	FULL OUTER JOIN #CUSTOMER_TXN C ON C.[DATE] = T.[DATE]
	FULL OUTER JOIN BANK_GUARENTEE B(NOLOCK) ON CONVERT(VARCHAR, B.[DATE], 111) = C.[DATE]

	UPDATE #MITASU_REPORT SET TOTAL_INCOME = (ISNULL(SENDING_AMOUNT, 0) + ISNULL(CANCEL_AMOUNT, 0) + ISNULL(UNTRANSED_AMOUNT, 0)) 
												- (ISNULL(PAID_AMOUNT, 0) + ISNULL(RETURN_AMOUNT, 0))
							, TOTAL_PAYOUT = ISNULL(PAID_AMOUNT, 0) + ISNULL(RETURN_AMOUNT, 0)

	UPDATE #MITASU_REPORT SET BALANCE = TOTAL_INCOME - TOTAL_PAYOUT, [WEEK] = DATENAME(DAY, [DATE])

	--UPDATE #MITASU_REPORT SET GUARENTEE_AMOUNT = ISNULL(BALANCE, 0) + ISNULL(PROCEDURE_COST, 0)
		
	IF @flag = 'true'
	BEGIN
		SELECT [DATE],
				[WEEK],
				TOTAL_INCOME, 
				TOTAL_PAYOUT,
				BALANCE,
				PROCEDURE_COST,
				GUARANTEE_AMOUNT
		INTO #FINAL_TBL_TRUE
		FROM(
			SELECT  main.[DATE],
					main.[WEEK],
					main.TOTAL_INCOME, 
					main.TOTAL_PAYOUT,
					main.BALANCE,
					isnull(main.PROCEDURE_COST,t.PROCEDURE_COST)PROCEDURE_COST,
					main.GUARANTEE_AMOUNT,
					ROW_NUMBER()OVER(PARTITION BY main.DATE ORDER BY t.DATE DESC)rn
			FROM #MITASU_REPORT main
			LEFT JOIN #MITASU_REPORT t ON main.PROCEDURE_COST IS NULL AND t.DATE < main.DATE AND t.PROCEDURE_COST IS NOT NULL
		)tb where tb.rn=1

		UPDATE #FINAL_TBL_TRUE SET GUARANTEE_AMOUNT = ISNULL(BALANCE, 0) + ISNULL(PROCEDURE_COST, 0)
		SELECT * FROM #FINAL_TBL_TRUE
	END
	ELSE if @flag = 'false'
	BEGIN
		SELECT [DATE],
				[WEEK],
				SENDING_AMOUNT,
				CANCEL_AMOUNT,
				UNTRANSED_AMOUNT,
				TOTAL_INCOME,
				PAID_AMOUNT,
				RETURN_AMOUNT,
				TOTAL_AMOUNT,
				TOTAL_PAYOUT,
				BALANCE,
				PROCEDURE_COST,
				GUARANTEE_AMOUNT
		INTO #FINAL_TBL_FALSE
		FROM(
			SELECT  main.[DATE],
					main.[WEEK],
					main.SENDING_AMOUNT,
					main.CANCEL_AMOUNT,
					main.UNTRANSED_AMOUNT,
					main.TOTAL_INCOME,
					main.PAID_AMOUNT,
					main.RETURN_AMOUNT,
					main.TOTAL_AMOUNT,
					main.TOTAL_PAYOUT,
					main.BALANCE,
					isnull(main.PROCEDURE_COST,t.PROCEDURE_COST)PROCEDURE_COST,
					main.GUARANTEE_AMOUNT,
					ROW_NUMBER()OVER(PARTITION BY main.DATE ORDER BY t.DATE DESC)rn
			FROM #MITASU_REPORT main
			LEFT JOIN #MITASU_REPORT t ON main.PROCEDURE_COST IS NULL AND t.DATE < main.DATE AND t.PROCEDURE_COST IS NOT NULL
		)tb where tb.rn=1

		UPDATE #FINAL_TBL_FALSE SET GUARANTEE_AMOUNT = ISNULL(BALANCE, 0) + ISNULL(PROCEDURE_COST, 0)
		SELECT * FROM #FINAL_TBL_FALSE
	END
		
	EXEC proc_errorHandler '0', 'Report has been prepared successfully.', NULL
	--UPDATE M SET 
	--FROM #MITASU_REPORT M
	--FULL OUTER JOIN BANK_GUARENTEE B(NOLOCK) ON CONVERT(VARCHAR, B.[DATE], 111) = M.[DATE]
END


GO
