USE [SendMnPro_Remit]
GO
/****** Object:  StoredProcedure [dbo].[mobile_proc_OTPRequest]    Script Date: 8/23/2020 5:48:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[mobile_proc_OTPRequest]
(
	@FLAG VARCHAR(20)
	,@MOBILE VARCHAR(30) = NULL
	,@OTP_CODE VARCHAR(5)
)
AS;
SET NOCOUNT ON;
SET XACT_ABORT ON;
BEGIN
	DECLARE @ROW_ID BIGINT = NULL, @IS_EXPIRED BIT = 0, @IS_USED BIT = 0
	IF @FLAG = 'REQUEST'
	BEGIN
		IF EXISTS(SELECT * FROM TBL_MOBILE_OTP_REQUEST (NOLOCK) WHERE MOBILE_NUMBER = @MOBILE AND IS_SUCCESS = 1)
		BEGIN
			SELECT 1 Code, 'Mobile number is already used!' Msg, NULL Id
			RETURN
		END
		UPDATE TBL_MOBILE_OTP_REQUEST SET IS_EXPIRED = 1 WHERE MOBILE_NUMBER = @MOBILE

		INSERT INTO TBL_MOBILE_OTP_REQUEST(MOBILE_NUMBER, OTP_CODE, REQUESTED_DATE, IS_EXPIRED, IS_SUCCESS)
		SELECT @MOBILE, @OTP_CODE, GETDATE(), 0, 0

		SELECT 0 Code, 'Success' Msg, @OTP_CODE Id
	END
	ELSE IF @FLAG = 'SUBMIT'
	BEGIN
		SELECT @ROW_ID = ROW_ID,
				@IS_EXPIRED = IS_EXPIRED, 
				@IS_USED = IS_SUCCESS
		FROM TBL_MOBILE_OTP_REQUEST(NOLOCK) 
		WHERE MOBILE_NUMBER = @MOBILE 
		AND OTP_CODE = @OTP_CODE
		
		IF @ROW_ID IS NULL
		BEGIN
			SELECT 1 Code, 'Invalid OTP!' Msg, NULL Id
			RETURN
		END
		IF @IS_EXPIRED = 1
		BEGIN
			SELECT 1 Code, 'OTP is already expired!' Msg, NULL Id
			RETURN
		END
		IF @IS_USED = 1
		BEGIN
			SELECT 1 Code, 'OTP is already used!' Msg, NULL Id
			RETURN
		END
		IF EXISTS (SELECT TOP 1 1 FROM TBL_MOBILE_OTP_REQUEST(NOLOCK) WHERE ROW_ID = @ROW_ID AND DATEDIFF(MINUTE, REQUESTED_DATE, GETDATE()) > 3)
		BEGIN
			UPDATE TBL_MOBILE_OTP_REQUEST SET IS_EXPIRED = 1 WHERE MOBILE_NUMBER = @MOBILE AND OTP_CODE = @OTP_CODE
			SELECT 1 Code, 'OTP is already expired!' Msg, NULL Id
			RETURN
		END

		UPDATE TBL_MOBILE_OTP_REQUEST SET VERIFIED_DATE = GETDATE(), IS_SUCCESS = 1
		WHERE MOBILE_NUMBER = @MOBILE AND OTP_CODE = @OTP_CODE AND IS_EXPIRED = 0

		SELECT 0 Code, 'Success' Msg, @ROW_ID Id
	END
END

GO
