ALTER  PROC [dbo].[PROC_JOB_VAULT_TRANSFER_AND_EOD]
(
	@USER VARCHAR(50) = NULL
)
AS
SET NOCOUNT ON;
SET XACT_ABORT ON;
BEGIN
	DECLARE @tranDate DATE , @tranDateOtherAgent DATE

	SELECT @tranDate = CAST(MIN(TRANDATE) AS DATE), @tranDateOtherAgent = CAST(MIN(TRANDATE) AS DATE)
	FROM BRANCH_CASH_IN_OUT (NOLOCK)
	WHERE HEAD IN ('Txn Send', 'Txn Cancel')

	DECLARE @AMOUNT MONEY, @USERID INT, @TRANID INT, @FROM_ACC VARCHAR(30), @TO_ACC VARCHAR(30), @AGENT_ID INT

	SELECT SUM(INAMOUNT)-SUM(OUTAMOUNT) BALANCE, USERID INTO #CHECKING FROM BRANCH_CASH_IN_OUT WHERE 1=1
	AND tranDate BETWEEN CAST(@tranDate AS VARCHAR) and CAST(CAST(GETDATE() AS DATE) AS VARCHAR) + ' 23:59:59'
	AND BRANCHID NOT IN (394394, 394393)
	AND USERID <> 0
	GROUP BY USERID

	INSERT INTO #CHECKING
	SELECT SUM(INAMOUNT)-SUM(OUTAMOUNT) BALANCE, 0 USERID FROM BRANCH_CASH_IN_OUT WHERE 1=1
	AND tranDate BETWEEN CAST(@tranDate AS VARCHAR) and CAST(CAST(GETDATE() AS DATE) AS VARCHAR) + ' 23:59:59'
	and branchid = 394396

	IF NOT EXISTS(SELECT BALANCE FROM #CHECKING WHERE BALANCE <> 0)
	BEGIN
		EXEC PROC_ERRORHANDLER 1, 'NO DATA FOR VAULT TRANSFER', NULL
		RETURN
	END

	WHILE @tranDate <= CAST(GETDATE() AS DATE)
	BEGIN
		IF OBJECT_ID('tempdb..#TEMP') IS NOT NULL DROP TABLE #TEMP

		SELECT SUM(INAMOUNT)-SUM(OUTAMOUNT) BALANCE, USERID INTO #TEMP FROM BRANCH_CASH_IN_OUT WHERE 1=1
		AND tranDate BETWEEN CAST(@tranDate AS VARCHAR) and CAST(@tranDate AS VARCHAR) + ' 23:59:59'
		AND BRANCHID NOT IN (394394, 394393)
		AND USERID <> 0
		GROUP BY USERID

		WHILE EXISTS(SELECT * FROM #TEMP)
		BEGIN
			SELECT @AMOUNT = BALANCE, @USERID = USERID FROM #TEMP

			SELECT @FROM_ACC = ACCT_NUM
			FROM SendMnPro_Account.dbo.AC_MASTER (NOLOCK) 
			WHERE AGENT_ID = @USERID
			AND ACCT_RPT_CODE = 'TCA'

			SELECT @AGENT_ID = AGENTID FROM APPLICATIONUSERS (NOLOCK) WHERE USERID = @USERID

			SELECT @TO_ACC = ACCT_NUM
			FROM SendMnPro_Account.dbo.AC_MASTER (NOLOCK) 
			WHERE AGENT_ID = @AGENT_ID
			AND ACCT_RPT_CODE = 'BVA'

			IF @TO_ACC IS NULL
				SET @TO_ACC = '100139292573'

			IF @AMOUNT <> 0
			BEGIN
				INSERT INTO BRANCH_CASH_IN_OUT (outAmount, inAmount, branchId, userId, tranDate, head, remarks, createdBy, createdDate, referenceId, mode, fromAcc, toAcc)
				SELECT @AMOUNT, 0, @AGENT_ID, @USERID, @tranDate, 'Transfer To Vault', 'Transfer To Vault by user: system', 'system', GETDATE(), 0, 'C', @FROM_ACC, @TO_ACC

				SET @TRANID = @@IDENTITY

				EXEC PROC_VAULTTRANSFER @flag = 'approve', @rowId = @TRANID, @user = 'system'
			END
			DELETE FROM #TEMP WHERE BALANCE = @AMOUNT AND USERID = @USERID
		END
		SET @tranDate = DATEADD(DAY, 1, @tranDate)
	END

	WHILE @tranDateOtherAgent <= CAST(GETDATE() AS DATE)
	BEGIN
		IF OBJECT_ID('tempdb..#TEMP1') IS NOT NULL DROP TABLE #TEMP1

		SELECT SUM(INAMOUNT)-SUM(OUTAMOUNT) BALANCE, @tranDateOtherAgent tranDate INTO #TEMP1 FROM BRANCH_CASH_IN_OUT WHERE 1=1
		AND tranDate BETWEEN CAST(@tranDateOtherAgent AS VARCHAR) and CAST(@tranDateOtherAgent AS VARCHAR) + ' 23:59:59'
		and branchid = 394396


		SELECT @AMOUNT = BALANCE FROM #TEMP1

		IF @AMOUNT <> 0
		BEGIN
			-- NEW SHIN OKUBO OFFICE
			SELECT @FROM_ACC = '121901598'

			--TOKYO MAIN BRANCH
			SELECT @TO_ACC = '100139292573'


			INSERT INTO BRANCH_CASH_IN_OUT (outAmount, inAmount, branchId, userId, tranDate, head, remarks, createdBy, createdDate, referenceId, mode, fromAcc, toAcc)
			SELECT @AMOUNT, 0, 394396, 0, @tranDateOtherAgent, 'Transfer To Vault(From Vault)', 'Transfer To Vault by user: system', 'system', GETDATE(), 0, 'C', @FROM_ACC, @TO_ACC

			SET @TRANID = @@IDENTITY

			EXEC PROC_VAULTTRANSFER @flag = 'approve', @rowId = @TRANID, @user = 'system'
		END
		SET @tranDateOtherAgent = DATEADD(DAY, 1, @tranDateOtherAgent)
	END
END
GO
