USE [SendMnPro_Remit]
GO
/****** Object:  StoredProcedure [dbo].[PROC_TRANSACTION_REPORT]    Script Date: 8/23/2020 5:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[PROC_TRANSACTION_REPORT]
(
	@FLAG VARCHAR(30)
	,@FROM_DATE VARCHAR(20)
	,@TO_DATE VARCHAR(20)
	,@REFERRAL_CODE VARCHAR(30)
)
AS
SET NOCOUNT ON;
SET XACT_ABORT ON;
BEGIN
	SELECT DBO.DECRYPTDB(CONTROLNO) CONTROLNO, CONVERT(VARCHAR,CREATEDDATE,102) CREATEDDATE, CAMT, SENDERNAME, COLLMODE
	FROM REMITTRAN (NOLOCK)
	WHERE PROMOTIONCODE = @REFERRAL_CODE
	AND TRANSTATUS <> 'CANCEL'
	AND CREATEDDATE BETWEEN @FROM_DATE AND @TO_DATE + ' 2359:59'
END


GO
