USE [SendMnPro_Remit]
GO
/****** Object:  StoredProcedure [dbo].[proc_ofacOtherDataManagement]    Script Date: 8/23/2020 5:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--for Inficare data Import

CREATE proc [dbo].[proc_ofacOtherDataManagement]
	 @flag			CHAR(10)		= NULL	
	,@user			VARCHAR(50)		= NULL
AS

SET NOCOUNT ON;

BEGIN TRY

	CREATE TABLE #msg(errorCode INT, msg VARCHAR(100), id INT)	
	DECLARE @dataSource VARCHAR(30)

     if @flag='OTHER'
     begin
			SELECT 1 error_code,'No Record Found.' mes,NULL
			return;
			 BEGIN TRANSACTION

			 DELETE blacklist WHERE dataSource IN ('EU','BXA_DPL','OSFI','FBI','HMS','BXA_un')

			 SELECT * INTO #TEMP  FROM irh_ime_plus_01.dbo.ofac_combined 
			 WHERE SOURCE IN    ('EU','BXA_DPL','OSFI','FBI','HMS','BXA_un')

			 ALTER TABLE #TEMP ADD FLAG INT

			 UPDATE #TEMP SET FLAG=1 FROM #TEMP T,  blacklist B WHERE cast(T.SNO as varchar(20))=B.FROMFILE
			 DELETE FROM #TEMP WHERE FLAG=1

			 INSERT INTO blacklist (OFACKEY,ENTNUM,NAME,VESSELTYPE,ADDRESS,CITY,STATE,ZIP,COUNTRY,REMARKS,SORTORDER,FROMFILE,DATASOURCE,INDENT,SOURCEENTNUM,CREATEDDATE,CREATEDBY)
			 SELECT OFAC_KEY,ENT_NUM,NAME,TYPEV,ADDRESS,CITY,STATE,ZIP,COUNTRY,REMARKS,TYPE_SORT,SNO,SOURCE,INTENT,SOURCE+CAST(OFAC_KEY AS VARCHAR),GETDATE(),@user
			 FROM #TEMP  


			 ALTER TABLE #TEMP ADD BLACKLISTID INT

			 UPDATE #TEMP SET  BLACKLISTID=ROWID FROM #TEMP T, blacklist B
			 WHERE cast(T.SNO as varchar(20))=B.FROMFILE

			 UPDATE  #TEMP SET FLAG=NULL

			 UPDATE #TEMP SET FLAG=1 FROM #TEMP T, BLACKLISTHISTORY H
			 WHERE T.BLACKLISTID=H.BLACKLISTID

			 DELETE FROM #TEMP WHERE FLAG=1

			 INSERT INTO blacklisthistory (blacklistid,OFACKEY,ENTNUM,NAME,VESSELTYPE,ADDRESS,CITY,STATE,ZIP,COUNTRY,REMARKS,SORTORDER,FROMFILE,DATASOURCE,INDENT,SOURCEENTNUM,CREATEDDATE,CREATEDBY)
			 SELECT blacklistid, OFAC_KEY,ENT_NUM,NAME,TYPEV,ADDRESS,CITY,STATE,ZIP,COUNTRY,REMARKS,TYPE_SORT,SNO,SOURCE,INTENT,SOURCE+CAST(OFAC_KEY AS VARCHAR),GETDATE(),@user
			 FROM #TEMP

			 INSERT INTO blacklistLog (totalRecord, dataSource, createdBy, createdDate)
			 SELECT null, 'Others', @user, GETDATE()

		      IF @@TRANCOUNT > 0
			 COMMIT TRANSACTION

			 SELECT 0 error_code,'Others Data imported successfully' mes,NULL
			 RETURN;
     end	


END TRY

BEGIN CATCH

	IF @@TRANCOUNT > 0
     ROLLBACK TRANSACTION
     SELECT 1 error_code, ERROR_MESSAGE() mes, null id

END CATCH




GO
