USE [SendMnPro_Remit]
GO
/****** Object:  StoredProcedure [dbo].[PROC_PROMOTIONAL_CAMPAIGN_COUNTRY_WISE]    Script Date: 8/23/2020 5:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[PROC_PROMOTIONAL_CAMPAIGN_COUNTRY_WISE] 
(
	@ID BIGINT
	,@promotionCode INT = NULL
	,@promotionAmount MONEY = NULL
)
AS;
SET NOCOUNT ON;
SET XACT_ABORT ON;
BEGIN
	DECLARE @AMOUNT MONEY, @DETAIL_MSG VARCHAR(150), @PROMOTION_TYPE INT, @SERVICE_CHARGE MONEY, @NEW_SERVICE_CHARGE MONEY
	
	IF ISNULL(@promotionCode, 0) = 0 OR ISNULL(@promotionAmount, 0) = 0
		RETURN

	SELECT @SERVICE_CHARGE = SERVICECHARGE 
	FROM REMITTRANTEMP (NOLOCK)
	WHERE ID = @ID

	SELECT @AMOUNT = @promotionAmount--PROMOTION_VALUE
			, @DETAIL_MSG = PROMOTIONAL_MSG + ' ('+PROMOTIONAL_CODE+') :'+CAST(@promotionAmount AS VARCHAR)+' JPY ('+detailTitle+')'
			, @PROMOTION_TYPE = PROMOTION_TYPE
	FROM TBL_PROMOTIONAL_CAMAPAIGN P(NOLOCK)
	INNER JOIN STATICDATAVALUE S(NOLOCK) ON S.VALUEID = P.PROMOTION_TYPE
	WHERE ROW_ID = @promotionCode

	IF @SERVICE_CHARGE < ISNULL(@AMOUNT, 0)
		RETURN

	IF @PROMOTION_TYPE = 11318
	BEGIN
		SET @NEW_SERVICE_CHARGE = @SERVICE_CHARGE - ISNULL(@AMOUNT, 0)

		UPDATE REMITTRANTEMP SET promotionType = @promotionCode, pMessage = @DETAIL_MSG, originalSC = @SERVICE_CHARGE, isScMaunal = 1, SERVICECHARGE = @NEW_SERVICE_CHARGE
		WHERE ID = @ID
	END
END


GO
