USE [SendMnPro_Remit]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SAVE_STATEMENT]    Script Date: 8/23/2020 5:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE TABLE JP_LOG
--(
--	XML_DATA NVARCHAR(MAX)
--	,DOWNLOAD_DATE DATETIME
--)

CREATE PROC [dbo].[PROC_SAVE_STATEMENT]
(
	@XML NVARCHAR(MAX)	= NULL
)
AS
SET NOCOUNT ON;
SET XACT_ABORT ON;
BEGIN TRY
	BEGIN
	DECLARE @TOTAL_COUNT INT, @AFTER_DELETE INT
	IF OBJECT_ID('tempdb..#STATEMENT') IS NOT NULL 
		DROP TABLE #STATEMENT

	INSERT INTO JP_LOG
	SELECT @XML, GETDATE()

	DECLARE @XMLDATA XML = CONVERT(xml, replace(@XML,'&','&amp;'), 2) 

	SELECT  IDENTITY(INT, 1, 1) AS rowId
				,p.value('@TRANSACTION_DATE','NVARCHAR(30)') AS 'TRANSACTION_DATE'
				,p.value('@DEPOSIT_AMOUNT','VARCHAR(30)') AS 'DEPOSIT_AMOUNT'
				,p.value('@WITHDRAW_AMOUNT', 'VARCHAR(30)') AS 'WITHDRAW_AMOUNT'
				,p.value('@NARRATION','NVARCHAR(100)') AS 'NARRATION'
				,p.value('@CLOSING_BALANCE','VARCHAR(30)') AS 'CLOSING_BALANCE'
	INTO #STATEMENT
	FROM @XMLDATA.nodes('/root/row') AS STATEMENT_RES(p)

	UPDATE #STATEMENT SET DEPOSIT_AMOUNT = REPLACE(DEPOSIT_AMOUNT, '円', ''), WITHDRAW_AMOUNT = REPLACE(WITHDRAW_AMOUNT, '円', ''), CLOSING_BALANCE = REPLACE(CLOSING_BALANCE, '円', '')
	
	DECLARE @ROW_ID INT
	SELECT @ROW_ID = rowId
	FROM #STATEMENT

	ALTER TABLE #STATEMENT ADD TXN_DATE VARCHAR(30)

	UPDATE #STATEMENT SET TXN_DATE = CASE WHEN ISDATE(CAST(DATEPART(YEAR, GETDATE()) AS VARCHAR)+RIGHT(TRANSACTION_DATE, 6)) = 1 THEN
										CAST(CAST(DATEPART(YEAR, GETDATE()) AS VARCHAR)+RIGHT(TRANSACTION_DATE, 6) AS DATETIME)
										ELSE NULL END

	DELETE FROM #STATEMENT WHERE TXN_DATE IS NULL

	SELECT @TOTAL_COUNT = COUNT(0)
	FROM #STATEMENT

	SELECT DISTINCT RIGHT(TRANSACTION_DATE, 5) TRANSACTION_DATE INTO #DATES 
	FROM #STATEMENT

	DELETE FROM #STATEMENT
	WHERE CAST(DATEPART(YEAR, GETDATE()) AS VARCHAR)+RIGHT(TRANSACTION_DATE, 6) < '2020-02-15'

	DELETE FROM S 
	FROM #STATEMENT S
	INNER JOIN (SELECT *
				FROM CUSTOMER_DEPOSIT_LOGS(NOLOCK) 
				WHERE RIGHT(CONVERT(VARCHAR(10), TRANDATE, 120), 5) IN (SELECT TRANSACTION_DATE FROM #DATES))L ON S.DEPOSIT_AMOUNT = L.depositAmount
				AND S.WITHDRAW_AMOUNT = L.paymentAmount
				AND S.NARRATION = L.particulars
				AND S.CLOSING_BALANCE = L.closingBalance
				AND RIGHT(S.TRANSACTION_DATE, 5) = RIGHT(CONVERT(VARCHAR(10), L.TRANDATE, 120), 5)

	SELECT @AFTER_DELETE = COUNT(0)
	FROM #STATEMENT


	INSERT INTO CUSTOMER_DEPOSIT_LOGS(tranDate, depositAmount, paymentAmount, particulars, closingBalance, isAuto, bankName, isSkipped, isSettled, downloadDate)
	SELECT CAST(CAST(DATEPART(YEAR, GETDATE()) AS VARCHAR)+RIGHT(TRANSACTION_DATE, 6) AS DATETIME),
				DEPOSIT_AMOUNT, WITHDRAW_AMOUNT, NARRATION, CLOSING_BALANCE, 1, '11064', 0, 0, GETDATE()
	FROM #STATEMENT

	DECLARE @MSG VARCHAR(250) = 'Success saving customer deposits. Total: '+CAST(@TOTAL_COUNT AS VARCHAR)+' after delete count: '+CAST(@AFTER_DELETE AS VARCHAR);

	EXEC proc_errorHandler 0, @MSG, ''
	END
END TRY
BEGIN CATCH
	IF @@TRANCOUNT <> 0
			ROLLBACK TRAN
    DECLARE @errorMessage VARCHAR(MAX)
	SET @errorMessage = ERROR_MESSAGE()
	EXEC proc_errorHandler 1, @errorMessage, ''
END CATCH





GO
