USE [SendMnPro_Account]
GO
/****** Object:  View [dbo].[VW_REMITTANCE_SEND_ACCOUNTS]    Script Date: 5/18/2021 5:21:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_REMITTANCE_SEND_ACCOUNTS]
AS
SELECT '100139231259' ACCT_NUM, 'Cash Collected from Customers In Branch (JPY)' ACCT_NAME UNION ALL
SELECT '100241011536', 'JP POST - JPY Customer Account'



GO
