<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--INTERNAL API URL TO CALL -->
    <!--<add key="thirdParty_BaseUrl" value="http://10.15.18.101:3000"/>-->
    <add key="thirdParty_BaseUrl" value="http://localhost:55287/"/>
  </appSettings>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Swift.API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <Swift.API.Properties.Settings>
            <setting name="Swift_API_com_global_www_RemoteRemit" serializeAs="String">
                <value>https://globalremit.net/globalWebService/services/RemoteRemit.RemoteRemitHttpsSoap11Endpoint/</value>
            </setting>
        </Swift.API.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
